{% extends 'website/layout.html.twig' %}

{% block title %}
Se connecter
{% endblock %}

{% block content %}

{# FORMULAIRE DE CONNEXION FATIMA #}



<section class="my-5">
	<div class="container">
		<div class="row  mt-5 align-items-center">
			<div class="col-md-7">
				<p class="radius10 text1 bg_secondary text-light text-uppercase text-center h5 w-75 p-2">Connexion à mon espace personnel</p>
				<p class="text_normal text_secondary text2"> Utilisez votre adresse mail et mot de passe pour s'identifier sur Buy&Rent </p>

				<div class="radius10 shadow-sm p-2 px-5 mt-5" style="background-color:#e1e7e9">
					<h5 class="text-center text-uppercase text1 mt-5">S'identifier </h5> 
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3 text2 text_secondary">
								Vous êtes connecté en tant que {{ app.user.username }}, <a class="text_secondary" href="{{ path('deconnexion') }}">Logout</a>
							</div>
						{% endif %}
						<div class="row align-items-center mt-4">
							<div class="col-md-1">
								<span class="badge bg_secondary text-light radius55">
									<i class="fa fa-envelope my-2 mx-2"></i>
								</span>
							</div>
							<div class="col-md-11">
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control radius55" placeholder="Email" autocomplete="email" required autofocus>
							</div>
						</div>

						<div class="row align-items-center mt-3 mb-5">
							<div class="col-md-1">
								<span class="badge bg_secondary text-light radius55">
									<i class="fa fa-lock my-2 mx-2"></i>
								</span>
							</div>
							<div class="col-md-11">

								<input type="password" name="password" id="inputPassword" class="form-control radius55" autocomplete="current-password" placeholder="Mot de passe "  required>
							</div>
						</div>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="checkbox mb-3 m-auto d-block">
								<label class=" ">
									<input type="checkbox" name="_remember_me"> Se souvenir de moi
								</label>
							</div>
							<button class="btn w-35 radius55 text-light text-center m-auto d-block bg_secondary mb-2" type="submit">
							SE CONNECTER<i class="bi bi-arrow-right-circle-fill h4 float_right mb-0"></i>
							
							</button>
							<center><a class="text-center text2 text-secondary"><small> Mot de passe oublié?</small></a></center>

							<hr class="m-auto bg_secondary my-4"style="width: 20%;height: 3px;">

						<h5 class="text-center text-uppercase text1 mt-5">Se connecter avec <br>Facebook </h5> 
							<a class="btn w-35 radius55 text-light text-center m-auto d-block bg_secondary mb-2" type="submit">
							CONNEXION <i class="bi bi-facebook h4 float_right mb-0"></i>
							
							</a>


					</form>
				</div>
			</div>
			<div class="col-md-5 mt-5 mt-5">
				<hr class="m-auto bg_secondary"style="width: 20%;height: 3px;">
				<h2 class="h2 sous_titre text-center mt-2">PAS ENCORE INSCRIT?</h2>
				<p class="mx-5 text_normal text-center h6 text2 text_justify mt-3" style="margin-right:60px">
					La connexion avec un compte social est ultra rapide. Auncun mot de passe supplémentaire à mémoriser plus de problèmes.<br><br>
					Ne vous inquiétez pas, on ne récupérera pas vos données et on ne publiera rien à votre place.
				</p>
				<br>
				<a href="{{path('inscription')}}" class="btn w-35 radius55 text-light text-center m-auto d-block bg_secondary mb-2" type="submit">
					S'INSCRIRE <i class="bi bi-arrow-right-circle-fill h4 float_right mb-0"></i>
				</a>
			</div>
		</div>
	</div>
</section>

{# FIN FORMULAIRE DE CONNEXION DE FATIMA #}


{% endblock %}
