{% extends 'website/layout.html.twig' %}


{% block title %}
Home page website 
{% endblock %}

{% block content %}


<section class="pt-4" id="content-wrapper" style="width:100%!important">

   <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class=" mx-5 radius35 p-3 card shadow" style="background-color:#e6eed6;">
                        <h4 class="text-center h5 text_secondary text-uppercase mt-4">Nous contacter <br>
                            {{ form_start(form, {'attr': {novalidate: 'novalidate'} }) }}
                        <div class="row mt-4">
                            <div class="col-md-6">
                                {{ form_row(form.prenom,{ attr: { 'class': ' border-0 p-3' }}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.nom,{ attr: { 'class': ' border-0 p-3' }}) }}
                            </div>
                        </div>
                                {{ form_row(form.email,{ attr: { 'class': ' border-0 p-3 mt-4' }}) }}
                                {{ form_row(form.telephone,{ attr: { 'class': ' border-0 p-3  mt-4' }}) }}

                                {{ form_row(form.message,{ attr: { 'class': 'mt-4 border-0' }}) }}
                        <br>
                        <div class="row">
                            {{ form_rest(form)}}
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                              <button class="w-100 bg_secondary text-center  text-light text-light font-weight-bold radius55 px-3 py-2">Envoyer<br><i class="fas fa-paper-plane"></i></button>
                            </div>
                            <div class="col-md-2"></div>
                            {{ form_end(form) }}
                        </div> <br>
                    </div>
            </div>
    </div>
    <div class="col-md-4"></div>
</section>
{% endblock %}
