{% block head %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% extends 'website/layout.html.twig' %}

{% block title %}
Inscription 
{% endblock %}

{% block content %}

{# DEBUT FORMULAIRE DE FATIMA #}

<section class="my-5">
	<div class="container">
		<div class="row  mt-5 align-items-center">
			<div class="col-md-7">
				<p class="radius10 text1 bg_secondary text-light text-uppercase text-center h5 w-75 p-2">création de compte</p>
				<p class="text_normal text_secondary text2"> Créez votre compte personnel pour consulter vos favoris,  <br>
partager vos recherches ou créer des alertes depuis n’importe quel support ! </p>

				<div class="radius10 shadow-sm p-2 px-5 mt-5" style="background-color:#e1e7e9">
					{{ form_start(form, {'attr': {novalidate: 'novalidate'} }) }}
						<div class="row align-items-center mt-4">
							<div class="col-md-1">
								<span class="badge bg_secondary text-light radius55 py-2">
									<i class="bi bi-person-circle my-2 h5 mx-2"></i>
								</span>
							</div>
							<div class="col-md-6">
								{{form_row(form.nom,{ attr: { 'class': 'w-100 radius55' }} )}}
							</div>
							<div class="col-md-5">
								{{form_row(form.prenom,{ attr: { 'class': 'w-100 radius55' }} )}}
							</div>
						</div>

						<div class="row align-items-center mt-4">
							<div class="col-md-1">
								<span class="badge bg_secondary text-light radius55 py-2">
									<i class="bi bi-telephone-fill my-2 h5 mx-2"></i>
								</span>
							</div>
							<div class="col-md-11">
								{{form_row(form.telephone,{ attr: { 'class': 'w-100 radius55' }} )}}
							</div>
						</div>

						<div class="row align-items-center mt-4">
							<div class="col-md-1">
								<span class="badge bg_secondary text-light radius55 py-2">
									<i class="bi bi-envelope my-2 h5 mx-2"></i>
								</span>
							</div>
							<div class="col-md-11">
								{{form_row(form.email,{ attr: { 'class': 'w-100 radius55' }} )}}
							</div>
						</div>
						<div class="row align-items-center mt-4">
							<div class="col-md-1">
								<span class="badge bg_secondary text-light radius55 py-2">
									<i class="bi bi-key  my-2 h5 mx-2"></i>
								</span>
							</div>
							<div class="col-md-11">
								{{form_row(form.password,{ attr: { 'class': 'w-100 radius55' }} )}}
							</div>
						</div>
						<div class="row align-items-center mt-4">

						</div>
							{# <hr class="m-auto bg_secondary my-4"style="width: 20%;height: 3px;"> #}
    				{{ form_end(form) }} 
				</div>
			</div>
			<div class="col-md-5">
				{# <hr class="m-auto bg_secondary"style="width: 20%;height: 3px;"> #}<br><br>
				<h5 class="h5 sous_titre text-center mt-2">Inscrivez-vous avec facebook</h5>
				<p class="mx-5 text_normal text-center h6 text2 text_justify mt-3" style="margin-right:60px">
					La connexion avec un compte social est ultra rapide. Aucun mot de passe supplémentaire à mémoriser - plus de problèmes. Ne vous inquiétez pas, on ne récupérera pas vos données et on ne publiera rien à votre place 
				</p>
				<br>
				<a class="btn w-75 radius55 text-light text-center m-auto d-block bg_secondary mb-2" type="submit">
					S'INSCRIRE <i class="bi bi-facebook h4 float_right mb-0"></i>
				</a>
					<BR><BR>
				<hr class="m-auto bg_secondary  "style="width: 20%;height: 3px;">
				<h5 class="h5 sous_titre text-center mt-2">déja inscrit? connectez-vous</h5>
			
				<br>
				<a href="{{path('connexion')}}" class="btn w-75 radius55 text-light text-center m-auto d-block bg_secondary mb-2" type="submit">
					SE CONNECTER  <i class="bi bi-arrow-right-circle-fill h4 float_right mb-0"></i>
				</a>
			</div>
		</div>
	</div>
</section>

{# DEBUT FORMULAIRE DE FATIMA #}




{# DEBUT FORMULAIRE DE CONNEXION NELSON #}
<div class="row my-4">

</div>
    <div class="row mb-4">
    <div class="col-md-5 mx-auto">
    {# 
	{{ form_start(form, {'attr': {novalidate: 'novalidate'} }) }}

        {{form_row(form.prenom)}}
        {{form_row(form.nom)}}
        {{form_row(form.email)}}
        {{form_row(form.telephone)}}
        {{form_row(form.password)}}

    {{ form_end(form) }} 
	#}

    </div>
    </div>

{# FIN FORMULAIRE DE CONNEXION NELSON #}



{% endblock %}
