{% extends 'website/layout.html.twig' %}


{% block title %}
Home page website 
{% endblock %}
{% block description %}{% endblock %}

{% block content %}

<section class="pt-4" id="content-wrapper" style="width:100%!important">

   <div class="container">

    <div class="row w-100 align-items-center">

            <div class="col-md-8">
                <span class="text1 text_secondary mt-3 font-weight-bold h6">AGENCE / INFORMATION</span>
            </div>
            <div class="col-md-4 float_right p-0">          
            </div>
        </div>
        <div class="card shadow radius10 border-0 p-4 mt-5 mb-5">
                <h1 class="font-weight-bold text2">Agence {{agenceInfo.denomination}}</h1><br>

            <div class="row">
                <div class="col-md-5">
                {% if agenceInfo.imageAgence %}
                        <img src="{{ vich_uploader_asset(agenceInfo, 'imageFile') | imagine_filter('thumb') }}" class="w-100 radius10 img-fluid" style="height:450px"> {% else %}
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83947.65680979083!2d2.2654011591851875!3d48.88939449245435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66f65519599ab%3A0x648913b6b58c1316!2sIMIE%20Paris!5e0!3m2!1sfr!2sfr!4v1646142373976!5m2!1sfr!2sfr" width="480" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                          {% endif %}
                </div>
                <div class="col-md-7">
                     <ul class="list-group list-group-flush text2">
                             <li class="list-group-item">
                            <span class="badge badge-secondary bg_secondary"><i class="bi bi-calendar-date text-light h4"></i></span> Créé le : {{agenceInfo.createdAt | date('d/m/y')}}
                        </li>
                        <li class="list-group-item"><span class="badge badge-secondary bg_secondary"><i class="bi bi-geo-fill text-light h4"></i></span> {{ agenceInfo.adresse}} {{ agenceInfo.ville}} {{ agenceInfo.codePostal}}</li>
                    </ul>
                    

                    <div class="col-md-12">
                        <h5 class="text-underline mt-2 text_secondary"><u>Contact</u></h5>
                        <table class="table table-striped">
                            <tr  class="text-justify text2">
                                <td>Email</td>
                                <td>{{agenceInfo.email}}</td>
                            </tr>
                            <tr  class="text-justify text2">
                                <td>Téléphone</td>
                                <td>{{agenceInfo.telephone}}</td>
                            </tr>
                        </table>
                    </div>
                    <h5 class="text-underline mt-3 text_secondary"><u>Qui sommes nous?</u></h5>

                    <p class="text1 text-justify text2">{{agenceInfo.description | nl2br }}</p>
                    <center><a href="{{path('contact')}}" class="m-auto d-block">
                    <span class="radius10  bg_secondary text-center text-light p-2 text2 text-decoration-none">&nbsp; Nous contacter &nbsp; <i class="bi bi-envelope"></i></span>
                </a></center>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}
