{% extends 'appPro/layout.html.twig' %} {% block title %} {% endblock %} {% block content %}
<section class="pt-4 h-100" id="content-wrapper" style="width:100%!important;height:1000px!important">
    <div class="container">
        <ul class="nav nav-tabs bg-white text-uppercase">
            <li class="nav-item bg_primary border-0">
                <a class="nav-link bg_primary text_secondary" href="#">Biens supprimés</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text_primary" href="#">Clients supprimés </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text_primary" href="#">Compte agent supprimés</a>
            </li>
            {# <li class="nav-item">
                <a class="nav-link text-danger disabled" href="#">Confidentiel</a>
            </li> #}

        </ul>
        <div class="row mt-5">
				<div class="col-md-12 radius10">
					{# MODEL AFFICHAGE GRILLE #}
					<table class=" table shadow table-striped table-hover table_grille_produits roundeds" id="table_grille_produits">
						<thead>
							<tr class="text2 text_secondary bg_primary">
								<th scope="col">ID</th>
								<th scope="col">
									<i class="bi bi-images"></i> Liste des biens supprimés
								</th>
								<th scope="col"></th>
								<th scope="col" class="float_right">Actions
									<i class="bi bi-three-dots-vertical"></i>
								</th>
							</tr>
						</thead>
                        <tbody class="text2">
                        {% for bien in biens %}
                        <a href="{{path('afficher_produit_pro', {slugTitle: bien.slug, id: bien.id}) }}">
                        <tr>
                            <td style="width:3%">{{bien.id}}</td>
                            <td style="width:25%">
                                <div class="row">
                                    {% if bien.images is empty %}
                                        <div class="col-6">
                                            <img src="{{ asset('images/no-image.png') | imagine_filter('thumb') }}" class="w-100 rounded">
                                        </div> 
                                        <div class="col-6">
                                            <img src="{{ asset('images/no-image.png') | imagine_filter('thumb') }}" class="w-100 rounded">
                                        </div> 
                                    {% else %}
                                        {% if bien.images| length == 1 %}
                                            <div class="col-6">  
                                                <img src="{{ vich_uploader_asset(bien.images | first, 'imageFile') | imagine_filter('medium')}} " class="w-100 rounded">
                                            </div>
                                            <div class="col-6">
                                                <img src="{{ asset('images/no-image.png') | imagine_filter('thumb') }}" class="w-100 rounded">
                                            </div> 
                                        {% else %}
                                            <div class="col-6">  
                                                <img src="{{ vich_uploader_asset(bien.images | first, 'imageFile') | imagine_filter('medium')}} " class="w-100 rounded">
                                            </div>
                                            <div class="col-6">
                                                <img src="{{ vich_uploader_asset(bien.images.1, 'imageFile') | imagine_filter('medium')}} " class="w-100 rounded">
                                            </div> 
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <b>{{bien.typeTransaction  == 0 ? 'Location': 'Vente'}} {{bien.categorie.nom}}:  {{bien.adresse}}</b> | 
                                <small>publié le {{bien.createdAt | date('d/m/y') }}<br>
                               {{bien.getFormaterPrix}} € {{bien.chargeComprise == false ? 'sans charges comprises' : 'avec charges comprises' }}<br>
                                <i class="bi bi-textarea"></i> {{bien.surface}} m²
                                <i class="bi bi-app"></i> {{bien.nbrepiece}} pièces<br>
                                Propriétaire: {{bien.proprioPrenom}} {{bien.proprioNom}}<br>
                                Agent: {{bien.users.prenom}} {{bien.users.nom}}<br>
                                </small>
                            </td>
                            <td><br>
                                <a href="{{path('restaurer_produit_pro', {'id': bien.id}) }}"  class="btn btn_action badge bg_primary text2 float_right radius10 text-dark"><i class="fas fa-undo-alt text-dark"></i> &nbsp;Restaurer</a><br><br>
                                <a href="{{path('supprimer_bien',{'id': bien.id})}}" 
                                onclick="return confirm('Voulez-vous vraiment supprimer définitivement ce produit?')" class="btn btn_action badge bg-danger text2 float_right radius10"><i class="bi bi-trash "></i> Supprimer </a><br>
                            </td>
                        </tr></a>
                        {% endfor %}
                    </tbody >
					</table>
					{# FIN MODEL AFFICHAGE GRILLE #}
					{# AFFICHER LES BOUTONS POUR LA PAGINATION #}
					<div class="pagination justify-content-center">
						{{knp_pagination_render(biens, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig' ) }}
					</div>
					<style>
						.pagination {
							border-radius: 30px !important;
						}
					</style>
				</div>
			</div>
     
    </div>
</section>  

{% endblock %}

{% block javascripts %}
{% endblock %}
