{% extends 'appPro/layout.html.twig' %}

{% block title %}
	BuyAndRent App
{% endblock %}

{% block description %}{% endblock %}
{% block content %}
<section id="content-wrapper" style="width:100%!important">
	<div class="row pt-3" style="width:100%!important margin-left:20px!important;">
		{# -------------------------------------------------------------------------------- #}
												{# BLOC BAUCHE #}
		{# -------------------------------------------------------------------------------- #}
		<div class="col-md-8 text2">
			{# NOTIFICATION NOUVEAUX DOSSIER  #}
			<div id="blockNotifDossierClient" class="card rounded shadow-sm radius10 p-3 mb-5 pl-3 pb-0 mt-2 border-0" style="background-color:#a7b9bd">
				<div class="row ">
					<div class="col col-md-8">
						<p>
							<i class="bi bi-bell-fill text_secondary h3"></i>
							<span class="text_secondary">
								<b>Bonjour {{app.user.prenom}}</b> Vous avez reçu un nouveau dossier | Aujourd'hui</b>
							</span>
						</p>
						<p class="text-light">
							<small>Vous avez reçu un nouveau dossier appartenant au client Ulrich Nelson. <br>
							Intéressé par l'annonce:  Vente villa sur 3 étage - Antibes</small>
						</p>
						<a class="btn text-secondary text-uppercase btn-light" style="background-color:;">
							<small><b>voir tous mes dossiers</b></small>
						</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a class="btn text-secondary text-uppercase btn-light"><small><b>ouvrir</b></small></a>
					</div>
					<div class="col col-md-2">
						<img src="{{ asset('build/images/notifDossier.png') }}"
						style="margin-top: -100px!important;height:270px!important">
					</div>
					<div class="col col-md-2">
						<button type="button" id="btn_close_toast" class="close_toast float_right btn ml-2 mb-1 close text-light " data-dismiss="toast" aria-label="Close">
							<i class="fas fa-times fa-1x"></i>
						</button>
					</div>
				</div>
			</div>

			{# PRODUITS TOTAL#}
			<div class="row pb-0 align-items-center">
				<div class="col-md-6">
					<h2 class="produitAcc text-uppercase text1 h5 float-left text_secondary"><b>PRODUITS {{biens|length}}</b></h2>
				</div>
				<div class="col-md-6">
					<a class="btn float_right" href="{{path('ajouter_produit_pro')}}"><i class="bi bi-plus-circle-fill text_secondary "></i></a>
				</div>
			</div>
			<hr class="bg_secondary m-0 mb-3"style="height:1px;">

			{# PRODUITS CATEGORIES #}
			<div class="row pt-2 pb-0">
				<div class="col-md-4">
					<div class="card radius10 p-2 pb-0 border-0 shadow" style="background-color:#e3e7e8">
						<div class="row align-items-center">
							<div class="col-md-4">
								<h6 class="text-muted"> <b>Maisons</b></h6>
								<h3 class="text_secondary text1"><b>{{total_maison}}</b></h3>
							</div>
							<div class="col-md-8 float_right" style="padding-right:5px!important;">
								<img src="{{ asset('build/images/icoMaison.png') }}" class="w-75 float_right">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card radius10 p-2 pb-0 border-0 shadow" style="background-color:#e3e7e8">
						<div class="row align-items-center">
							<div class="col-md-6">
								<h6 class="text-muted"> <b>Appartements</b></h6>
								<h3 class="text_secondary text1"><b>{{total_appart}}</b></h3>
							</div>
							<div class="col-md-6 float_right" style="padding-right:5px!important;">
								<img src="{{ asset('build/images/icoBat.png') }}" class="w-100 float_right">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card radius10 p-2 pb-0 border-0 shadow" style="background-color:#e3e7e8">
						<div class="row align-items-center">
							<div class="col-md-4">
								<h6 class="text-muted"> <b>Studios</b></h6>
								<h3 class="text_secondary text1"><b>{{total_studio}}</b></h3>
							</div>
							<div class="col-md-8 float_right" style="padding-right:5px!important;">
								<img src="{{ asset('build/images/icoStudio.png') }}" class="w-75 float_right">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row pt-4 pb-0">
				<div class="col-md-2">
				</div>
				<div class="col-md-4">
					<div class="card radius10 p-2 pb-0 border-0 shadow" style="background-color:#e3e7e8">
						<div class="row align-items-center">
							<div class="col-md-4">
								<h6 class="text-muted"> <b>Villas</b></h6>
								<h3 class="text_secondary text1"><b>{{total_villa}}</b></h3>
							</div>
							<div class="col-md-8 float_right" style="padding-right:5px!important;">
								<img src="{{ asset('build/images/icoBat.png') }}" class="w-75 float_right">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card radius10 p-2 pb-0 border-0 shadow" style="background-color:#e3e7e8">
						<div class="row align-items-center">
							<div class="col-md-4">
								<h6 class="text-muted"> <b>Bureaux</b></h6>
								<h3 class="text_secondary text1"><b>{{total_bureau}}</b></h3>
							</div>
							<div class="col-md-8 float_right" style="padding-right:5px!important;">
								<img src="{{ asset('build/images/icoBureau.png') }}" class="w-75 float_right">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			
			<div class="row mt-3">
				{# ------------------Block contact------------ #}
				<div class="col-md-6">
					{# CONTACT NOTES#}
					<div class="row pt-5 mt-3 pb-0 align-items-center">
						<div class="col-md-6">
							<h2 class="text-uppercase text1 h5 float-left text_secondary"><b>Contact  130</b></h2>
						</div>
						<div class="col-md-6">
							<a class="btn float_right"><i class="bi bi-plus-circle-fill text_secondary "></i></a>
						</div>
					</div>
					<hr class="bg_secondary m-0 mb-3"style="height:1px;">
					<div class="card bg-light p-3 mt-4 shadow rounded border-0">
						<div class="row align-items-center">
							<div class="col-md-11">
								<div class="badge bg_secondary radius10">Clients</div>
								<div class="badge bg_light text_secondary radius10">Agence</div>
							</div>
						</div>
						{# Liste Contact #}
						<ul class="list-group w-100 pt-3 border-0">
							<li class="bg-light list-group-item d-flex justify-content-between align-items-center border-0 border-bottom text_secondary">
								<a href="#" class="badge badge-primary badge-pill text_secondary text_normal">Nelson Ulrich</a>
								<a href="#" class="badge text_secondary text_normal"><small>nelsonulrich@gmail.com</small></a>
								<a href="#" class="badge text_secondary text_normal"><small>01 23 45 67 89</small></a>
							</li>
							<li class="bg-light list-group-item d-flex justify-content-between align-items-center border-0 border-bottom text_secondary">
								<a href="#" class="badge badge-primary badge-pill text_secondary text_normal">Nelson Ulrich</a>
								<a href="#" class="badge text_secondary text_normal"><small>nelsonulrich@gmail.com</small></a>
								<a href="#" class="badge text_secondary text_normal"><small>01 23 45 67 89</small></a>
							</li>
							<li class="bg-light list-group-item d-flex justify-content-between align-items-center border-0 border-bottom text_secondary">
								<a href="#" class="badge badge-primary badge-pill text_secondary text_normal">Nelson Ulrich</a>
								<a href="#" class="badge text_secondary text_normal"><small>nelsonulrich@gmail.com</small></a>
								<a href="#" class="badge text_secondary text_normal"><small>01 23 45 67 89</small></a>
							</li>
							<li class="bg-light list-group-item d-flex justify-content-between align-items-center border-0 border-bottom text_secondary">
								<a href="#" class="badge badge-primary badge-pill text_secondary text_normal">Nelson Ulrich</a>
								<a href="#" class="badge text_secondary text_normal"><small>nelsonulrich@gmail.com</small></a>
								<a href="#" class="badge text_secondary text_normal"><small>01 23 45 67 89</small></a>
							</li>
							<li class="bg-light list-group-item d-flex justify-content-between align-items-center border-0 border-bottom text_secondary">
								<a href="#" class="badge badge-primary badge-pill text_secondary text_normal">Nelson Ulrich</a>
								<a href="#" class="badge text_secondary text_normal"><small>nelsonulrich@gmail.com</small></a>
								<a href="#" class="badge text_secondary text_normal"><small>01 23 45 67 89</small></a>
							</li>
							<li class="bg-light list-group-item d-flex justify-content-between align-items-center border-0 border-bottom text_secondary">
								<a href="#" class="badge badge-primary badge-pill text_secondary text_normal">Nelson Ulrich</a>
								<a href="#" class="badge text_secondary text_normal"><small>nelsonulrich@gmail.com</small></a>
								<a href="#" class="badge text_secondary text_normal"><small>01 23 45 67 89</small></a>
							</li>
						</ul>
						<b><a href="#" class="badge badge-primary text_normal text_secondary text1 float_right mt-3 text-uppercase"><u><small>Voir plus</small></u></a></b>
					</div>
				</div>
				{# ------------------Block notes------------ #}
				<div class="col-md-6">
					<div class="row pt-5 mt-3 pb-0 align-items-center">
						<div class="col-md-6">
							<h2 class="text-uppercase text1 h5 float-left text_secondary"><b>Mes notes  25</b></h2>
						</div>
						<div class="col-md-6">
							<a class="btn float_right btn__first text-light bg_secondary rounded-circle border-0"  data-toggle="collapse" data-target=".collapse.first" data-text="Collapse" style="padding-top:0px;padding-bottom: 0px;padding-left: 5px;padding-right: 5px">+</a>
						</div>
					</div>
					{# Fourmulaire ajout #}
					
					<hr class="bg_secondary m-0 mb-3" style="height:1px;">
					<div class="card bg-light p-3 mt-4 shadow rounded border-0" > {# style="overflow-y: auto; height:550px;"#}
					<div class="block collapse first">
					<div class="block__content">
						 {{ form_start(form, { attr: { 'id': 'form_contact' }}) }}
                            {{ form_errors(form) }}
                            {{ form_row(form.titre,{'attr': {'class':' mb-2'}}) }}
							<div class="row">
								<div class="col-md-12">
                            		{{ form_row(form.description,{'attr': {'class':'mb-2'}}) }}
								</div>
								<div class="col-md-12">
									{% if form.submit is defined %}
										{{ form_row(form.submit) }}
									{% else %}
										<button class="btn text-light rounded bg_primary w-100 float-right" style="float:right!important">
											Ajouter <i class="bi bi-plus"></i>
										</button><br>
									{% endif %}
								</div>
							</div>
							
                            {{ form_end(form) }}
					</div>
					</div>

						<div style="mt-5 pt-5" >
							{# Liste note #}
							<table class="table table-striped table-hover" >
								<tbody>
									
										{% for note in findLastNote %}<tr>
										<td scope="row">
											{{note.titre}} | <small>{{note.createdAt|date('d/m/y')}}</small><br>
											<p style="font-size:11px">{{note.description}}<p>
										</td></tr>
										{% else %}
											<p>Aucune note</p>
										{% endfor %}
								</tbody>
							</table>
							<b><a href="#" class="badge badge-primary text_normal text_secondary text1 float_right mt-1 text-uppercase"><u><small>Voir plus</small></u></a></b>
							
						</div>
					</div>
				</div>
			</div>
		</div>

		{# -------------------------------------------------------------------------------- #}
												{# BLOC DROITE #}
		{# -------------------------------------------------------------------------------- #}
		<div class="col-md-4 text2" style="padding-left:35px!important">
			{# Comparaison au Mois dernier #}
			<div class="row pt-1 ml-5">
				<div class="col-md-4 p-1">
					<div class="card p-1 m-0 w-100 border-0 shadow " style="background-color:#a7b9bd">
						<div class="row align-items-center">
							<div class="col-md-9">
								<a class="ml-5 text2 h6 text_normal text_secondary"> <b><small>	Nouveaux Dossiers </small></b></a>
							</div>
							<div class="col-md-3 p-0">
								<i class="bi bi-graph-down-arrow h4 text-danger"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 p-1">
					<div class="card p-1 border-0  bg_secondary shadow ">
						<div class="row align-items-center">
							<div class="col-md-8">
								<a class="ml-5 text2 h6 text_normal text-light"> <b><small>	Mes Locations </small></b></a>
							</div>
							<div class="col-md-4 p-0">
								<i class="bi bi-graph-up-arrow h4 text-light"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 p-1">
					<div class="card p-1 border-0 shadow"  style="background-color:#a7b9bd">
						<div class="row align-items-center">
							<div class="col-md-8">
								<a class="ml-5 text2 h6 text_normal text_secondary"> <b><small>	Mes <br>Ventes </small></b></a>
							</div>
							<div class="col-md-4 p-0">
								<i class="bi bi-graph-up-arrow h4 text_secondary"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr class="bg_secondary"style="height:1px;">

			{# Prochains rdv client #}
			<div class="card bg-light p-3 mt-3 shadow rounded border-0">
				<div class="row align-items-center">
					<div class="col-md-11">
						<span class="text-uppercase text1 float-left text_secondary"><b>Prochains rendez-vous client</b></span>
					</div>
					<div class="col-md-1">
						<a class="btn float_right" href="{{path('rdv_ajouter')}}"><i class="bi bi-plus-circle-fill text_secondary "></i></a>
					</div>
				</div>

				{# Liste rdv #}
				{% for rdv in lastRdvListe %}
				<div class="row">	
					<div class="col-md-1 m-0" style="margin-top:-5px!important;margin-right:-12px!important">
						<i class="fas fa-circle text_secondary"></i>
					</div>
					<div class="col-md-11"  style="border-style:solid; border-size:2px;border-top:none; border-bottom:none;border-right:none;border-color:#154854">	
						<small class="text1 text_secondary"><b>{{ rdv.dateVisite|date("d/m/Y") }} à {{rdv.heureVisite|date('H:i')}}</b></small>
						<p><small>{{ rdv.type }} - {{ rdv.titre }} <br> {{ rdv.contactNom }}</small> </p>
					</div>
				</div>	
				{% endfor %}

				<b><a href="{{path('liste_rdv_pro')}}" class="badge badge-primary text_normal text_secondary text1 float_right mt-3 text-uppercase"><u><small>Voir plus</small></u></a></b>
			</div>
				
			{# Produits récents #}
			<div class="p-3 mt-5 pb-5 shadow rounded border-0" style="background-color:#e4e4e4!important">
				<div class="row align-items-center" >
					<div class="col-md-11">
						<span class="text-uppercase text1 float-left text_secondary"><b>produits récents</b></span>
					</div>
					<div class="col-md-1">
						<a class="float_right" href="{{path('ajouter_produit_pro')}}"><i class="bi bi-plus-circle-fill text_secondary "></i></a>
					</div>
				</div>
				{# Liste produits #}
				{% for bien in biens %}
				<div class="row mt-3 bg-light radius10 m-2 pt-2 rounded" >
					<div class="col-md-4">
					
						<img src="https://images.pexels.com/photos/3255245/pexels-photo-3255245.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
							style="border-top-right-radius:25px" class="w-100">
					</div>
					<div class="col-md-8">
						<small class="text1 text_secondary"><b>{{bien.typeTransaction  == 0 ? 'Location': 'Vente'}} {{bien.categorie.nom}} {{bien.nbrepiece}} pièces<br> Ref: {{ bien.referenceBien | length > 10 ? bien.referenceBien | slice(0, 10) ~ '...' : bien.referenceBien }}</b></small>
						<p style="font-size:11px">{{ bien.description | length > 20 ? bien.description | slice(0, 20) ~ '...' : bien.description }}<br><br>
						<a href="{{path('afficher_produit_pro', {slugTitle: bien.slug, id: bien.id}) }}" class="badge badge-primary text_normal text_secondary text1 float_right text-uppercase"><u><small>Voir détail</small></u></a>
						</p>
						
					</div>
				</div>
                {% endfor %}
					<a href="{{path('liste_produit_pro')}}"class="badge badge-primary text_normal text_secondary text1 float_right mt-3 text-uppercase"><u><small>Voir plus</small></u></a>
			</div>
		</div>
	</div>


</section>
</div>{# Attention Div à ne pas supprimer: fin de div mère de la sidebar dans sidebar.html.twig  #}


{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script>
	const triggers = Array.from(document.querySelectorAll('[data-toggle="collapse"]'));

window.addEventListener('click', (ev) => {
  const elm = ev.target;
  if (triggers.includes(elm)) {
    const selector = elm.getAttribute('data-target');
    collapse(selector, 'toggle');
    collapse('.btn__first', 'toggle');
  }
}, false);


const fnmap = {
  'toggle': 'toggle',
  'show': 'add',
  'hide': 'remove'
};
const collapse = (selector, cmd) => {
  const targets = Array.from(document.querySelectorAll(selector));
  targets.forEach(target => {
    target.classList[fnmap[cmd]]('show');
  });
}
	</script>
{% endblock %}
