{% extends 'base.html.twig' %}
{% block body %}

    <div class="wrapper">
        {% block sidebar %}
            {% include "appPro/blocks/sidebar.html.twig" %}
        {% endblock %}
        <div id="content">
            {% block navbar %}
                {% include "appPro/blocks/navbar.html.twig" %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block footer %}
        {% include "appPro/blocks/footer.html.twig" %}
    {% endblock %}

    {% block javascripts %}
        {{encore_entry_script_tags('app')}}
    {% endblock %}
{% endblock %}
