{% extends 'appPro/layout.html.twig' %}

{% block title %}
	BuyAndRent App - Liste des clients 
{% endblock %}

{% block description %}{% endblock %}
{% block content %}
<section id="content-wrapper" style="width:100%!important">
    <div class="container">
    <div class="row w-100 align-items-center">
        <div class="col-md-6">
            <h5 class="text1 text_secondary mt-3 font-weight-bold">CLIENTS DE L'AGENCE <small>(120)</small></h5>
        </div>
    </div>
    
        <div class="row mt-4">
            <div class="col-md-9 radius10">
                <table class=" table shadow table-striped table-hover" >
                    <thead class="bg_primary">
                        <tr class="text2 text_secondary">
                            <th scope="col">Id</th>
                            <th scope="col">Identité</th>
                            <th scope="col">Email</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Agent</th>
                            <th scope="col">Depuis le </th>
                            <th scope="col" class="float_right">Action <i class="bi bi-three-dots-vertical"></i></th>
                        </tr>
                    </thead>
                    <tbody class="text2">
                        <tr>
                            <td>1</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Marc Junior</td>
                            <td>marc@gmail.com</td>
                            <td>0123456789</td>
                            <td>Emilie Raza</td>
                            <td>19/12/2021</td>
                            <td>
                                
                                <a href="#" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a>
                            </td>
         
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <div class="card bg-light p-3 shadow rounded border-0" >
                    <div class="row align-items-center">
                        <div class="col-md-11 ">
                            <center><span class="text-uppercase text1 text-center text_secondary"><b>Dernier client enregistré</b></span></center>
                            <center><img src="{{ asset('build/images/avatarHomme2.png') }}" class="w-50 mt-3"></center>
                            <ul class="border-0 list-unstyled text2">
                                <li class="border-top pt-2 pb-2"><small><b>Identité: </b><span class="float-right">Marc Junior</span></small></li>
                                <li class="border-top pt-2 pb-2"><small><b>Email: </b>marc@gmail.com</small></li>
                                <li class="border-top pt-2 pb-2"><small><b>Tél: </b>0123456789</small></li>
                                <li class="border-top pt-2 pb-2"><small><b>Agent: </b>Agent</small></li>
                                <li class="border-top pt-2 pb-2"><small><b>Adresse (Ville): </b>Levallois</small></li>
                                <li class="border-top pt-2 pb-2"><small><b>Crée le: </b>13/11/2020</small></li>
                                <li class="border-top pt-2 pb-2"><small><b>Statut du dossier: </b><span class="badge bg-success text2 text2 radius10">Validé</span></small></li>
                                <li class="border-top pt-2 pb-2"><small><b>Informations complémentaire: </b></small></li>
                                <li class="border-top pt-2 pb-2 text-justify"><small>Je recherche un appartement à louer dans Levallois avec un budget de 950€ par mois. Ma conjointe et moi avons une préférence pour un appart au rez-de-chaussé avec un jardin</small></li>

                            </ul>
                        </div>
                    </div>
                </div>	
                <div class="card bg-light p-3 mt-5 shadow rounded border-0" >
                    <div class="row align-items-center">
                        <div class="col-md-11 ">
                            <center><span class="text-uppercase text1 text-center text_secondary"><b>Clients Archivés</b></span></center>
                                <ul class="border-0 list-unstyled text2">
                                    <li class="border-top pt-2 pb-2">
                                        <span class="float-right h6"><small>Marie Emilie</small>  <span>
                                    </li>
                                    <li class="border-top pt-2 pb-2">
                                        <span class="float-right h6"><small>Lechat Sebastien</small>  <span>
                                    </li>
                                    <li class="border-top pt-2 pb-2">
                                        <span class="float-right h6"><small>Lechat Sebastien</small>  <span>
                                    </li>
                                    <li class="border-top pt-2 pb-2">
                                        <span class="float-right h6"><small>Lechat Sebastien</small>  <span>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</section>
{% endblock %}
