<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
	<head>
		<title></title>
		<!--[if !mso]><!-- -->
		<meta
		http-equiv="X-UA-Compatible" content="IE=edge">
		<!--<![endif]-->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<style type="text/css">
			#outlook a {
				padding: 0;
			}

			.ReadMsgBody {
				width: 100%;
			}

			.ExternalClass {
				width: 100%;
			}

			.ExternalClass * {
				line-height: 100%;
			}

			body {
				margin: 0;
				padding: 0;
				-webkit-text-size-adjust: 100%;
				-ms-text-size-adjust: 100%;
			}

			table,
			td {
				border-collapse: collapse;
				mso-table-lspace: 0;
				mso-table-rspace: 0;
			}

			img {
				border: 0;
				height: auto;
				line-height: 100%;
				outline: none;
				text-decoration: none;
				-ms-interpolation-mode: bicubic;
			}

			p {
				display: block;
				margin: 13px 0;
			}
		</style>
		<!--[if !mso]><!-->
		<style type="text/css">
			@media only screen and(max-width: 480px) {
				@-ms-viewport {
					width: 320px;
				}
				@viewport {
					width: 320px;
				}
			}
		</style><!--<![endif]--><!--[if mso]>
			  <xml>
			    <o:OfficeDocumentSettings>
			      <o:AllowPNG/>
			      <o:PixelsPerInch>96</o:PixelsPerInch>
			    </o:OfficeDocumentSettings>
			  </xml>
			  <![endif]-->
		<!--[if lte mso 11]>
		  <style type="text/css">
		    .outlook-group-fix {
		      width: 100% !important;
		    }
		  </style>
		  <![endif]-->
		<!--[if !mso]><!-->
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css"> <style type="text/css">
			@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
			</style > <!--<![endif]-- > <style type="text/css" > @media only screen and (min-width: 480px) {
				.mj-column-per-100 {
					width: 100% !important;
					max-width: 100%;
				}
			}
		</style>
		<style type="text/css"></style>
	</head>
	<body>
		<div>
			<!--[if mso | IE]>
			  <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
			    <tr>
			      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
			<div style="Margin:0px auto;max-width:600px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
					<tbody>
						<tr>
							<td
								style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;">
								<!--[if mso | IE]>
								          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
								            <tr>
								              <td class="" style="vertical-align:top;width:600px;"><![endif]-->
								<div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
									<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
										<tr>
											<td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
												<div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;">
													<h1>Un message pour l'agence</h1>
													</p>
												</div>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div style="Margin:0px auto;max-width:600px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
					<tbody>
						<tr>
							<td
								style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;">

								<div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
									<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
										<tr>
											<td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
												<table cellpadding="0" cellspacing="0" width="100%" border="0" style="cellspacing:0;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;table-layout:auto;width:100%;">
													<tr>
														<td style="font-weight:bold;">Prénom :</td>
														<td>{{ contact.prenom }}</td>
													</tr>
													<tr>
														<td style="font-weight:bold;">Nom :</td>
														<td>{{ contact.nom }}</td>
													</tr>
													<tr>
														<td style="font-weight:bold;">Téléphone :</td>
														<td>{{ contact.telephone }}</td>
													</tr>
													<tr>
														<td style="font-weight:bold;">Email :</td>
														<td>{{ contact.email }}</td>
													</tr>
													<tr>
														<td style="font-weight:bold;">Message :</td>
														<td>{{ contact.message | nl2br }}</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>

