{% extends 'appPro/layout.html.twig' %}

{% block title %}
	BuyAndRent App - Afficher un produit
{% endblock %}

{% block description %}{% endblock %}
{% block content %}
<section class="pt-4" id="content-wrapper" style="width:100%!important;">
    <div class="container">
        <div class="row w-100 align-items-center">
            <div class="col-md-7">
                <p><span class="text1 text_secondary mt-3 font-weight-bold h6">
                <a href="{{path('liste_produit_pro')}}"  class="text_secondary text-decoration-none"><i class="bi bi-arrow-left-short"></i> PRODUIT</a> / FICHE PRODUIT</span>           
            </div>
            <div class="col-md-5 float_right p-0 ">
                <div class="row w-100 float_right ">
               
                        <div class="col-md-4 ">
                            <a  href="{{path('editer_produit_pro', {slugTitle: bien.slug, id: bien.id}) }}" class="radius10  float_right bg_secondary text-center text-light p-2 text2 text-decoration-none w-100">
                            <i class="bi bi-pencil-square"></i> Mettre à jour </a>
                        </div>
                        <div class="col-md-4 ">
                            <a href="{{path('fiche_vitrine_creer_m1', {'id': bien.id}) }}" class="radius10  float_right bg_secondary text-center text-light p-2 text2 text-decoration-none w-100">
                            <i class="bi bi-card-text"></i> Fiche vitrine</a>
                        </div>
                        <div class="col-md-4 ">
                            <a href="" class="radius10  float_right bg_secondary text-center text-light p-2 text2 text-decoration-none w-100">
                            <i class="bi bi-printer"></i> Imprimer</a>
                        </div>
                        
                    </div>
            </div>
        </div>


        {# -----------------------------------------Proximités---------------------------------------- #}
        <div class="card shadow radius10 border-0 p-4 mt-5 " >
            <div class="row">
                {# GAUCHE  #}
                <div class="col-md-6">
                    <div data-slider>
                        {% if bien.images is empty %}
                            <img src="{{asset('images/defaultImage.PNG') |  imagine_filter('medium')}} " class="w-100 radius10 img-fluid" style="height:450px">
                        {% else %}
                            {% for image in bien.images %}
                            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('medium')}} "  class="w-100 radius10 img-fluid" style="height:450px">
                        {% endfor %}
                    {% endif %}
                    </div>
        
                    {# <small class="text2 float_right">Crée le {{bien.createdAt | date('d/m/y') }}</small> #}
                    <p class="text2 pt-3 text_justify" style="height:110px">{{bien.description | nl2br}}</p>
                    </p>
                  {# caractéristique #}
                    <h5 class="text_secondary text-uppercase h6 mt-5 pt-2">Particularités / Options</h5>
                    {% for option in bien.options %}
                        <table class="w-100 text2 mt-2">
                            <tr class="" style="background-color:#e6eed6!important">
                                <td class="py-2 w-50" >&nbsp;<i class="bi bi-check-circle-fill text_primary"></i> {{ option.nom }}</td>
                            </tr>
                        </table>

                    {% else %}
                        <table class="w-100 text2 mt-2">
                            <tr class="" style="background-color:#e6eed6!important">
                                <td class="py-2 text-center" >&nbsp;Aucun enregistrement</td>
                            </tr>
                        </table>
                    {% endfor %}
                </div>

                {# DROITE  #}
                <div class="col-md-6">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <p class="text-uppercase text1 text_secondary font-weight-bold h6"> <b>{{bien.adresse}}</b></p>
                        </div>
                        <div class="col-md-4">
                            <span class="float_right bg_primary radius10 px-2">Ref: {{bien.referenceBien}}</span>
                        </div>
                    </div>
                    
                    <br>
                    <table class="table table table-striped text2">
                        <tbody>
                            <tr>
                                <td>Titre</td>
                                <td > <span class="float_right">{{bien.titre}}</span></td>
                            </tr>
                            <tr>
                                <td>Type de transation</td>
                                <td > <span class="float_right">{{bien.typeTransaction  == 0 ? 'Location': 'Vente'}}</span></td>
                            </tr>
                            <tr>
                                <td>Surface</td>
                                <td > <span class="float_right">{{bien.surface}} m² </span></td>
                            </tr>
                            <tr>
                                <td>Nombre de pièces</td>
                                <td > <span class="float_right">{{bien.nbrepiece}}</span></td>
                            </tr>
                            <tr>
                                <td>Nombre de chambres</td>
                                <td > <span class="float_right">{{bien.nbreChambre}}</span></td>
                            </tr>
                            <tr>
                                <td>Code postal</td>
                                <td > <span class="float_right">{{bien.codePostal}}</span></td>
                            </tr>
                            <tr>
                                <td>Status du bien</td>
                                <td > <span class="float_right {{bien.statusBien == false ? 'badge text-dark bg_primary radius10' : 'badge text-light bg-danger radius10' }}">{{bien.statusBien == false ? 'Encore disponible' : 'Plus disponible' }}</span></td>
                            </tr>
                            <tr>
                                <td>Type de bien</td>
                                <td > <span class="float_right">{{bien.categorie.nom}}</span></td>
                            </tr>
                            <tr>
                                <td>Localisation</td>
                                <td > <span class="float_right">{{bien.ville}}</span></td>
                            </tr>
                            <tr>
                                <td>Prix</td>
                                <td > <span class="float_right">{{bien.getFormaterPrix}} €</span></td>
                            </tr>
                            <tr>
                                <td>Charges comprise</td>
                                <td > <span class="float_right">{{bien.chargeComprise == false ? 'Non' : 'Oui' }}</span></td>
                            </tr>
                            <tr>
                                <td>Date de publication</td>
                                <td > <span class="float_right">{{bien.createdAt | date('d/m/y') }}</span></td>
                            </tr>
                             <tr>
                                <td>Agent</td>
                                <td > <span class="float_right">{{bien.users.prenom}} {{bien.users.nom}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                      
                    <div class="row mt-5">
                        <div>
                            <h5 class="text_secondary text-uppercase h6">Informations proprirétaire</h5>
                            <table class="table table-striped shadow-sm text2">
                                <tr>
                                    <td>Prénom</td>
                                    <td><span class="float_right">{{ bien.proprioPrenom}} </span></td>
                                </tr>
                                <tr>
                                    <td>Nom</td>
                                    <td><span class="float_right">{{ bien.proprioNom}}</span></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><span class="float_right">{{ bien.proprioEmail}}</span></td>
                                </tr>
                                <tr>
                                    <td>Téléphone</td>
                                    <td><span class="float_right">{{ bien.proprioNumero}}</span></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-2">
                <h5 class="text_secondary text-uppercase h6 mt-5 pt-2">La Géolocalisation</h5>
                <div id="mymapBien" style="width: 100%; height: 400px;"  data-lat="{{ bien.latitude }}" data-lng="{{ bien.longitude}}" 
                data-titre="{{ bien.titre }}" data-prix="{{ bien.getFormaterPrix }}" data-adresse="{{ bien.adresse }}" data-surface="{{ bien.surface }}">
                </div>
            </div>
        </div>
    </div>surface
</section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
         <script>
        </script>
{% endblock %}
