{% extends 'appPro/layout.html.twig' %} {% block title %} BuyAndRent App - Ajouter un produit {% endblock %} {% block description %}{% endblock %} {% block content %}

<section class="pt-4" id="content-wrapper" style="width:100%!important;">
    <div class="container">
    <div class="row w-100 align-items-center">
            <div class="col-md-8">
               <a  href="{{path('afficher_produit_pro', {slugTitle: bien.slug, id: bien.id}) }}" class="text-decoration-none"> <span class="text1  text_secondary mt-3 font-weight-bold h6"><i class="bi bi-arrow-left-short"></i> PRODUIT /</a> MODIFIER UN PRODUIT RENDEZ-VOUS</span>
            </div>
        </div>
        
        {# -----------------------------------------Etape de création du bien---------------------------------------- #}
        <div class="row align-items-center sticky-top p-3" style="background-color:#f6f6f6; width:110%!important">
            {# -- #}
            <div class="col-2 p-0">
                <span class="badge bg_secondary text2 radius10 text-decoration-none h1 py-3 px-3 w-100 text-uppercase"> Informations Générales</span>
            </div>
            <div class="col-1 p-0">
                <div style="background: linear-gradient(90deg, rgba(21,72,84,1) 5%, rgba(124,152,159,1) 56%, rgba(214,223,225,1) 91%); height:10px" class="w-100 p-0 m-0">&nbsp;</div>
            </div>
            <div class="col-1 p-0">
                <span class="badge bg_light text_secondary text2 radius10 text-decoration-none h1 py-3 px-3 text-uppercase">Propriétaire</span>
            </div>
            <div class="col-1 p-0">
                <div style="height:10px" class="bg_light w-100 p-0 m-0">&nbsp;</div>
            </div>
            {# -- #}
            <div class="col-1 p-0">
                <span class="badge bg_light text_secondary text2 radius10 text-decoration-none h1 py-3 px-3 text-uppercase w-100">Options</span>
            </div>
            <div class="col-1 p-0">
                <div style="height:10px" class="bg_light w-100 p-0 m-0">&nbsp;</div>
            </div>
            {# -- #}
            <div class="col-1 p-0">
                <span class="badge bg_light text_secondary text2 radius10 text-decoration-none h1 py-3 px-3 text-uppercase w-100">Médias</span>
            </div>
            <div class="col-1 p-0">
                <div style="height:10px" class="bg_light w-100 p-0 m-0">&nbsp;</div>
            </div>
            {# -- #}
            <div class="col-2 p-0">
                <span class="w-75 badge bg_light text_secondary text2 radius10 text-decoration-none h1 py-3 px-3 text-uppercase"> Terminé <i class="bi bi-check-lg h6"></i></span>
            </div>
        </div>

        {{form_start(form, {'attr': {novalidate: 'novalidate'}})}}
            <div class="card shadow radius10 border-0 p-4 mb-5" >
                <div class="row">
                    {# Information du bien #}  
                    <div class="col-md-6">
                        <h6 class="text-underline text-uppercase text1 text_secondary"><u><small><b>Informations générales</b></small></u></h6>
                        <form class="mt-5">
                            <div class="form-group mt-4">
                                <label for="exampleFormControlSelect1" class="text2">Titre du bien</label>
                                {{form_row(form.titre,{ attr: { 'class': 'radius10 ' }})}}
                                
                                <label for="exampleFormControlSelect1" class="text2  mt-3">Référence du bien</label>
                                {{ form_row(form.referenceBien,{ attr: { 'class': 'radius10' }}) }}
                            </div>
                            {# type de transaction #}  
                            <div class="form-group mt-4 mb-3">
                                <label for="exampleFormControlSelect1" class="text2">Type de transaction</label>
                                {{ form_row(form.typeTransaction,{ attr: { 'class': 'radius10' }}) }}

                            </div>

                            {# type de transaction #}  
                            <small class="text2 h6 mt-4" >Type de bien </small><br>
                            <div class="form-check form-check-inline mt-3">
                                {{ form_row(form.categorie,{ attr: { 'class': 'radius10 text2' }}) }}
                            </div>
                        {# type de transaction #}  
                        <h6 class="text-underline text-uppercase text1 text_secondary mt-4"><u><small><b>Prix de la transaction</b></small></u></h6>
                        <div class="row align-items-center">
                            <div class="col-md-7">
                                {{ form_row(form.prix,{ attr: { 'class': 'radius10' }}) }} 
                            </div>
                            <div class="col-md-5">
                                <div class="row align-items-center">
                                    <div class="col-md-2">
                                        {{ form_row(form.chargeComprise,{ attr: { 'class': 'radius10 text2 float-right' }}) }}
                                    </div>
                                    <div class="col-md-10 bg-succes">
                                        <small class="text2 h6" >Charges comprises  </small>    
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>

                    <div class="col-md-6">
                        {# Agent #}  
                        <h6 class="text-underline text-uppercase text1 text_secondary"><u><small><b>Agent référent</b></small></u></h6>
                        <div class="form-group mt-4 mb-3">
                            <label for="exampleFormControlSelect1" class="text2">Selectionnez un agent</label>
                            {{ form_row(form.users,{ attr: { 'class': 'radius10' }}) }}
                        </div>

                        {# Commentaire #}  
                        <h6 class="text-underline text-uppercase text1 text_secondary mt-5"><u><small><b>Commentaires</b></small></u></h6>
                            <div class="form-group mt-3">
                                <label for="exampleFormControlTextarea1" class="text2">Descritpion courte</label>
                                {{ form_row(form.description,{ attr: { 'class': 'radius10' }}) }}
                            </div>
                    </div>

                </div>
                {# bloc bleu #}  
                <div class="row bg_light mb-3 pb-5 mt-4" >
                        <div class="col-md-6">
                            <div class="row">
                                <h6 class="text-underline text-uppercase text1 text_secondary mt-5"><u><small><b>Caractéristiques générales</b></small></u></h6>
                                    <div class="col-4">
                                        {{form_row(form.surface,{ attr: { 'class': 'radius10 mt-4' }})}}
                                    </div>
                                    <div class="col-4">
                                        {{form_row(form.nbrepiece,{ attr: { 'class': 'radius10 mt-4' }})}}
                                    </div>
                                    <div class="col-4">
                                        {{ form_row(form.nbreChambre,{ attr: { 'class': 'radius10 mt-4' }}) }}
                                    </div>
                            </div>
                            <div class="row mt-4">
                                    <div class="col-4">
                                        {{ form_row(form.etage,{ attr: { 'class': 'radius10' }}) }}
                                    </div>
                                    <div class="col-8">
                                        {{ form_row(form.typeChauffage,{ attr: { 'class': 'radius10' }}) }}
                                    </div>
                            </div> 
                            <div class="row align-items-center mt-4">
                            <div class="col-md-1">
                                {{ form_row(form.statusBien,{ attr: { 'class': 'radius10 text2 float-right' }}) }}
                            </div>
                            <div class="col-md-11 bg-succes">
                                <small class="text2 h6" >(Cochez la case si le bien est vendu/loué.)</small>    
                            </div>
                        </div> 
                            
                        </div>
                        <div class="col-md-6">
                            <h6 class="text-underline text-uppercase text1 text_secondary mt-5"><u><small><b>Adresse du bien</b></small></u></h6>
                            {{ form_row(form.adresse,{ attr: { 'class': 'radius10 mt-4' }}) }}
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    {{ form_row(form.ville,{ attr: { 'class': 'radius10' }}) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.codePostal,{ attr: { 'class': 'radius10' }}) }}   
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    {{ form_row(form.latitude,{ attr: { 'class': 'radius10 disabled' }}) }}   
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.longitude,{ attr: { 'class': 'radius10 disabled' }}) }}   
                                </div>
                            </div>
                            
                        </div>
                </div>       
            </div >
            
            {# -----------------------------------------Information Propriétaire--------------------------------- #}
            <div class="card shadow radius10 border-0 p-4 mt-5" >
                <div class="row">
                    {# proprio #}  
                    <div class="col-md-6">
                        <h6 class="text-underline text-uppercase text1 text_secondary"><u><small><b>Informations du propriétaire</b></small></u></h6>
                        <form class="mt-5">
                            <div class="form-group">
                                {{ form_row(form.proprioNom,{ attr: { 'class': 'radius10 ' }})}}
                                {{ form_row(form.proprioPrenom,{ attr: { 'class': 'radius10 mt-4' }}) }}
                            </div>
                    </div>
                    <div class="col-md-6">
                        {# contact #}  
                        <h6 class="text-underline text-uppercase text1 text_secondary"><u><small><b>Contact</b></small></u></h6>
                        <div class="row align-items-center">
                            <div class="col-md-1 text-center">
                                <h5><span class="badge bg_secondary"><i class="bi bi-envelope-fill p-0"></i></span></h5>
                            </div>
                            <div class="col-md-11 text-center">
                                {{ form_row(form.proprioEmail,{ attr: { 'class': 'radius10' }}) }}
                            </div>
                        </div>
                        <div class="row mt-4 align-items-center">
                            <div class="col-md-1">
                                <h5><span class="badge bg_secondary"><i class="bi bi-telephone-fill p-0"></i> </span></h5>
                            </div>
                            <div class="col-md-11 ">
                                {{ form_row(form.proprioNumero,{ attr: { 'class': 'radius10' }}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div >

            {# -----------------------------------------Options------------------------------- #}
            <div class="card shadow radius10 border-0 p-4 mb-5 mt-4">
                <div class="row">
                    <h6 class="text-underline text-uppercase text1 text_secondary"><u><small><b>Options du bien</b></small></u></h6>
                <div class="col-md-12">{{ form_row(form.options,{ attr: { 'class': 'radius10' }}) }}</div>
                </div>
            </div>

            {# -----------------------------------------Options------------------------------- #}
            <div class="card shadow radius10 border-0 p-4 mb-5 mt-4">
                <div class="row">
                    <h6 class="text-underline text-uppercase text1 text_secondary"><u><small><b>Quelques photos</b></small></u></h6>
                    <div class="col-md-6">
                        {{ form_row(form.imageFiles) }}
                    </div>
                    <div class="col-md-6">
                    {% if bien.images is empty %}
                        <p>Ce produit n'a pas encore d'image(s)</p>
                    {% else  %}
                        {%  if bien.images| length >= 1 %}         
                        <div class="row flex justify-content-start flex-wrap">
                            {% for image in bien.images %}
                            <div class="col" style="width: 100px; flex: none; margin: 5px;">
                                <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('thumb')}}" width="100" alt="Une image du bien">
                                <a href="{{ path('supprimer_image_pro', {'id': image.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer cette image ?')" class="btn btn-danger">Supprimer</a>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        {{form_rest(form)}}

        <button class="btn float_right bg_primary text1 h5 text-uppercase text_secondary mt-4 mb-4 radius10 p-2">{{ button|default('Enregistrer') }}<i class="bi bi-save h6"></i></button> {{form_end(form)}}

    </div>
</section>

{% endblock %} {% block javascripts %} {{ parent() }}

<script>
</script>
{% endblock %}
