{% extends 'appPro/layout.html.twig' %}

{% block title %}
	BuyAndRent App - Liste des produits
{% endblock %}

{% block description %}{% endblock %}
{% block content %}
	<section class="pt-4" id="content-wrapper"H style="width:100%!important">

		<div class="container">

			<div class="row w-100 align-items-center">

				<div class="col-md-8">
					<span class="text1 text_secondary mt-3 font-weight-bold h6">PRODUIT / LISTE DES PRODUITS
						<small>({{lengthBiens|length}} résultats)</small>
					</span>
					
				</div>
				<div class="col-md-4 float_right p-0">
					&nbsp;&nbsp;
					<span class="badge float_right bg_secondary text2  pl-2 radius10 text-decoration-none py-2">
						<a id="btn_grille_produits" style="cursor:pointer" class="text-light text_normal">
							&nbsp;<i class="fas fa-th-list"></i>
							&nbsp;Grille
						</a>
						&nbsp;
						<a id="btn_liste_produits" style="cursor:pointer" class="text-light text_normal">
							<i class="fas fa-bars"></i>
							&nbsp;Liste</a>
					</span>&nbsp;&nbsp;
					
					<a href="{{path('ajouter_produit_pro')}}">
						<span class="float_right badge bg_secondary text2 radius10 text-decoration-none h1 py-2">&nbsp; Ajouter &nbsp;
							<i class="bi bi-plus-circle-fill"></i>
						</span>
					</a>&nbsp;&nbsp;
					
				</div>
			</div>

			{# <div class="row">	
				<div class="col-md-8">
					<span class="badge bg_secondary text2 radius10 text-decoration-none py-2">
						<a id="btn_grille_produits" style="cursor:pointer" class="text-light text_normal">
							&nbsp;<i class="fas fa-th-list"></i>
							&nbsp;Grille
						</a>
						&nbsp;
						<a id="btn_liste_produits" style="cursor:pointer" class="text-light text_normal">
							<i class="fas fa-bars"></i>
							&nbsp;Liste</a>
					</span>
					<span class="badge bg_secondary text2 radius10 text-decoration-none h1 py-2">&nbsp; Agence 320 &nbsp;</span>
					<span class="badge bg_secondary text2 radius10 text-decoration-none h1 py-2">&nbsp; Emilie R. 70 &nbsp;</span>
					<span class="badge bg_secondary text2 radius10 text-decoration-none h1 py-2">&nbsp; Fatima z. 90 &nbsp;</span>
				</div>
			</div> #}
			{# COLLAPSE  #}
			
		</div>
		{# COLLAPSE  #}
			{# FORMULAIRE DE RECHERCHE DES BIENS #}
			{{ form_start(form)}}
				<div class="bg_light p-3 mt-3">
					<div class="container">
						<div class="row">
							<div class="col-md-2">
								<div class="row bg_secondary radius10 pr_0 mr-1">
									<div class="col-md-2 p-0 mt_2">
										<center><i class="bi bi-house-fill h6 text-light m-auto "></i></center>
									</div>
									<div class="col-md-10 pl_0 pr_0">
										{{ form_row(form.categorie,{ attr: { 'class': 'w-100 ' }}) }}
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="row bg_secondary radius10 pr_0 mr-1">
									<div class="col-md-2 p-0 mt_2">
										<center><i class="bi bi-currency-euro h6 text-light m-auto "></i></center>
									</div>
									<div class="col-md-10 pl_0 pr_0">
										{{ form_row(form.typeTransaction,{ attr: { 'class': 'w-100 radius35' }}) }}
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row bg_secondary radius10 pr_0 mr-1">
									<div class="col-md-1 p-0 mt_2">
										<center><i class="bi bi-geo-fill h6 text-light m-auto "></i></center>
									</div>
									<div class="col-md-11 pl_0 pr_0">
										{{ form_row(form.adresse, {id: 'recherche_bien',attr: { 'class': 'w-100 radius15' }} ) }}
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="row bg_secondary radius10 pr_0 mr-1">
									<div class="col-md-2 p-0 mt_2">
										<center><i class="bi bi-rulers h6 text-light m-auto "></i></center>
									</div>
									<div class="col-md-10 pl_0 pr_0">
										{{ form_row(form.distance,{ attr: { 'class': 'w-100 ' }}) }}
									</div>
								</div>
								
							</div>
							<div class="col-md-2 p-0">
								<button class="btn bg_secondary radius10 text-light text1"><b> Filtrer </b></button>
								<label  class="toggle-label w-25 r_0 btn bg_secondary text-center radius10 text-light text1" for="cbToggleVisibility" role="button"><i class="bi bi-plus-circle-fill"></i></label>
								<a  href="{{path('liste_produit_pro')}}" class="toggle-label w-25 r_0 btn bg_secondary text-center radius10 text-light text1" ><i class="fas fa-sync-alt"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="content-container bg_light">
					<input type="checkbox" id="cbToggleVisibility" >
					<div class="target">
						<div class="container">
							<div class="row p-3 align-items-end">
								<div class="col-md-2">
									<div class="row bg_secondary radius10 pr_0 mr-1">
										<div class="col-md-2 p-0 mt_2">
											<center><i class="bi bi-dash-circle-fill h6 text-light m-auto "></i></center>
										</div>
										<div class="col-md-10 pl_0 pr_0">
											{{ form_row(form.prixMin,{ attr: { 'class': 'w-100 radius10' }}) }}
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="row bg_secondary radius10 pr_0 mr-1">
										<div class="col-md-2 p-0 mt_2">
											<center><i class="bi bi-plus-circle-fill h6 text-light m-auto "></i></center>
										</div>
										<div class="col-md-10 pl_0 pr_0">
											{{ form_row(form.prixMax,{ attr: { 'class': 'w-100 radius10' }}) }}
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="row bg_secondary radius10 pr_0 mr-1">
										<div class="col-md-1 p-0 mt_2">
											<center><i class="fa fa-check-double h6 text-light m-auto"></i></center>
										</div>
										<div class="col-md-11 pl_0 pr_0">
											{{ form_row(form.options,{ attr: { 'class': 'w-100 radius10' }}) }}
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="row bg_secondary radius10 pr_0 mr-1">
										<div class="col-md-2 p-0 mt_2">
											<center><i class="fas fa-bed h6 text-light m-auto "></i></center>
										</div>
										<div class="col-md-10 pl_0 pr_0">
											{{ form_row(form.nbreChambre,{ attr: { 'class': 'w-100 radius10' }}) }}
										</div>
									</div>
								</div>
							</div>

							<div class="row p-3 align-items-end">
								<div class="col-md-2">
									<div class="row bg_secondary radius10 pr_0 mr-1">
										<div class="col-md-2 p-0 mt_2">
											<center><i class="bi bi-dash-circle-fill h6 text-light m-auto "></i></center>
										</div>
										<div class="col-md-10 pl_0 pr_0">
											{{ form_row(form.surfaceMin,{ attr: { 'class': 'w-100 radius10' }}) }}
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="row bg_secondary radius10 pr_0 mr-1">
										<div class="col-md-2 p-0 mt_2">
											<center><i class="bi bi-plus-circle-fill h6 text-light m-auto "></i></center>
										</div>
										<div class="col-md-10 pl_0 pr_0">
											{{ form_row(form.surfaceMax,{ attr: { 'class': 'w-100 radius10' }}) }}
										</div>
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="row bg_secondary radius10 pr_0 mr-1">
										<div class="col-md-1 p-0 mt_2">
											<center><i class="fa fa-sun h6 text-light m-auto "></i></center>
										</div>
										<div class="col-md-11 pl_0 pr_0">
											{{ form_row(form.typeChauffage,{ attr: { 'class': 'w-100 radius10' }}) }}
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="row bg_secondary radius10 pr_0 mr-1">
										<div class="col-md-2 p-0 mt_2">
											<center><i class="fas fa-square h6 text-light m-auto "></i></center>
										</div>
										<div class="col-md-10 pl_0 pr_0">
											{{ form_row(form.nbrepiece,{ attr: { 'class': 'w-100 radius10' }}) }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{ form_end(form)}}
				{# FIN FORMULAIRE DE RECHERCHE DES BIENS #}

			<div class="row">
				<div class="col-md-12 radius10">
					{# MODEL AFFICHAGE GRILLE #}
					<table class=" table shadow table-striped table-hover table_grille_produits roundeds" id="table_grille_produits">
						<thead>
							<tr class="text2 text_secondary bg_primary">
								<th scope="col">ID</th>
								<th scope="col">
									<i class="bi bi-images"></i>
								</th>
								<th scope="col"></th>
								<th scope="col" class="float_right">Actions
									<i class="bi bi-three-dots-vertical"></i>
								</th>
							</tr>
						</thead>
						{# <tbody class="text2">
							{% for bien in biens %}
								<a href="{{path('afficher_produit_pro', {slugTitle: bien.slug, id: bien.id}) }}">
									<tr>
										<td style="width:3%">{{bien.id}}</td>
										<td style="width:25%">
											<div class="row">
												{% if bien.images is empty %}
													<div class="col-6">
														<img src="{{ asset('images/image-pexels.jpg') | imagine_filter('medium') }}" class="w-100 rounded">
													</div>
													<div class="col-6">
														<img src="{{ asset('images/image-pexels2.jpg') | imagine_filter('medium') }}" class="w-100 rounded">
													</div>
												{% else %}
													<div class="col-6">
														<img src="{{ vich_uploader_asset(bien.images | first, 'imageFile') | imagine_filter('medium')}} " class="w-100 rounded">
													</div>
													<div class="col-6">
														<img src="{{ vich_uploader_asset(bien.images.1, 'imageFile') | imagine_filter('medium')}} " class="w-100 rounded">
													</div>
												{% endif %}
											</div>
										</td>
										<td>
											<b>{{bien.typeTransaction  == 0 ? 'Location': 'Vente'}}
												{{bien.categorie.nom}}:
												{{bien.adresse}}</b>
											|
											<small>publié le
												{{bien.createdAt | date('d/m/y') }}<br>
												{{bien.getFormaterPrix}}
												€
												{{bien.chargeComprise == false ? 'sans charges comprises' : 'avec charges comprises' }}<br>
												<i class="bi bi-textarea"></i>
												{{bien.surface}}
												m²
												<i class="bi bi-app"></i>
												{{bien.nbrepiece}}
												pièces<br>
												Propriétaire:
												{{bien.proprioPrenom}}
												{{bien.proprioNom}}<br>
												Agent:
												{{bien.users.prenom}}
												{{bien.users.nom}}<br>
											</small>
										</td>
										<td><br>
											<a href="{{path('afficher_produit_pro', {slugTitle: bien.slug, id: bien.id}) }}" class="btn btn_action badge bg_primary text2 float_right radius10">
												<i class="bi bi-eye-fill text-dark"></i>
											</a><br>
											<a href="{{path('editer_produit_pro', {slugTitle: bien.slug, id: bien.id}) }}" class="btn btn_action badge bg_primary text2 float_right radius10">
												<i class="bi bi-vector-pen text-dark"></i>
											</a><br>
											<a href="#" class="btn btn_action badge bg-danger text2 float_right radius10">
												<i class="bi bi-trash "></i>
											</a><br>
										</td>
									</tr>
								</a>
							{% endfor %}
						</tbody> #}
                        <tbody class="text2">
                        {% for bien in biens %}
                        <a href="{{path('afficher_produit_pro', {slugTitle: bien.slug, id: bien.id}) }}">
                        <tr>
                            <td style="width:3%">{{bien.id}}</td>
                            <td style="width:25%">
                                <div class="row">
                                    {% if bien.images is empty %}
                                        <div class="col-6">
                                            <img src="{{ asset('images/no-image.png') | imagine_filter('thumb') }}" class="w-100 rounded">
                                        </div> 
                                        <div class="col-6">
                                            <img src="{{ asset('images/no-image.png') | imagine_filter('thumb') }}" class="w-100 rounded">
                                        </div> 
                                    {% else %}
                                        {% if bien.images| length == 1 %}
                                            <div class="col-6">  
                                                <img src="{{ vich_uploader_asset(bien.images | first, 'imageFile') | imagine_filter('medium')}} " class="w-100 rounded">
                                            </div>
                                            <div class="col-6">
                                                <img src="{{ asset('images/no-image.png') | imagine_filter('thumb') }}" class="w-100 rounded">
                                            </div> 
                                        {% else %}
                                            <div class="col-6">  
                                                <img src="{{ vich_uploader_asset(bien.images | first, 'imageFile') | imagine_filter('medium')}} " class="w-100 rounded">
                                            </div>
                                            <div class="col-6">
                                                <img src="{{ vich_uploader_asset(bien.images.1, 'imageFile') | imagine_filter('medium')}} " class="w-100 rounded">
                                            </div> 
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <b>{{bien.typeTransaction  == 0 ? 'Location': 'Vente'}} {{bien.categorie.nom}}:  {{bien.adresse}}</b> | 
                                <small>publié le {{bien.createdAt | date('d/m/y') }}<br>
                               {{bien.getFormaterPrix}} € {{bien.chargeComprise == false ? 'sans charges comprises' : 'avec charges comprises' }}<br>
                                <i class="bi bi-textarea"></i> {{bien.surface}} m²
                                <i class="bi bi-app"></i> {{bien.nbrepiece}} pièces<br>
                                Propriétaire: {{bien.proprioPrenom}} {{bien.proprioNom}}<br>
                                Agent: {{bien.users.prenom}} {{bien.users.nom}}<br>
                                </small>
                            </td>
                            <td><br>
                                <a href="{{path('afficher_produit_pro', {slugTitle: bien.slug, id: bien.id}) }}" class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-eye-fill text-dark"></i></a><br>
                                <a href="{{path('editer_produit_pro', {slugTitle: bien.slug, id: bien.id}) }}"  class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-vector-pen text-dark"></i></a><br>
                                <a href="{{path('supprimer_produit_pro',{'id': bien.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer ce produit?" class="btn btn_action badge bg-danger text2 float_right radius10"><i class="bi bi-trash "></i></a><br>

                            </td>
                        </tr></a>
                        {% endfor %}
                    </tbody >
					</table>
					{# FIN MODEL AFFICHAGE GRILLE #}

					{# MODEL AFFICHAGE LISTE #}
					<table class=" table shadow table-striped table-hover table_liste_produits" id="table_liste_produits">
						<thead>
							<tr class="text2 text_secondary bg_primary">
								<th scope="col">ID</th>
								<th scope="col">
									<i class="bi bi-images"></i>
								</th>
								<th scope="col">Catégorie</th>
								<th scope="col">Transaction</th>
								<th scope="col">Prix</th>
								<th scope="col">Surface</th>
								<th scope="col">Ville</th>
								<th scope="col">Agent</th>
								<th scope="col">Client</th>
								<th scope="col">Crée le
								</th>
								<th scope="col" class="float_right">Actions
									<i class="bi bi-three-dots-vertical"></i>
								</th>
							</tr>
						</thead>
						<tbody class="text2">
							{% for bien in biens %}
								<tr>
									<td>{{bien.id}}</td>
									<td style="width:20%">
										{% if bien.images is empty %}
                                        
                                            <img src="{{ asset('images/no-image.png') | imagine_filter('medium') }}" class="w-25 rounded">
                                        
                                       
                                            <img src="{{ asset('images/no-image.png') | imagine_filter('medium') }}" class="w-25 rounded">
                                 
                                    {% else %}
                                        {% if bien.images| length == 1 %}
                                            <img src="{{ vich_uploader_asset(bien.images | first, 'imageFile') | imagine_filter('medium')}} " class="w-25 rounded">
                                            <img src="{{ asset('images/no-image.png') | imagine_filter('medium') }}" class="w-25 rounded">
                                            
                                        {% else %}
                                            <img src="{{ vich_uploader_asset(bien.images | first, 'imageFile') | imagine_filter('medium')}} " class="w-25 rounded">
                                            <img src="{{ vich_uploader_asset(bien.images.1, 'imageFile') | imagine_filter('medium')}} " class="w-25 rounded">
                                        {% endif %}
                                    {% endif %}

									</td>
									<td>{{bien.categorie.nom}}</td>
									<td>{{bien.typeTransaction  == 0 ? 'Location': 'Vente'}}</td>
									<td>{{bien.getFormaterPrix}}
										€</td>
									<td>{{bien.surface}}
										m²</td>
									<td>{{bien.ville}}</td>
									<td>{{bien.users.prenom}}</td>
									<td>
										{{bien.proprioPrenom}}
									</td>
									<td>{{bien.createdAt | date('d/m/y') }}</td>
									<td>
										<a href="#" class="btn btn_action badge bg-danger text2 float_right radius10">
											<i class="bi bi-trash "></i>
										</a>
										<a href="{{path('editer_produit_pro', {slugTitle: bien.slug, id: bien.id}) }}" class="btn btn_action badge bg_primary text2 float_right radius10">
											<i class="bi bi-vector-pen text-dark"></i>
										</a>
										<a href="{{path('afficher_produit_pro', {slugTitle: bien.slug, id: bien.id}) }}" class="btn btn_action badge bg_primary text2 float_right radius10">
											<i class="bi bi-eye-fill text-dark"></i>
										</a>
									</td>
								</tr>

							{% endfor %}
						</tbody>
					</table>
					{# AFFICHER LES BOUTONS POUR LA PAGINATION #}
					<div class="pagination justify-content-center">
						{{knp_pagination_render(biens, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig' ) }}
					</div>
					<style>
						.pagination {
							border-radius: 30px !important;
						}
					</style>
				</div>
			</div>

		<div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}

<script>
// -------------------------MODEL GRILLE LISTE PRODUITS --------------------------
	document.getElementById('btn_liste_produits').addEventListener('click', afficherListeProduit);
	function afficherListeProduit() {
	$("#table_grille_produits").hide();
	$("#table_liste_produits").show();
	}
	document.getElementById('btn_grille_produits').addEventListener('click', afficherGrilleProduit);
	function afficherGrilleProduit() {
	$("#table_liste_produits").hide();
	$("#table_grille_produits").show();

	}
</script>
{% endblock %}
