/*
    bootstrapious
*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@200&display=swap');
body {
    background: #fafafa;
    font-size: 14px;
}

.font1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}

.font2 {
    font-family: 'Inter', sans-serif;
}

.text_black {
    color: #222222;
}

.text_white {
    color: white!important;
}

.bg_black {
    background-color: #222222;
}

.bg_green {
    background-color: #1B9571;
}

.text_normal1 {
    font-family: Roboto!important;
    font-style: normal!important;
    font-weight: normal!important;
    font-size: 24px!important;
}

.w-90 {
    width: 90%!important;
}

.shadow1 {
    box-shadow: 22px 25px 18px #000000!important;
}

.message {
    width: 100%;
    max-width: 320px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 150px;
    z-index: 999;
}

.login {
    padding-top: 100px;
    background-image: url(../img/banner-login.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    overflow: visible;
    position: relative;
}

section.inner-login {
    padding: 70px 0 70px;
    position: relative;
}

.well-logo {
    text-align: center;
}

.overlay {
    margin: 0px;
    padding: 0px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../img/overlay.png);
    opacity: 0.35;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #222;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.font2 {
    font-family: 'Inter', sans-serif!important;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #38454e;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1B9571;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #1B9571;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #38454e;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #1B9571;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1B9571;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #38454e;
}

a.article,
a.article:hover {
    background: #1B9571!important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.card {
    border-radius: 0px;
}

.card-content {
    padding: 15px;
}

.btn {
    border-radius: 0px;
}

.btn-info {
    color: #fff;
    background-color: #1B9571;
    border-color: #1B9571;
}

.btn-info:hover {
    color: #fff;
    background-color: #fee068;
    border-color: #fee068;
}

.btn-primary {
    color: #fff;
    background-color: #1B9571;
    border-color: #1B9571;
}

.btn-primary:hover {
    background-color: #fee068;
    border-color: #fee068;
}

.thumb-search img {
    width: 120px;
    margin: auto;
    border: 1px solid #1B9571;
    padding: 3px;
    background-color: #fff;
}

.thumb-read img {
    width: 100%;
    max-width: 450px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 7px;
    border: 1px solid #eee;
}

.read-content strong {
    font-size: 18px;
}

.shape {
    background-color: #2C3E50;
    text-align: left;
    line-height: 24px;
    border: 0px rgba(0, 0, 0, 0.5);
    margin: 15px 0;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 14px;
    white-space: normal;
    min-height: 3px;
    min-width: 60px;
    max-height: 3px;
    max-width: 60px;
    position: relative;
}

.vich-image img {
    width: 100%;
    max-width: 450px;
    margin-top: 15px;
    padding: 7px;
    border: 1px solid #eee;
}

.vich-image a {
    display: block;
    margin-bottom: 15px;
}

.vich-image .custom-file-label::after {
    content: "Ajouter un fichier";
}

.btn-collection {
    margin: 7px;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}