{% extends 'website/layout.html.twig' %}


{% block title %}
	Dossier n° .....
{% endblock %}

{% block content %}

<section>
	<div class="container m-5">
		<p class="h1"> Page "info dossier + statut dossier" en construction</p>
	</div>
</section>
{% endblock %}
