{% extends 'website/layout.html.twig' %}


{% block title %}
	Créer un dossier
{% endblock %}

{% block content %}

<section>
	<div class="container m-5">
		<p class="h1"> Page "ajout dossier par un client" en construction</p>
	</div>
</section>
{% endblock %}
