{% extends 'website/layout.html.twig' %}


{% block title %}
	Liste de mes dossier
{% endblock %}

{% block content %}

<section>
	<div class="container m-5 p-5">
		<p class="h1"> Page "Liste de mes dossiers" en construction</p><br>
		<p class="h6"> 
			-Liste des dossiers:<br>
			•Date de création<br>
			•Référence du bien<br>
			•Agent référent<br>
			•Statut (validé, element manquant, refusé..)<br>
		</p>
	</div>
</section>
{% endblock %}
