{% extends 'appPro/layout.html.twig' %} {% block title %} {% endblock %} {% block content %}
<section class="pt-4 h-100" id="content-wrapper" style="width:100%!important;height:1000px!important">
    <div class="container">
        <ul class="nav nav-tabs bg-white text-uppercase">
            <li class="nav-item  border-0">
                <a class="nav-link bg_primary text_primary" href="#">Paramettre de l'nterface</a>
            </li>
            <li class="nav-item bg_primary">
                <a class="nav-link text-light "href="{{path('admin_ajouter_agent')}}">Utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text_primary" href="#">Documents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger disabled" href="#">Confidentiel</a>
            </li>
        </ul>
        <div class="row mt-5"> 
            <div class="col-md-8">
                <table class="table  table-striped">
                <thead class="thead-light text2 text_secondary">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tel</th>
                        <th scope="col">Role</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Ajouté le</th>
                        <th><i class="fas fa-ellipsis-h"></i><th>
                    </tr>
                </thead>
                <tbody class="text2">
                    <tr>
                        <th scope="row">1</th>
                        <td>Ulrich</td>
                        <td>Nelson</td>
                        <td>nelson@nlson.com</td>
                        <td>0123456789</td>
                        <td>Agent</td>
                        <td><span class="badge text-dark bg_primary radius10">&nbsp; Actif&nbsp; </span></td>
                        <td>12/11/2021</td>
                        <td><i class="fas fa-lock  text-danger"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Ulrich</td>
                        <td>Nelson</td>
                        <td>nelson@nlson.com</td>
                        <td>0123456789</td>
                        <td>Agent</td>
                        <td><span class="badge text-light bg-danger radius10">Inactif</span></td>
                        <td>12/11/2021</td>
                        <td><i class="fas fa-unlock-alt text_primary"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Ulrich</td>
                        <td>Nelson</td>
                        <td>nelson@nlson.com</td>
                        <td>0123456789</td>
                        <td>Agent</td>
                        <td><span class="badge text-dark bg_primary radius10"> &nbsp;Actif &nbsp;</span></td>
                        <td>12/11/2021</td>
                        <td><i class="fas fa-lock  text-danger"></i></td>

                    </tr>
                     <tr>
                        <th scope="row">4</th>
                        <td>Ulrich</td>
                        <td>Nelson</td>
                        <td>nelson@nlson.com</td>
                        <td>0123456789</td>
                        <td>Agent</td>
                        <td><span class="badge text-dark bg_primary radius10"> &nbsp;Actif &nbsp;</span></td>
                        <td>12/11/2021</td>
                        <td><i class="fas fa-lock  text-danger"></i></td>

                    </tr>
                
                    <tr>
                        <th scope="row">5</th>
                        <td>Ulrich</td>
                        <td>Nelson</td>
                        <td>nelson@nlson.com</td>
                        <td>0123456789</td>
                        <td>Agent</td>
                        <td><span class="badge text-dark bg_primary radius10"> &nbsp;Actif &nbsp;</span></td>
                        <td>12/11/2021</td>
                        <td><i class="fas fa-lock  text-danger"></i></td>

                    </tr>
                     <tr>
                        <th scope="row">6</th>
                        <td>Ulrich</td>
                        <td>Nelson</td>
                        <td>nelson@nlson.com</td>
                        <td>0123456789</td>
                        <td>Agent</td>
                        <td><span class="badge text-dark bg_primary radius10"> &nbsp;Actif &nbsp;</span></td>
                        <td>12/11/2021</td>
                        <td><i class="fas fa-lock  text-danger"></i></td>

                    </tr>
                     <tr>
                        <th scope="row">7</th>
                        <td>Ulrich</td>
                        <td>Nelson</td>
                        <td>nelson@nlson.com</td>
                        <td>0123456789</td>
                        <td>Agent</td>
                        <td><span class="badge text-light bg-danger radius10">Inactif</span></td>
                        <td>12/11/2021</td>
                        <td><i class="fas fa-unlock-alt text_primary"></i></td>
                    </tr>
                     <tr>
                        <th scope="row">8</th>
                        <td>Ulrich</td>
                        <td>Nelson</td>
                        <td>nelson@nlson.com</td>
                        <td>0123456789</td>
                        <td>Agent</td>
                        <td><span class="badge text-light bg-danger radius10">Inactif</span></td>
                        <td>12/11/2021</td>
                        <td><i class="fas fa-unlock-alt text_primary"></i></td>
                    </tr>
                
                
                </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="card p-3" style="background-color:#f6f6f6">
                    <p class="font2 text1 text-uppercase text-center"> Ajouter un nouvel utilisateur</p><br>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control radius10" id="exampleFormControlInput1" placeholder="Nom">
                            <input type="email" class="form-control radius10 mt-2" id="exampleFormControlInput1" placeholder="Prenom">
                            <input type="email" class="form-control radius10 mt-2" id="exampleFormControlInput1" placeholder="Email">
                            <input type="email" class="form-control radius10 mt-2" id="exampleFormControlInput1" placeholder="Téléphone">
                        </div>
                        <div class="form-group pt-2">
                            <select class="form-control radius10" id="exampleFormControlSelect1">
                                    <option>Rôle</option>
                                    <option>Agent</option>
                                    <option>Gérant/Admin</option>
                            </select>
                        </div>
                       
                        <div class="form-group pt-2">
                            <label for="exampleFormControlTextarea1 text2">Informations Complémentaires</label>
                            <textarea class="form-control radius10" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button class="btn w-100 float_right bg_primary text1 h5 text-uppercase text_secondary mt-4 mb-4 radius10 p-2">Ajouter</button> 

                        </form>
                </div>
            </div>
           
            
           
        </div>
     
    </div>
</section>  

<style>

code {
  padding: 5px 8px;
  border-radius: 10px;
  background-color: #f8f9f9;
  color: #CC0066;
}

[type='color'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  width: 15px;
  height: 15px;
  border: none;
}

[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

[type='color']::-webkit-color-swatch {
  border: none;
}

.color-picker {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f8f9f9;
}


/* .inputColorTot{
  display: block;
  width: 50%;
  float: left;
  height: 80px;
}

.colorInput{
  padding: 20px;
}

.colorInput:invalid{
  outline: 2px solid red;
} */


/* 
.label_color{
    font-family: sans-serif;
    width: 300px;
    display: block;
    position: relative;
}

.color_ajoutVoiture{
    padding: 5px 15px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    height: 40px;
    padding-left: 10px;
}

.color_ajoutVoiture:after {
    content: attr(data-value);
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: #fffff5;
    display: block;
    width: 100%;
}

.color-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #666;
    cursor: pointer;
} */

</style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

    document.querySelectorAll('input[type=color]').forEach(function(picker) {

  var targetLabel = document.querySelector('label[for="' + picker.id + '"]'),
    codeArea = document.createElement('span');
    // codeArea2 = document.getElementByClassName('formCouleur1');

  codeArea.innerHTML = picker.value;
  targetLabel.appendChild(codeArea);

  picker.addEventListener('change', function() {
    codeArea.innerHTML = picker.value;
    targetLabel.appendChild(codeArea);
  });
});

// $('#colorpicker').on('input', function() {
// 	$('#hexcolor').val(this.value);
// });
// $('#hexcolor').on('input', function() {
//   $('#colorpicker').val(this.value);
// });


// window.onload = function(){
//     $("input.color").each(function() {
//         var that = this;
//         $(this).parent().prepend($("<i class='fa fa-paint-brush color-icon'></i>").click(function() {
//             that.type = (that.type == "color") ? "text" : "color";
//     }));
//     }).change(function() {
//         $(this).attr("data-value", this.value);
//         this.type = "text";
//     });
// }
    

    </script>
{% endblock %}
