{% extends 'appPro/layout.html.twig' %} {% block title %} {% endblock %} {% block content %}
<section class="pt-4 h-100" id="content-wrapper" style="width:100%!important;height:1000px!important">
    <div class="container">
        <ul class="nav nav-tabs bg-white text-uppercase">
            <li class="nav-item bg_primary border-0">
                <a class="nav-link bg_primary text-light" href="{{path('')}}">Paramettre de l'nterface</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text_primary"  href="{{path('admin_ajouter_agent')}}">Utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text_primary" href="#">Documents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger disabled" href="#">Confidentiel</a>
            </li>
        </ul>
        <div class="row mt-5">
            <div class="col-md-7">
                <div class="card p-3" style="background-color:#f6f6f6">
                    <p class="font2 text-uppercase"> Prévisulation de l'interface </p><br>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="text-light text-center" style="background-color:{{agence.couleur1}}"> LOGO </div>
                            <div class="" style="height:250px;background-color:{{agence.couleur2}}"> <hr> <hr><hr></div>
                        </div>
                        <div class="col-md-9">
                            <div class=" w-100 bg_white text-dark">
                                <div class="float:left">
                                    <span class="badge" style="background-color:{{agence.couleur1}}">1</span>
                                    <span class="badge" style="background-color:{{agence.couleur1}}">2</span>
                                    <span class="badge" style="background-color:{{agence.couleur1}}">3</span>
                                    <span class="badge" style="background-color:{{agence.couleur1}}">4</span> 
                                    <span class="badge text-muted" style="background-color:lightgray;width:200px"><small>Recherche rapide </small></span> 
                                    {# <input type="text" id="inputColor1" class="inputColor1">test</input> #}
                                </div>
                            </div>
                            <div class="mt-3" style="background-color:lightgray;height:250px"> Contenu
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {{form_start(form, {'attr': {novalidate: 'novalidate'}})}} 
                <div class="row align-items-center">
                    <div class="col-md-11">
                    <label><small>&nbsp;&nbsp; Cliquez pour choisir la première couleur</small> </label>
                        {{ form_row(form.couleur_1,{'attr': {'class': 'radius10 text2 formCouleur1'}}) }}
                    </div>
                    {# <div class="col-md-1">
                        <div class="btn bg_secondary text-light radius10"><i class="fas fa-sync"></i></div>
                    </div> #}
                </div>
                <div class="row mt-4 align-items-center">
                    <div class="col-md-11">

                        <span class="color-picker">
                            <label for="colorPicker">
                                <input type="color" value="#1DB8CE" id="colorPicker">
                            </label>
                        </span>

                        {# <input class="inputColorTot" type="color" id="colorpicker" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#bada55"> 
 
                        <input class="colorInput inputColorTot" type="text" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#bada55" id="hexcolor"></input> #}
                        {# <ul class="list-group list-group-flush">
                            <li class="list-unstyled">
                                <div class="row">
                                    <div class="col-md-15">
                                        <label class="w-100 label_color">
                                            <input class="color form-control-file color_ajoutVoiture" id="color_ajoutVoiture" name="background_seller" placeholder="Color" data-value="#xxxxxx" value=""/>
                                        </label> 
                                    </div>
                                </div>
                            </li>
                        </ul> #}
                        {# <label><small>&nbsp;&nbsp;Cliquez pour choisir la seconde couleur</small> </label> #}
                        {# {{ form_row(form.couleur_2,{'attr': {'class': 'radius10 text2'}}) }} #}
                        {# {{ dump(form.couleur_1.vars.value)}} #}
                    </div>
                    {# <div class="col-md-1">
                        <div class="btn bg_secondary text-light radius10"><i class="fas fa-sync"></i></div>
                    </div> #}
                </div>
                <br>
                <div class="row mt-3 align-items-center">
                    <div class="col-md-6">
                        <button type="button" onclick="btn_previsualiserCouleur()" class="w-100 btn bg_primary text-dark radius10 text1 text-uppercase"> PRÉVISUALISER</button>
                     </div>
                     <div class="col-md-5">
                        <button type="submit" class="w-100 btn bg_primary text-dark radius10 text1 text-uppercase"> ENREGISTRER</button>
                     </div>
                 </div>
                  {{ form_end(form)}}
            </div>
            
           
        </div>
     
    </div>
</section>  

<style>

code {
  padding: 5px 8px;
  border-radius: 10px;
  background-color: #f8f9f9;
  color: #CC0066;
}

[type='color'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  width: 15px;
  height: 15px;
  border: none;
}

[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

[type='color']::-webkit-color-swatch {
  border: none;
}

.color-picker {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f8f9f9;
}


/* .inputColorTot{
  display: block;
  width: 50%;
  float: left;
  height: 80px;
}

.colorInput{
  padding: 20px;
}

.colorInput:invalid{
  outline: 2px solid red;
} */


/* 
.label_color{
    font-family: sans-serif;
    width: 300px;
    display: block;
    position: relative;
}

.color_ajoutVoiture{
    padding: 5px 15px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    height: 40px;
    padding-left: 10px;
}

.color_ajoutVoiture:after {
    content: attr(data-value);
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: #fffff5;
    display: block;
    width: 100%;
}

.color-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #666;
    cursor: pointer;
} */

</style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

    document.querySelectorAll('input[type=color]').forEach(function(picker) {

  var targetLabel = document.querySelector('label[for="' + picker.id + '"]'),
    codeArea = document.createElement('span');
    // codeArea2 = document.getElementByClassName('formCouleur1');

  codeArea.innerHTML = picker.value;
  targetLabel.appendChild(codeArea);

  picker.addEventListener('change', function() {
    codeArea.innerHTML = picker.value;
    targetLabel.appendChild(codeArea);
  });
});

// $('#colorpicker').on('input', function() {
// 	$('#hexcolor').val(this.value);
// });
// $('#hexcolor').on('input', function() {
//   $('#colorpicker').val(this.value);
// });


// window.onload = function(){
//     $("input.color").each(function() {
//         var that = this;
//         $(this).parent().prepend($("<i class='fa fa-paint-brush color-icon'></i>").click(function() {
//             that.type = (that.type == "color") ? "text" : "color";
//     }));
//     }).change(function() {
//         $(this).attr("data-value", this.value);
//         this.type = "text";
//     });
// }
    

    </script>
{% endblock %}
