
{% extends 'website/layout.html.twig' %}

{% block title %}
	Acheter
{% endblock %}
{% block description %}{% endblock %}

{% block content %}

{# recherche bloc  #}
<div class="search h-50 mt-5 pt-5 pb-5 bg-warning" style="height:500px!important; padding-top:80px!important;background-image:url('{{ asset('build/images/banner.jpg') }}');background-size:cover">
			{# Bloc type recherche #}
    <div class="container"><br><br>
        <div class="row ">
            <div class="col-md-3 text-center bg_primary  pt-3 pb-3 pl-1 pr-1" style="border-top-left-radius:35px;border-top-right-radius:35px">
                <a class=" text_grey font-weight-bold h6 text-decoration-none">Je recherche un bien à vendre ...</a>
            </div>
            {# <div class="col-md-2 text-center  bg-light pt-3 pb-3 pl-1 pr-1" style="border-top-right-radius:35px">
                <a class="text-center text-decoration-none text_grey font-weight-bold h6 " href="{{path('bien_a_vendre')}}">Acheter</a>
            </div> #}
        </div>
            
        {# Bloc champs saisi recherche #}
        <div class="row">
            {{ form_start(form)}}
            <div class="row">
                <div class="col-md-11 bg-light" >
                    <div class="row m-3">
                        <div class="col-md-5 my-4">
                            <div class="row">
                                <div class="col-md-1">
                                    <img src="{{ asset('build/images/icon-localisation.png') }}" class="img-fluid" style="position:absolute;width:50px;margin:auto;display:block; padding-right:15px;">
                                </div>
                                <div class="col-md-11">
                                    {{ form_row(form.adresse, {id: 'recherche_bien',attr: { 'class': 'w-100 radius15' }} ) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 my-4">
                            <div class="row">
                                <div class="col-md-1">
                                    <img src="{{ asset('build/images/icon-localisation.png') }}" class="img-fluid" style="position:absolute;width:50px;margin:auto;display:block; padding-right:15px;">
                                </div>
                                <div class="col-md-11">
                                     {{ form_row(form.distance) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 my-4" style="display:none!important">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="{{ asset('build/images/icon-euro.png') }}" class="img-fluid" style="position:absolute;width:50px;margin:auto;display:block; padding-right:15px;">
                                </div>
                                <div class="col-md-10" >
                                       <div> {{ form_row(form.typeTransaction) }} </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 my-4">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="{{ asset('build/images/icon-maison.png') }}" class="img-fluid" style="position:absolute;width:50px;margin:auto;display:block; padding-right:15px;">
                                </div>
                                <div class="col-md-10">
                                   {{ form_row(form.categorie) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 my-4 py-0">
                            <button class="btn btn_primary float_right shadowbtn w-100 text-uppercase">Rechercher</button>
                        </div>
                    </div>
                    {# <div class="row p-4">
                        <div class="col-md-11">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-2 h-100" >
                                        <div> <img src="{{ asset('build/images/icon-localisation.png') }}" class="w-100 h-100 img-fluid img-responsive" style="width:"></div>
                                            
                                        </div>
                                        <div class="col-md-10">
                                            <span class="text_secondary"> 	{{ form_row(form.adresse, {id: 'recherche_bien',attr: { 'class': 'w-100 radius15' }} ) }} <span>
                                        </div>
                                    </div>
                                </div>	
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-3 h-100" ><div> <img src="{{ asset('build/images/icon-euro.png') }}" class="w-100 h-100 img-fluid img-responsive" style="width:"></div>
                                            
                                        </div>
                                        <div class="col-md-9">
                                            <span class="text_secondary">                                         {{ form_row(form.distance) }} <span>
                                        </div>
                                    </div>
                                </div>	
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-3 h-100" ><div> <img src="{{ asset('build/images/icon-euro.png') }}" class="w-100 h-100 img-fluid img-responsive" style="width:"></div>
                                            
                                        </div>
                                        <div class="col-md-9">
                                            <span class="text_secondary"> {{ form_row(form.prixMax,{ attr: { 'class': 'w-100 radius10' }}) }} <span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-1 h-100" ><div> <img src="{{ asset('build/images/icon-maison.png') }}" class="w-100 h-100 img-fluid img-responsive" style="width:"></div>
                                            
                                        </div>
                                        <div class="col-md-10">
                                            <span class="text_secondary">{{ form_row(form.categorie) }}<span>
                                        </div>
                                    </div>
                                    
                                </div>	
                            </div>
                        </div>
                        <div class="col-md-1 mt-2">
                            <a class="btn btn_primary float_right shadowbtn"> rechercher </a>
                        </div>
                    </div> #}
                </div>
                <div class="col-md-1 p-0 ">
                    <div class="bg_primary w-50 h-100"><br>
                        <label  class="toggle-label w-100 r_0 btn text_secondary text-center radius10 text-light text1" for="cbToggleVisibility" role="button"><i class="bi fa-2x bi-plus-circle-fill"></i></label>
                    </div>
                    {# <a class="p-2 m-auto d-block p-3 bg_primary p-1 text_secondary h6 float_left h-100 pt-5 w-25">+</a> #}
                </div>
            </div>
            {# FORMULAIRE DE RECHERCHE DES BIENS #}
           <div class="row ">
                <div class="col-md-11 px-0">
                    <div class="bg-light">
                        <input type="checkbox" id="cbToggleVisibility" >
                            <div class="target">
                                <div class="container">
                                    <div class="row mx-3">
                                        <div class="col-md-4">
                                            {{ form_row(form.options, {attr: { 'class': 'w-100 radius15' }}) }}
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            {{ form_row(form.surfaceMin, {attr: { 'class': 'w-100 radius15' }}) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_row(form.surfaceMax, {attr: { 'class': 'w-100 radius15' }}) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_row(form.prixMin, {attr: { 'class': 'w-100 radius15' }}) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_row(form.prixMax,{ attr: { 'class': 'w-100 radius10' }}) }}
                                        </div>
                                    </div>
                                    <div class="row mx-3">
                                        <div class="col-md-2">
                                        </div>
                                    </div>

                                    <div class="row mx-3 my-4">
                                    <div class="col-md-4">
                                            {{ form_row(form.typeChauffage, {attr: { 'class': 'w-100 radius15' }}) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.nbrepiece, {attr: { 'class': 'w-100 radius15' }}) }}
                                        </div>
                                    
                                        <div class="col-md-3">
                                            {{ form_row(form.nbreChambre, {attr: { 'class': 'w-100 radius15' }}) }}
                                        </div>
                                    </div> 
                                </div>
                            </div> 
                    </div>
                </div>
           </div>
            
        </div>

         
            {{ form_end(form)}}
    </div>
		{# FIN FORMULAIRE DE RECHERCHE DES BIENS #}
</div>

{# Afficher les BIENS #}
<section>
    <div class="container mt-5">
        <span class="badge bg_secondary text2 radius10 text-decoration-none py-2">
            <a id="btn_grille_produits" style="cursor:pointer" class="text-light text_normal"> &nbsp;<i class="fas fa-th-list"></i> &nbsp;Grille </a> &nbsp; 
            <a id="btn_liste_produits" style="cursor:pointer" class="text-light text_normal"> <i class="fas fa-bars"></i> &nbsp;Liste</a> 
        </span>
    </div>
    <div class="container">
        <div class="row pt-2 " id="table_grille_produits"> 
            {% for bien in biens %}
            <div class="col-md-4 pt-5">
                <div class="card border-0 shadow radius10"
                style="background-image:url('{{ bien.images is not empty ? vich_uploader_asset(bien.images | first, 'imageFile') | imagine_filter('medium') :
                    asset("build/images/banner.jpg")  | imagine_filter('medium') }}')!important;background-size:cover; height:300px!important">
                    <div class="row m-2 h-75">
                        <div class="col-md-12">
                            <div class="badge radius10 bg_secondary text-light h6 ">{{ bien.referenceBien | length > 8 ? bien.referenceBien | slice(0, 15) ~ '...' : bien.referenceBien }}</div>
                            <div class="badge radius10 bg_primary text-light text_secondary h6"> {{bien.chargeComprise  == 0 ? 'Hors charge': 'Charge comprise'}}</div>
                        </div>

                    </div>
                    <div class="row m-0 bg_primary h-25 align-items-center" style="border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;">
                        <div class="col-md-8">
                            <p class="text_secondary mt-1 text-capitalize" >{{bien.titre}} {{bien.surface}}  m² -  {{bien.ville}}  ({{bien.codePostal}}) </p>                         
                        </div>
                        <div class="col-md-4">
							<a href="{{path('detail_bien', {slugTitle: bien.slug, id: bien.id}) }}" class="text-decoration-none">
								<div class="radius35 text-center text1 h6 text_secondary mt-2 py-2" style="background-color:#e6eed6">
									{{bien.getFormaterPrix}} € <br> <span class="h6"> <small style="font-size:10px">
									</small></span>
								</div>
							</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row pt-2 " id="table_liste_produits"> test</div>

    
    
    		{# AFFICHER LES BOUTONS POUR LA PAGINATION #}
      <div class="pagination justify-content-center my-5 ">
            {{knp_pagination_render(biens, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig' ) }}
        </div>
</section>         

{% endblock %}
{% block javascripts %}
    {{ parent() }}

        <script>
           //-------------------------MODEL GRILLE LISTE PRODUITS --------------------------
            document.getElementById('btn_liste_produits').addEventListener('click',afficherListeProduit);
            function afficherListeProduit(){
                $("#table_grille_produits").hide();
                $("#table_liste_produits").show();
            }
            document.getElementById('btn_grille_produits').addEventListener('click',afficherGrilleProduit);
            function afficherGrilleProduit(){
                $("#table_liste_produits").hide();
                $("#table_grille_produits").show();

            }
        </script>
{% endblock %}
