{% extends 'website/layout.html.twig' %}

{% block title %}
Fatima immobilier - detail produit
{% endblock %}

{% block description %}{% endblock %}
{% block content %}					
<section>
	<div class="mx-5 mt-5 pt-5">
		<div class="row">
			<div class="col-md-8 mr-5">
                {# Titre + image #}
				<p>
                    <span class="h2 sous_titre">{{bien.titre}}</span>
                    <span class="h6  mr-0 m-2 p-2 text-light bg_secondary radius55 float-right" style="float:right!important">Réf: {{bien.referenceBien | length > 8 ? bien.referenceBien | slice(0, 10) ~ '' : bien.referenceBien}}</span>
                </p>
                <p> <span class="h3 sous_titre">{{bien.getFormaterPrix}}€ /</span> <span class="text1"><small>{{bien.chargeComprise == false ? 'Charge non comprise ' : 'Charge comprise' }}</small></span></p>

                <div class="" style="background-color:#F5F5EF">
                    {# AJOUTER UN SLIDE A NOS IMAGES #}
                    <div data-slider>
                        {% if bien.images is empty %}
                            <img src="https://images.pexels.com/photos/32870/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-responsive w-100 bg_primary" style="border: 5px solid #b4cc83; border-left:none; border-right:none; border-bottom:none;">
                        {% else %}
                            {% for image in bien.images %}
                            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('medium')}} " class="img-responsive w-100 bg_primary" style="border: 5px solid #b4cc83; border-left:none; border-right:none; border-bottom:none;">
                        {% endfor %}
                    {% endif %}
                    </div>
                    {# FIN AJOUT UN SLIDE A NOS IMAGES #}

                    {# AFFICHER LES IMAGES DU BIEN EN MINIATURE #}
                    <div class="py-2">
                        {% if bien.images is empty %}
                            <img src="https://images.pexels.com/photos/32870/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="w-15 img-resonsive mx-2 mt-2 "/>
                            <img src="https://images.pexels.com/photos/32870/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="w-15 img-resonsive mx-2 mt-2 "/>
                            <img src="https://images.pexels.com/photos/32870/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="w-15 img-resonsive mx-2 mt-2 "/>
                            <img src="https://images.pexels.com/photos/32870/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="w-15 img-resonsive mx-2 mt-2 "/>
                        {% else %}
                            {% for image in bien.images %}
                            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('thumb')}} " class="w-15 img-resonsive mx-2 mt-2 ">
                            {% endfor %}
                        {% endif %}
                    </div>
                    {# FIN LES IMAGES DU BIEN EN MINIATURE #}
                </div>
                <br>
                <p class="text_secondary font-weight-bold text-normal text1"><b>Publié le {{bien.createdAt | date('d/m/y') }} | Ref. d{{bien.referenceBien | length > 8 ? bien.referenceBien | slice(0, 8) ~ '' : bien.referenceBien}}</b></p>

                {# Description bien #}
                <p class="h1 text_secondary mt-5 font-weight-bold">Description du bien à vendre </p>
                <p class="text_justify text1">{{bien.description | nl2br }}</p>
			</div>
            <div class="col-md-4">
                {# Formulaire de contact / agent référent #}
				<div class=" mx-5 radius35 p-3" style="background-color:#e6eed6;">
                    <h5 class="text-center h5 text_secondary text-uppercase mt-4">Contacter l'agent <br> pour ce bien</h5><br>
                    {# <a href="#" class="btn btn-primary" rel="contacter le responsable" id="contactButton" {% if form.vars.submitted %} style="display: none;" {% endif %}> Contacter le responsable </a> #}

                    <div id="contactForm" class="mt-4" >
                         {{ form_start(form, {'attr': {novalidate: 'novalidate'} }) }}
                         <div class="row">
                             <div class="col">{{ form_row(form.prenom) }}</div>
                             <div class="col">{{ form_row(form.nom) }}</div>
                        </div>

                        <div class="row">
                            <div class="col">{{ form_row(form.telephone) }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form_row(form.email) }}</div>
                        </div>
                        {{ form_rest(form)}}
                        <div class="form-group mt-4">
                            <button class="w-100 bg_secondary text-center  text-light text-light font-weight-bold radius55 px-2 py-2 ">Envoyer<br><i class="fas fa-paper-plane"></i></button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    {# <div class="row mt-4">
                        <div class="col-md-6">
                            <input class="form-control border-0 p-3 text_secondary" type="text" placeholder="Nom">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control border-0 p-3 text_secondary" type="text" placeholder="Prénom">
                        </div>
                    </div>
                    <input class="form-control border-0 p-3 text_secondary mt-4" type="text" placeholder="Téléphone">
                    <input class="form-control border-0 p-3 text_secondary mt-4" type="text" placeholder="Email">
                    <textarea class="form-control mt-4 border-0" id="" rows="7" placeholder="Bonjour, je souhaite recevoir plus d'informations sur cette annonce que vous proposez. Pourriez-vous me recontacter à ce sujet ? Cordialement."></textarea>
                    <br> #}


                    {# <div class="row">
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-6">
                          <a href="#" class="mt-4 text-decoration-none text-uppercase h6">  <div class="w-100 bg_secondary text-center  text-light text-light font-weight-bold radius55 px-3 py-2 "> Contacter <br><i class="fas fa-paper-plane"></i> </div></a>
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                    </div> <br> #}
                </div>

                {# Vidéo#}
                <div class="mx-5 mt-5 ">
                    <a href="#"><img src="{{ asset('build/images/video.png')}}" class="w-100 img-responsive"/> </a>
                    <a href="#" class="mt-4  text-decoration-none text-uppercase text-center " >  <div style="margin-top:-60px;position:relative" class="w-75 m-auto bg_light text-center  hover_primary text_secondary text-light font-weight-bold radius55 px-3 py-2 "> Demander plus de vidéos/photos  </div></a>
                </div>
                <div class="row">
                    <div class="mx-6 mt-3 col-md-2 "></div>
                    <div class="mx-6 mt-3 col-md-8 ">
                        <ul class="list-group list-group-flush text2">
                            <a href="#"><li href="#" class="list-group-item">
                            <span class="badge badge-secondary bg_secondary"><i class="bi bi-printer text-light h4"></i></span>  Imprimer la fiche
                            </li></a>
                            <a href="#"><li class="list-group-item"><span class="badge badge-secondary bg_secondary"><i class="bi bi-envelope text-light h4"></i></span>  Partager par mail</li></a>
                            <a href="#"><li class="list-group-item"><span class="badge badge-secondary bg_secondary"><i class="bi bi-facebook text-light h4"></i></span>  Partager sur Facebook</li></a>
                        </ul>
                    </div>
                    </div>
                </div>
			</div>
			{# caractéristique #}
			<p class="h1 text_secondary mt-5 font-weight-bold">Caractéristiques </p>
            <div class="row col-md-6 ">
                <div class="col-md-5 m-1 p-3" style="background-color:#e6eed6!important">
                    &nbsp; <i class="bi bi-check-circle-fill text_primary"></i> {{bien.nbreChambre}} chambres
                </div>
                <div class="col-md-5 m-1 p-3" style="background-color:#e6eed6!important">
                    &nbsp; <i class="bi bi-check-circle-fill text_primary"></i> {{bien.nbrepiece}} Pièces
                </div>
                <div class="col-md-5 m-1 p-3" style="background-color:#e6eed6!important">
                    &nbsp; <i class="bi bi-check-circle-fill text_primary"></i> {{bien.categorie.nom}} 
                </div>
                <div class="col-md-5 m-1 p-3" style="background-color:#e6eed6!important">
                    &nbsp; <i class="bi bi-check-circle-fill text_primary"></i> {{bien.surface}} M²
                </div>
                 <div class="col-md-5 m-1 p-3" style="background-color:#e6eed6!important">
                    &nbsp; <i class="bi bi-check-circle-fill text_primary"></i> {{bien.typeTransaction== 0 ? 'Location': 'Vente'}} 
                </div>
                <div class="col-md-5 m-1 p-3" style="background-color:#e6eed6!important">
                    &nbsp; <i class="bi bi-check-circle-fill text_primary"></i> {{bien.etage}} étage
                </div>
                {% for option in bien.options %}
                <div class="col-md-5 m-1 p-3" style="background-color:#e6eed6!important">
                    &nbsp; <i class="bi bi-check-circle-fill text_primary"></i> {{option.nom}} 
                </div>
                {% else %}
                <div class="col-md-5 m-1 p-3" style="background-color:#e6eed6!important">
                    &nbsp; <i class="bi bi-check-circle-fill text_primary"></i>  
                </div>
            {% endfor %}
            </div>
        </div>
         <div class="text-center ">
                <div id="mymapBien" style="width: 100%; height: 400px;"  data-lat="{{ bien.latitude }}" data-lng="{{ bien.longitude}}" 
                data-titre="{{ bien.titre }}" data-prix="{{ bien.getFormaterPrix }}" data-adresse="{{ bien.adresse }}" data-surface="{{ bien.surface }}">
                </div>
                </div>
            </div>
	</div>
	{# SELECTIONS DES BIENS SIMILAIRES #}
	<div class="pt-5 bg_primary pb-5">
		<b><h2 class="h2 pt-3 sous_titre text-center mt-5">BIENS SIMILAIRES </h2></b>
		<p class="text-center text_normal"> Jetez un coup d'oeil à nos selections les plus récentes </p>
		<div class="container">
    		<div class="row flex">
        		{% if similars %}
                {% for bien in similars %}
                         <div class="col-md-3">
                            <div class="card p-3 radius10">
                                <img src='{{ bien.images is not empty ? vich_uploader_asset(bien.images | first, 'imageFile') | imagine_filter('medium') :
                 		        "https://images.pexels.com/photos/32870/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" }}' 
                                 class="w-100 img-resonsive" style="height:270px;border-top-right-radius:50px"/>
                                <span class="text_secondary text-uppercase font-weight-bold mt-3 h6">{{bien.titre}} </span>
                                <p class="text_secondary text-uppercase font-weight-bold">
                                <span class="font-weight-bold h6">{{bien.getFormaterPrix}} €/ </span> <small>{{bien.chargeComprise == false ? 'Charge non comprise ' : 'Charge comprise' }} </small>
                                </p>
                            </div>
                        </div>
                {% endfor %}
                {% else %}
                    <ul class="list-group list-group-flush list-unstyled">
                        <li class="fw-bold mb-1">
                            <div class="bg-light p-3 shadow-sm" >
                                <div class="row">
                                    <p class="text-center">Aucun produit similaire...</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
	</div><br><br>
	<div class="row">
	    <div class="col-2"></div>
	    <div class="col-8">
			<div class="col-md-11 bg-light" >
				<div class="row p-4">
					<div class="col-md-8 p-3">
						<span class="h7 text_secondary font-weight-bold">Vous avez besoin de plus d'information? contactez l'agence</span>
					</div>
					<div class="col-md-4 mt-2">
						<a href ="" class="btn  bg_secondary text-light"> CONTACTER L'AGENCE </a>
					</div>
				</div>
			</div>	
		</div>
		<div class="col-2"></div>
	</div><br><br>
</div>
	
	
	
	
</div>
<section>
{% endblock %}
