{% extends 'website/layout.html.twig' %}


{% block title %}
	Produit
{% endblock %}

{% block content %}

<section>
	<div class="container m-5 p-5">
		<p class="h1"> Page "Produit" à vendre</p><br>
		<p class="h6"> 
			-Maison de campagne<br>
			-975 879 euros<br>
			-supérficie: 180 m2<br>
		</p>
        <img src="{{ asset('build/images/telechargement.png') }}"/>
	</div>
</section>
{% endblock %}