{% extends 'website/layout.html.twig' %}


{% block title %}
	Nos produits
{% endblock %}

{% block content %}

<section>
	<div class="container m-5">
		<p class="h1"> Page "tous nos produits" en construction</p>
	</div>
</section>
{% endblock %}
