{% extends 'appPro/layout.html.twig' %}

{% block title %}
	BuyAndRent App - Ajouter un produit
{% endblock %}

{% block description %}{% endblock %}
{% block content %}
	<section class="pt-4" id="content-wrapper" style="width:100%!important">
		<div class="container">
			<div class="row w-100 align-items-center">
				<div class="col-md-8">
					<p>
						<span class="text1 text_secondary mt-3 font-weight-bold h6">
							<a href="{{path('liste_rdv_pro')}}" class="text_secondary text-decoration-none">
								<i class="bi bi-arrow-left-short"></i>RENDEZ-VOUS</a>/ AJOUTER UN RENDEZ-VOUS</span>
					</p>
				</div>
				<div class="col-md-4 float_right p-0"></div>
			</div>
			{# -----------------------------------------Information Du bien---------------------------------------- #}
			<div class="card shadow radius10 border-0 p-4 mb-5 mx-5 px-5">
				<div class="row">
					<div class="col-md-12">
						{# <h6 class="text-underline text-uppercase text1 text_secondary mt-5"><u><small><b>Caractéristiques générales</b></small></u></h6>              #}
						{{ form_start(form, { attr: { 'id': 'form_contact' }}) }}
						{{ form_errors(form) }}
						<div class="row">
							<div class="col-md-4">
								<label for="exampleFormControlTextarea1" class="text2">Type de rendez-vous</label>
								{{ form_row(form.type,{'attr': {'class': 'radius10'} }) }}
							</div>
							<div class="col-md-4">
								<label for="exampleFormControlTextarea1" class="text2">Date du rendez-vous</label>
								{{ form_row(form.dateVisite,{'attr': {'class':'radius10'}}) }}
							</div>
							<div class="col-md-4">
								<label for="exampleFormControlTextarea1" class="text2">Heure du rendez-vous</label>
								{{ form_row(form.heureVisite,{'attr': {'class': 'radius10'} }) }}
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-4">
								<label for="exampleFormControlTextarea1" class="text2">Libellé du rendez-vous</label>
								{{ form_row(form.titre,{'attr': {'class':'radius10'}}) }}
							</div>
							<div class="col-md-4">
								<label for="exampleFormControlTextarea1" class="text2">Nom du contact</label>
								{{ form_row(form.contactNom,{'attr': {'class':'radius10'}}) }}
							</div>
							<div class="col-md-4">
								<label for="exampleFormControlTextarea1" class="text2">Nom de l'agent</label>
								{{ form_row(form.user,{'attr': {'class':'radius10'}}) }}
							</div>
						</div>
						<div class="row mt-5">
							<div class="col-md-12">
								{{ form_row(form.description,{'attr': {'class':'radius10'}}) }}
							</div>
						</div>
						{% if form.submit is defined %}
							{{ form_row(form.submit) }}
						{% else %}
							<button class="btn float_right bg_primary text1 h5 text-uppercase text_secondary mt-4 mb-4 radius10 p-2" style="box-shadow: 0px 0px 13px 8px rgba(255, 255, 255, 0.25);">
								Enregistrer
							</button>
						{% endif %}
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
	<script>
		$(document).ready(function () { // you may need to change this code if you are not using Bootstrap Datepicker
$('.js-datepicker').datepicker({format: 'yyyy-mm-dd'});
});
	</script>
{% endblock %}
