{% extends 'appPro/layout.html.twig' %}

{% block title %}
	BuyAndRent App - Liste des produits 
{% endblock %}

{% block description %}{% endblock %}
{% block content %}
<style>
    .rounded60{
        border-radius:60px;
    }
</style>
<section class="pt-4" id="content-wrapper" style="width:100%!important">

   <div class="container">
        <div class="row w-100 align-items-center">
            <div class="col-md-8">
                <div class="text1 text_secondary mt-3 font-weight-bold h6">CALENDRIER  / LISTE DES RENDEZ-VOUS </div>
            </div>
            <div class="col-md-4 float_right p-0">
                {# <a href="{{path('rdv_ajouter')}}">
                    <span class="float_right badge bg_secondary text2 radius10 text-decoration-none h1 py-2">&nbsp; Ajouter &nbsp; <i class="bi bi-plus-circle-fill"></i></span>
                </a> #}
            </div>
        </div>
        <div class="card w-75 p-2">
            <div class="row">
                <div class="col-md-3">
                    <span class="badge bg-success text-white w-25"> &nbsp; </span> Rendez-vous
                </div>
                <div class="col-md-3">
                    <span class="badge bg_primary text-dark w-25"> &nbsp; </span> Visite client
                </div>
                <div class="col-md-3">
                    <span class="badge bg-warning text-dark w-25"> &nbsp; </span> Etat des lieux
                </div>
                <div class="col-md-3">
                    <span class="badge bg_secondary text-white w-25 "> &nbsp; </span> Autre
                </div>
            </div>
        </div>
        <hr>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-9">
                    {# CALENDRIER #}
                    <div class="row ">
                        <div class="col-md-2 border border-top-0 border-bottom-0">
                            <div class="bg_secondary p-2 text-light text-center">JANVIER</div>
                                    {% for  rdv in rdvJanvier %}
                                    {% if rdv.deletedAt is null %}
                                            <div class="card mt-2">
                                                <div class="card-header text-center py-1 px-1" style="background-color:#7c989f;">
                                                <a  href="{{path('delete_rdv',{'id': rdv.id})}}" title="archiver" onclick=" return confirm('Voulez-vous vraiment archiver ce rendez-vous ?)" class="badge badge-pill bg_secondary w-25 m-auto d-block rounded60 p-0"> <i class="bi bi-x text-light"></i> </a>
                                                    <small class="text-light text2">  {{rdv.dateVisite|date("d/m/Y")}} à  {{rdv.heureVisite|date('H:i')}} </small>
                                                    <span class="badge
                                                    {% if rdv.type == "Rdv" %}bg-success text-white {% endif %} 
                                                    {% if rdv.type == "Visite" %}bg_primary text-dark {% endif %}
                                                    {% if rdv.type == "EdL" %}bg-warning text-dark {% endif %}
                                                    {% if rdv.type == "Autre" %}bg_secondary text-white {% endif %}
                                                    float-right text-dark text2"> {{rdv.type}}</span>
                                                </div>
                                                <div class="card-body font-weight-light text2 px-1 py-1">
                                                    <small><b>Contact: {{rdv.contactNom}} </b></small><br>
                                                    {# <small><b>Agent: {{rdv.user.nom}} {{rdv.user.prenom}} </b></small><br> #}
                                                    <small>{{rdv.titre}}</small>
                                                    {# <p class=""><small>{{rdv.description}}</small></p> #}
                                                </div>
                                            </div>
                                    {% endif %} 
                                    {% else %} 
                                        <div class="card mt-2">
                                            <p class="text-center"><small>Aucun rendez-vous </small></p>
                                        </div>
                                    {% endfor %} 
                        </div>
                        <div class="col-md-2 border border-top-0 border-bottom-0">
                            <div class="bg_secondary p-2 text-light text-center">FEVRIER</div>
                                {% for  rdv in rdvFevrier %}
                                {% if rdv.deletedAt is null %}
                                        <div class="card mt-2">
                                        <div class="card-header text-center py-1 px-1" style="background-color:#7c989f;">
                                         <a  href="{{path('delete_rdv',{'id': rdv.id})}}" title="archiver" onclick=" return confirm('Voulez-vous vraiment archiver ce rendez-vous ?)" class="badge badge-pill bg_secondary w-25 m-auto d-block rounded60 p-0"> <i class="bi bi-x text-light"></i> </a>
                                        <small class="text-light text2">  {{rdv.dateVisite|date("d/m/Y")}} à  {{rdv.heureVisite|date('H:i')}} </small>
                                        <span class="badge
                                            {% if rdv.type == "Rdv" %}bg-success text-white {% endif %} 
                                            {% if rdv.type == "Visite" %}bg_primary text-dark {% endif %}
                                            {% if rdv.type == "EdL" %}bg-warning text-dark {% endif %}
                                            {% if rdv.type == "Autre" %}bg_secondary text-white {% endif %}
                                            float-right text-dark text2"> {{rdv.type}}</span>
                                        </div>
                                        <div class="card-body font-weight-light text2 px-1 py-1">
                                        <small><b>Contact: {{rdv.contactNom}} </b></small><br>
                                        {# <small><b>Agent: {{rdv.user.nom}} {{rdv.user.prenom}} </b></small><br> #}
                                        <small>{{rdv.titre}}</small>
                                        {# <p class=""><small>{{rdv.description}}</small></p> #}
                                        </div>
                                    </div>
                                {% endif %}
                                {% else %} 
                                    <div class="card mt-2">
                                        <p class="text-center"><small>Aucun rendez-vous </small></p>
                                    </div>
                                {% endfor %} 
                        </div>
                        <div class="col-md-2 border border-top-0 border-bottom-0">
                            <div class="bg_secondary p-2 text-light text-center">MARS</div>
                                {% for  rdv in rdvMars %}
                                {% if rdv.deletedAt is null %}
                                    <div class="card mt-2">
                                        <div class="card-header text-center py-1 px-1" style="background-color:#7c989f;">
                                        <a  href="{{path('delete_rdv',{'id': rdv.id})}}" title="archiver" onclick=" return confirm('Voulez-vous vraiment archiver ce rendez-vous ?" class="badge badge-pill bg_secondary w-25 m-auto d-block rounded60 p-0"> <i class="bi bi-x text-light"></i> </a>
                                        <small class="text-light text2">  {{rdv.dateVisite|date("d/m/Y")}} à  {{rdv.heureVisite|date('H:i')}} </small>
                                        <span class="badge
                                            {% if rdv.type == "Rdv" %}bg-success text-white {% endif %} 
                                            {% if rdv.type == "Visite" %}bg_primary text-dark {% endif %}
                                            {% if rdv.type == "EdL" %}bg-warning text-dark {% endif %}
                                            {% if rdv.type == "Autre" %}bg_secondary text-white {% endif %}
                                            float-right text-dark text2"> {{rdv.type}}</span>
                                        
                                        </div>
                                        <div class="card-body font-weight-light text2 px-1 py-1">
                                        <small><b>Contact: {{rdv.contactNom}} </b></small><br>
                                        {# <small><b>Agent: {{rdv.user.nom}} {{rdv.user.prenom}} </b></small><br> #}
                                        <small>{{rdv.titre}}</small>
                                        {# <p class=""><small>{{rdv.description}}</small></p> #}
                                        </div>
                                    </div>
                                {% endif %}
                                {% else %} 
                                    <div class="card mt-2">
                                        <p class="text-center"><small>Aucun rendez-vous </small></p>
                                    </div>
                                {% endfor %} 
                        </div>
                        <div class="col-md-2 border border-top-0 border-bottom-0">
                            <div class="bg_secondary p-2 text-light text-center">AVRIL</div>
                                {% for  rdv in rdvAvril %}
                                {% if rdv.deletedAt is null %}
                                    <div class="card mt-2">
                                        <div class="card-header text-center py-1 px-1" style="background-color:#7c989f;">
                                         <a  href="{{path('delete_rdv',{'id': rdv.id})}}" title="archiver" onclick=" return confirm('Voulez-vous vraiment archiver ce rendez-vous ?)" class="badge badge-pill bg_secondary w-25 m-auto d-block rounded60 p-0"> <i class="bi bi-x text-light"></i> </a>
                                        <small class="text-light text2">  {{rdv.dateVisite|date("d/m/Y")}} à  {{rdv.heureVisite|date('H:i')}} </small>
                                        <span class="badge
                                            {% if rdv.type == "Rdv" %}bg-success text-white {% endif %} 
                                            {% if rdv.type == "Visite" %}bg_primary text-dark {% endif %}
                                            {% if rdv.type == "EdL" %}bg-warning text-dark {% endif %}
                                            {% if rdv.type == "Autre" %}bg_secondary text-white {% endif %}
                                            float-right text-dark text2"> {{rdv.type}}</span>
                                        </div>
                                        <div class="card-body font-weight-light text2 px-1 py-1">
                                        <small><b>Contact: {{rdv.contactNom}} </b></small><br>
                                        {# <small><b>Agent: {{rdv.user.nom}} {{rdv.user.prenom}} </b></small><br> #}
                                        <small>{{rdv.titre}}</small>
                                        {# <p class=""><small>{{rdv.description}}</small></p> #}
                                        </div>
                                    </div>
                                {% endif %}
                                {% else %} 
                                    <div class="card mt-2">
                                        <p class="text-center"><small>Aucun rendez-vous </small></p>
                                    </div>
                                {% endfor %} 
                        </div>
                        <div class="col-md-2 border border-top-0 border-bottom-0">
                            <div class="bg_secondary p-2 text-light text-center">MAI</div>
                                {% for  rdv in rdvMai %}
                                {% if rdv.deletedAt is null %}
                                        <div class="card mt-2">
                                            <div class="card-header text-center py-1 px-1" style="background-color:#7c989f;">
                                            <a  href="{{path('delete_rdv',{'id': rdv.id})}}" title="archiver" onclick=" return confirm('Voulez-vous vraiment archiver ce rendez-vous ?)" class="badge badge-pill bg_secondary w-25 m-auto d-block rounded60 p-0"> <i class="bi bi-x text-light"></i> </a>
                                            <small class="text-light text2">  {{rdv.dateVisite|date("d/m/Y")}} à  {{rdv.heureVisite|date('H:i')}} </small>
                                            <span class="badge
                                                {% if rdv.type == "Rdv" %}bg-success text-white {% endif %} 
                                                {% if rdv.type == "Visite" %}bg_primary text-dark {% endif %}
                                                {% if rdv.type == "EdL" %}bg-warning text-dark {% endif %}
                                                {% if rdv.type == "Autre" %}bg_secondary text-white {% endif %}
                                                float-right text-dark text2"> {{rdv.type}}</span>
                                            </div>
                                            <div class="card-body font-weight-light text2 px-1 py-1">
                                            <small><b>Contact: {{rdv.contactNom}} </b></small><br>
                                            {# <small><b>Agent: {{rdv.user.nom}} {{rdv.user.prenom}} </b></small><br> #}
                                                <p class=""><small>{{rdv.titre}}</small></p>
                                                {# <p class=""><small>{{rdv.description}}</small></p> #}
                                            </div>
                                        </div>
                                {% endif %}
                                {% else %} 
                                    <div class="card mt-2">
                                        <p class="text-center"><small>Aucun rendez-vous </small></p>
                                    </div>
                                {% endfor %} 
                        </div>
                        <div class="col-md-2 border border-top-0 border-bottom-0">
                            <div class="bg_secondary p-2 text-light text-center">JUIN</div>
                                {% for  rdv in rdvJuin %}
                                {% if rdv.deletedAt is null %}
                                        <div class="card mt-2">
                                            <div class="card-header text-center py-1 px-1" style="background-color:#7c989f;">
                                            <a  href="{{path('delete_rdv',{'id': rdv.id})}}" title="archiver" onclick=" return confirm('Voulez-vous vraiment archiver ce rendez-vous ?)" class="badge badge-pill bg_secondary w-25 m-auto d-block rounded60 p-0"> <i class="bi bi-x text-light"></i> </a>
                                            <small class="text-light text2">  {{rdv.dateVisite|date("d/m/Y")}} à  {{rdv.heureVisite|date('H:i')}} </small>
                                            <span class="badge
                                                {% if rdv.type == "Rdv" %}bg-success text-white {% endif %} 
                                                {% if rdv.type == "Visite" %}bg_primary text-dark {% endif %}
                                                {% if rdv.type == "EdL" %}bg-warning text-dark {% endif %}
                                                {% if rdv.type == "Autre" %}bg_secondary text-white {% endif %}
                                                float-right text-dark text2"> {{rdv.type}}</span>
                                            </div>
                                            <div class="card-body font-weight-light text2 px-1 py-1">
                                            <small><b>Contact: {{rdv.contactNom}} </b></small><br>
                                            {# <small><b>Agent: {{rdv.user.nom}} {{rdv.user.prenom}} </b></small><br> #}
                                            <small>{{rdv.titre}}</small>
                                            {# <p class=""><small>{{rdv.description}}</small></p> #}
                                            </div>
                                        </div>
                                {% endif %}
                                {% else %} 
                                    <div class="card mt-2">
                                        <p class="text-center"><small>Aucun rendez-vous </small></p>
                                    </div>
                                {% endfor %} 
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-2 border border-top-0 border-bottom-0">
                            <div class="bg_secondary p-2 text-light text-center">JUILLET</div>
                                {% for  rdv in rdvJuillet %}
                                {% if rdv.deletedAt is null %}
                                        <div class="card mt-2">
                                            <div class="card-header text-center py-1 px-1" style="background-color:#7c989f;">
                                            <a  href="{{path('delete_rdv',{'id': rdv.id})}}" title="archiver" onclick=" return confirm('Voulez-vous vraiment archiver ce rendez-vous ?)" class="badge badge-pill bg_secondary w-25 m-auto d-block rounded60 p-0"> <i class="bi bi-x text-light"></i> </a>
                                            <small class="text-light text2">  {{rdv.dateVisite|date("d/m/Y")}} à  {{rdv.heureVisite|date('H:i')}} </small>
                                            <span class="badge
                                                {% if rdv.type == "Rdv" %}bg-success text-white {% endif %} 
                                                {% if rdv.type == "Visite" %}bg_primary text-dark {% endif %}
                                                {% if rdv.type == "EdL" %}bg-warning text-dark {% endif %}
                                                {% if rdv.type == "Autre" %}bg_secondary text-white {% endif %}
                                                float-right text-dark text2"> {{rdv.type}}</span>
                                            </div>
                                            <div class="card-body font-weight-light text2 px-1 py-1">
                                            <small><b>Contact: {{rdv.contactNom}} </b></small><br>
                                            {# <small><b>Agent: {{rdv.user.nom}} {{rdv.user.prenom}} </b></small><br> #}
                                            <small>{{rdv.titre}}</small>
                                            {# <p class=""><small>{{rdv.description}}</small></p> #}
                                            </div>
                                        </div>
                                {% endif %}
                                {% else %} 
                                    <div class="card mt-2">
                                        <p class="text-center"><small>Aucun rendez-vous </small></p>
                                    </div>
                                {% endfor %} 
                        </div>
                        <div class="col-md-2 border border-top-0 border-bottom-0">
                            <div class="bg_secondary p-2 text-light text-center">AOUT </div>
                                {% for  rdv in rdvAout %}
                                {% if rdv.deletedAt is null %}
                                    <div class="card mt-2">
                                        <div class="card-header text-center py-1 px-1" style="background-color:#7c989f;">
                                        <a  href="{{path('delete_rdv',{'id': rdv.id})}}" title="archiver" onclick=" return confirm('Voulez-vous vraiment archiver ce rendez-vous ?)" class="badge badge-pill bg_secondary w-25 m-auto d-block rounded60 p-0"> <i class="bi bi-x text-light"></i> </a>
                                        <small class="text-light text2">  {{rdv.dateVisite|date("d/m/Y")}} à  {{rdv.heureVisite|date('H:i')}} </small>
                                        <span class="badge
                                            {% if rdv.type == "Rdv" %}bg-success text-white {% endif %} 
                                            {% if rdv.type == "Visite" %}bg_primary text-dark {% endif %}
                                            {% if rdv.type == "EdL" %}bg-warning text-dark {% endif %}
                                            {% if rdv.type == "Autre" %}bg_secondary text-white {% endif %}
                                            float-right text-dark text2"> {{rdv.type}}</span>
                                        </div>
                                        <div class="card-body font-weight-light text2 px-1 py-1">
                                        <small><b>Contact: {{rdv.contactNom}} </b></small><br>
                                        {# <small><b>Agent: {{rdv.user.nom}} {{rdv.user.prenom}} </b></small><br> #}
                                        <small>{{rdv.titre}}</small>
                                        {# <p class=""><small>{{rdv.description}}</small></p> #}
                                        </div>
                                    </div>
                                {% endif %}
                                {% else %} 
                                    <div class="card mt-2">
                                        <p class="text-center"><small>Aucun rendez-vous </small></p>
                                    </div>
                                {% endfor %} 
                        </div>
                        <div class="col-md-2 border border-top-0 border-bottom-0">
                            <div class="bg_secondary p-2 text-light text-center">SEPTEMBRE</div>
                                {% for  rdv in rdvSeptembre %}
                                {% if rdv.deletedAt is null %}
                                        <div class="card mt-2">
                                            <div class="card-header text-center py-1 px-1" style="background-color:#7c989f;">
                                            <a  href="{{path('delete_rdv',{'id': rdv.id})}}" title="archiver" onclick=" return confirm('Voulez-vous vraiment archiver ce rendez-vous ?)" class="badge badge-pill bg_secondary w-25 m-auto d-block rounded60 p-0"> <i class="bi bi-x text-light"></i> </a>
                                            <small class="text-light text2">  {{rdv.dateVisite|date("d/m/Y")}} à  {{rdv.heureVisite|date('H:i')}} </small>
                                            <span class="badge
                                                {% if rdv.type == "Rdv" %}bg-success text-white {% endif %} 
                                                {% if rdv.type == "Visite" %}bg_primary text-dark {% endif %}
                                                {% if rdv.type == "EdL" %}bg-warning text-dark {% endif %}
                                                {% if rdv.type == "Autre" %}bg_secondary text-white {% endif %}
                                                float-right text-dark text2"> {{rdv.type}}</span>
                                            </div>
                                            <div class="card-body font-weight-light text2 px-1 py-1">
                                            <small><b>Contact: {{rdv.contactNom}} </b></small><br>
                                            {# <small><b>Agent: {{rdv.user.nom}} {{rdv.user.prenom}} </b></small><br> #}
                                            <small>{{rdv.titre}}</small>
                                            {# <p class=""><small>{{rdv.description}}</small></p> #}
                                            </div>
                                        </div>
                                {% endif %}
                                {% else %} 
                                    <div class="card mt-2">
                                        <p class="text-center"><small>Aucun rendez-vous </small></p>
                                    </div>
                                {% endfor %} 
                        </div>
                        <div class="col-md-2 border border-top-0 border-bottom-0">
                            <div class="bg_secondary p-2 text-light text-center">OCTOBRE</div>
                                {% for  rdv in rdvOctobre %}
                                {% if rdv.deletedAt is null %}
                                        <div class="card mt-2">
                                            <div class="card-header text-center py-1 px-1" style="background-color:#7c989f;">
                                            <a  href="{{path('delete_rdv',{'id': rdv.id})}}" title="archiver" onclick=" return confirm('Voulez-vous vraiment archiver ce rendez-vous ?)" class="badge badge-pill bg_secondary w-25 m-auto d-block rounded60 p-0"> <i class="bi bi-x text-light"></i> </a>
                                            <small class="text-light text2">  {{rdv.dateVisite|date("d/m/Y")}} à  {{rdv.heureVisite|date('H:i')}} </small>
                                            <span class="badge
                                                {% if rdv.type == "Rdv" %}bg-success text-white {% endif %} 
                                                {% if rdv.type == "Visite" %}bg_primary text-dark {% endif %}
                                                {% if rdv.type == "EdL" %}bg-warning text-dark {% endif %}
                                                {% if rdv.type == "Autre" %}bg_secondary text-white {% endif %}
                                                float-right text-dark text2"> {{rdv.type}}</span>
                                            </div>
                                            <div class="card-body font-weight-light text2 px-1 py-1">
                                            <small><b>Contact: {{rdv.contactNom}} </b></small><br>
                                            {# <small><b>Agent: {{rdv.user.nom}} {{rdv.user.prenom}} </b></small><br> #}
                                            <small>{{rdv.titre}}</small>
                                            {# <p class=""><small>{{rdv.description}}</small></p> #}
                                            </div>
                                        </div>
                                {% endif %}
                                {% else %} 
                                    <div class="card mt-2">
                                        <p class="text-center"><small>Aucun rendez-vous </small></p>
                                    </div>
                                {% endfor %} 
                        </div>
                        <div class="col-md-2 border border-top-0 border-bottom-0">
                            <div class="bg_secondary p-2 text-light text-center">NOVEMBRE</div>
                                {% for  rdv in rdvNovembre %}
                                {% if rdv.deletedAt is null %}
                                        <div class="card mt-2">
                                            <div class="card-header text-center py-1 px-1" style="background-color:#7c989f;">
                                            <a  href="{{path('delete_rdv',{'id': rdv.id})}}" title="archiver" onclick=" return confirm('Voulez-vous vraiment archiver ce rendez-vous ?)" class="badge badge-pill bg_secondary w-25 m-auto d-block rounded60 p-0"> <i class="bi bi-x text-light"></i> </a>
                                            <small class="text-light text2">  {{rdv.dateVisite|date("d/m/Y")}} à  {{rdv.heureVisite|date('H:i')}} </small>
                                            <span class="badge
                                                {% if rdv.type == "Rdv" %}bg-success text-white {% endif %} 
                                                {% if rdv.type == "Visite" %}bg_primary text-dark {% endif %}
                                                {% if rdv.type == "EdL" %}bg-warning text-dark {% endif %}
                                                {% if rdv.type == "Autre" %}bg_secondary text-white {% endif %}
                                                float-right text-dark text2"> {{rdv.type}}</span>
                                            </div>
                                            <div class="card-body font-weight-light text2 px-1 py-1">
                                            <small><b>Contact: {{rdv.contactNom}} </b></small><br>
                                            <small><b>Agent: {{rdv.user.nom}} {{rdv.user.prenom}} </b></small><br>
                                                <p class=""><small>{{rdv.titre}}</small></p>
                                                {# <p class=""><small>{{rdv.description}}</small></p> #}
                                            </div>
                                        </div>
                                {% endif %}
                                {% else %} 
                                    <div class="card mt-2">
                                        <p class="text-center"><small>Aucun rendez-vous </small></p>
                                    </div>
                                {% endfor %} 
                        </div>
                        <div class="col-md-2 border border-top-0 border-bottom-0">
                            <div class="bg_secondary p-2 text-light text-center">DECEMBRE</div>
                                {% for  rdv in rdvDecembre %}
                                {% if rdv.deletedAt is null %}
                                        <div class="card mt-2">
                                            <div class="card-header text-center py-1 px-1" style="background-color:#7c989f;">
                                            <a  href="{{path('delete_rdv', {id: rdv.id})}}"  class="badge badge-pill bg_secondary w-25 m-auto d-block rounded60 p-0" onclick="return confirm('Voulez-vous vraiment archiver ce rendez-vous ?)"> <i class="bi bi-x text-light"></i> </a>
                                            <small class="text-light text2">  {{rdv.dateVisite|date("d/m/Y")}} à  {{rdv.heureVisite|date('H:i')}} </small>
                                            <span class="badge
                                                {% if rdv.type == "Rdv" %}bg-success text-white {% endif %} 
                                                {% if rdv.type == "Visite" %}bg_primary text-dark {% endif %}
                                                {% if rdv.type == "EdL" %}bg-warning text-dark {% endif %}
                                                {% if rdv.type == "Autre" %}bg_secondary text-white {% endif %}
                                                float-right text-dark text2"> {{rdv.type}}</span>
                                            </div>
                                            <div class="card-body font-weight-light text2 px-1 py-1">
                                            <small><b>Contact: {{rdv.contactNom}} </b></small><br>
                                            {# <small><b>Agent: {{rdv.user.nom}} {{rdv.user.prenom}} </b></small><br> #}
                                            <small>{{rdv.titre}}</small>
                                            {# <p class=""><small>{{rdv.description}}</small></p> #}
                                            </div>
                                        </div>
                                {% endif %}
                                {% else %} 
                                    <div class="card mt-2">
                                        <p class="text-center"><small>Aucun rendez-vous </small></p>
                                    </div>
                                {% endfor %} 
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="card shadow radius10 py-2 px-3 sticky-top" style="top:100px">
						<span class="text-uppercase text1 float-left text_secondary text-center"><b>Ajouter un rdv </b></span><br>


                        {{ form_start(form, { attr: { 'id': 'form_contact' }}) }}
                            {{ form_errors(form) }}
                            <small>Type de rendez-vous</small>

                            {{ form_row(form.type,{'attr': {'class': 'radius10 mb-3 '} }) }}
                            <small>Date du rendez-vous</small>
                            {{ form_row(form.dateVisite,{'attr': {'class':'radius10 mb-2'}}) }}
                            {{ form_row(form.heureVisite,{'attr': {'class': 'radius10 mb-3'} }) }}

                            <small>Libellé du rendez-vous</small>
                            {{ form_row(form.titre,{'attr': {'class':'radius10 mb-2'}}) }}

                            <small>Nom du contact</small>
                            {{ form_row(form.contactNom,{'attr': {'class':'radius10 mb-2'}}) }}

                            <small>Agent</small>
                            {{ form_row(form.user,{'attr': {'class':'radius10 mb-2'}}) }}
                            <small>Commentaire</small>

                            {{ form_row(form.description,{'attr': {'class':'radius10 mb-2'}}) }}
                            {% if form.submit is defined %}
                                {{ form_row(form.submit) }}
                            {% else %}
                                <button class="btn float_right bg_primary text1 w-100 h5 text-uppercase text_secondary mt-4 mb-4 radius10 p-2" style="box-shadow: 0px 0px 13px 8px rgba(255, 255, 255, 0.25);">
                                    Enregistrer
                                </button>
                            {% endif %}
                            {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
   <div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}