{% extends 'website/layout.html.twig' %}

{% block title %}
Fatima immobilier
{% endblock %}

{% block description %}{% endblock %}
{% block content %}

{# -----HEADER------- #}
<div class="" style="background-image:url('{{ asset('build/images/banner.jpg') |   imagine_filter('thumb') }}');background-size:cover">
	<div class="container p-5">
		<h1 class="titre_accueil text-light pl-5 text1 font-weight-bold mt-5"> Quel est votre <br>projet ? </h1><br>
		<p class="w-50 text-justify  text-light text_normal text1" style="letter-spacing: 0.1rem;">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
		
		{# recherche bloc  #}
		<div class="search h-50 mt-5 pt-5 pb-5">
			{# Bloc type recherche #}
			<div class="row">
				<div class="col-md-2 text-center bg_primary pt-3 pb-3 pl-1 pr-1" style="border-top-left-radius:35px">
					<a class=" text_grey font-weight-bold h6 text-decoration-none" href="#">Acheter</a>
				</div>
				<div class="col-md-2 text-center bg-light pt-3 pb-3 pl-1 pr-1" style="border-top-right-radius:35px">
					<a class="text-center text_grey font-weight-bold h6 text-decoration-none"><u>Louer</u></a>
				</div>
			</div>
			{# Bloc champs saisi recherche #}
			<div class="row">
				<div class="row">
					<div class="col-md-11 bg-light" >
						<div class="row p-4">
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-4">
										<img src="{{ asset('build/images/icon-localisation.png') |  imagine_filter('thumb')  }}" class="img-fluid" style="width:60px">
										<span class="text_secondary"> Localisation? <span>
									</div>
									<div class="col-md-4">
										<img src="{{ asset('build/images/icon-euro.png')  | imagine_filter('thumb') }}" class="img-fluid" style="width:60px">
										<span class="text_secondary"> Votre budget max?  <span>
									</div>
									<div class="col-md-4">
										<img src="{{ asset('build/images/icon-maison.png') | imagine_filter('thumb')  }}" class="img-fluid" style="width:60px">
										<span class="text_secondary">Appartement? <span>
									</div>	
								</div>
							</div>
							<div class="col-md-4 mt-2">
								<a class="btn btn_primary float_right shadowbtn"> rechercher </a>
							</div>
						</div>
					</div>
					<div class="col-md-1 p-0">
						<a class="p-2 bg_primary p-1 text_secondary h6 float_left w-100 text_rotation">+ Option</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	{# -----A PROPOS------- #}										
<section>
	<div class="container mt-5 pt-5" style="position: relative;z-index: 1;bottom: -85px;">
		{# Paragraphe + image #}
		<div class="row">
			<div class="col-md-6 mr-5">
				<h2 class="h2 sous_titre">à propos de l'agence</h2><br>
				<p class="text_normal h6 text1 text_justify mt-3" style="margin-right:60px">
					{{ agence.description  | nl2br }}
				</p>
			</div>
			<div class="col-md-6 image_border_left">
				<div class="row">
					<div class="col-md-12">
					{% if agence.imageAgence %}
						<img src="{{ vich_uploader_asset(agence, 'imageFile') | imagine_filter('medium') }}" class="img-fluid h-90 w-100">
					{% else %}
						<img src="{{ asset('build/images/banner.jpg') | imagine_filter('medium')  }}" class="img-fluid h-90 w-100">
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{# SERVICES #}
	<div class="hr_triangle"></div>
	<div class="bg_primary">
		<b><h2 class="h2 p-5 sous_titre text-center mb-5 pt-5"><br><br>les services à votre disposition</h2></b><br><br><br><br><br><br>
	</div>
	<div class="container">
		<div class="row" style="margin-top: -148px;">
			<div class="col-md-4 text-center">
				<img src="{{ asset('build/images/vendre.png') | imagine_filter('thumb')  }}" class="img-fluid h-75 w-75"><br><br>
				<span class="text-center sous_titre h5 text-darck"> vendre un bien</span><br><br>
				<p class="text-center text_normal">Mettre un message de,<br> description d vente des biens,<br> les filles</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="{{ asset('build/images/acheter.png') | imagine_filter('thumb')  }}" class="img-fluid h-75  w-75"><br><br>
				<span class="text-center sous_titre h5 text-darck"> acheter un bien</span><br><br>
				<p class="text-center text_normal">Mettre un message d',<br> description de location des biens<br> les filles </p>
			</div>
			<div class="col-md-4 text-center">
				<img src="{{ asset('build/images/louer.png') | imagine_filter('thumb')  }}" class="img-fluid h-75  w-75"><br><br>
				<span class="text-center sous_titre h5 text-darck"> louer un bien</span><br><br>
				<p class="text-center text_normal">Mettre un message de <br> location des biens<br> les filles </p>
			</div>
		</div>
	</div>

	{# SELECTIONS DE BIENS #}
	<div class="mt-5"><br><br>
		<b><h2 class="h2 pt-5 sous_titre text-center mt-5">Notre selection de biens </h2></b>
		<p class="text-center text_normal"> Jetez un coup d'oeil à nos selections les plus récentes </p>
		<div class="container">

			{# Afficher les 8 derniers biens plublié#}
			<div class="row flex">
			{% for bien in biens %}
				<div class="col-4">
					<div class="card mb-5" style="background-image:url('{{ bien.images is not empty ? vich_uploader_asset(bien.images | first, 'imageFile') | imagine_filter('medium') :
                 		asset("build/images/banner.jpg")  | imagine_filter('medium') }}');background-size:cover;background-repeat:no-repeat;height:330px">
						<a class="text-decoration-none" href="{{path('detail_bien', {slugTitle: bien.slug, id: bien.id}) }}">
							<div class="card-body">
								<h5><span class="badge bg_secondary text-light">{{bien.getFormaterPrix}} €</span></h5>
								<div class="bg_primary p-2 mb-3 " style="width:92%; position:absolute;bottom:0;opacity: 0.8;">
								<span class="h5 text_secondary font-weight-bold">{{bien.titre}}</span><br>
								<span class="h6 text_secondary font-weight-bold">{{bien.surface}}  m² -  {{bien.ville}}  ({{bien.codePostal}})</span>
								<a href="{{path('detail_bien', {slugTitle: bien.slug, id: bien.id}) }}">
									<i class="bi bi-arrow-right-circle-fill text-light h4 float_right" style="margin-top:-10px;"></i>
								</a>
							</div>
						</a>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="col-4 m-auto d-block">
				<a class="btn w-75 btn_primary shadowbtn mt-5 m-auto d-block text-center"> voir tous les biens   <i class="bi bi-arrow-right"></i></a>
			</div>
			</div>
		</div>
	</div>
<section>

	
{% endblock %}
