{% extends 'base.html.twig' %}
{% block body %}

    {% block navbar %}
        {% include "website/blocks/navbar.html.twig" %}
    {% endblock %}

    {% block content %}
        {% block banner%}{% endblock %}
    {% endblock %}

    {% block footer %}
        {% include "website/blocks/footer.html.twig" %}
    {% endblock %}

    {% block javascripts %}
    {{encore_entry_script_tags('app')}}
    {% endblock %}
{% endblock %}
