
{% extends 'appPro/layout.html.twig' %}
{% block title %}
	  BuyAndRent App - Statistiques
{% endblock %}

{% block description %}{% endblock %}
{% block content %}
<section class="pt-4 h-100" id="content-wrapper" style="width:100%!important;">
  <div class="container">

      <div class="row w-100 align-items-center">
            <div class="col-md-8">
                <div class="text1 text_secondary mt-3 font-weight-bold h6"> STATISTIQUES / </div>
            </div>
        </div>
        {# Statistiques #}
        <div style="background-color:#e3e7e8" class="row mt-2">
            <div class="row p-2">
              {# Bloc Gauche #}
              <div class="col-md-8">
                {# ---- #}
                <div class="card shadow-sm radius10 bg-light mx-3 my-3 p-3 text-dark">
                  <a class="text2 text-dark text-decoration-none text-uppercase"> <b>
                  <span class="badge bg_secondary radius10"><i class="bi bi-123 text-light"></i></span>
                  Nombre de vente par type de bien | </b> Total biens vendus: {{ totalBiensVendus }}</a>
                  
                  {% set maisonPourcent = ( maisonVendu * 100) / totalBiensVendus %}
                  {% set appartPourcent = ( appartVendu * 100) / totalBiensVendus %}
                  {% set studioPourcent = ( studioVendu * 100) / totalBiensVendus %}
                  {% set bureauPourcent = ( bureauVendu * 100) / totalBiensVendus %}
                  {% set villaPourcent = ( villaVendu * 100) / totalBiensVendus %}
                  {# row camembert#}
                  <div class="row mt-4 align-items-center">
                    <div class="col-md-3">
                      <div class="progress-circle progress-1 m-auto d-block"><span>{{villaPourcent|round(1, 'floor')}}</span></div>  
                    </div>
                    <div class="col-md-3">
                      <div class="progress-circle progress-2 m-auto d-block"><span>{{appartPourcent|round(1, 'floor')}}</span></div>  
                    </div>
                    <div class="col-md-3">
                      <div class="progress-circle progress-3 m-auto d-block"><span>{{studioPourcent|round(1, 'floor')}}</span></div>  
                    </div>
                    <div class="col-md-3">
                      <div class="progress-circle progress-4 m-auto d-block"><span>{{bureauPourcent|round(1, 'floor')}}</span></div>  
                    </div>
                  </div>
                  {# Progression bar #}
                  <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 25%;background-color:#154854" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar" role="progressbar" style="width: 25%;background-color:#739198" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar" role="progressbar" style="width: 25%;background-color:#b4cc83" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar" role="progressbar" style="width: 25%;background-color:#d1e0b4" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  {# row label camembert#}
                  <div class="row mt-4 align-items-center">
                    <div class="col-md-3 text-center">
                       <span class="h5 text1">{{villaPourcent|round(1, 'floor')}} %</span> <br>
                       <span class="text2"><small>Maison {{ villaVendu}}</small></span>
                    </div>
                    <div class="col-md-3 text-center"> 
                       <span class="h5 text1">{{appartPourcent|round(1, 'floor')}} %</span> <br>
                       <span class="text2"><small>Appartement {{ appartVendu}}</small></span> 
                    </div>
                     <div class="col-md-3 text-center">
                       <span class="h5 text1">{{studioPourcent|round(1, 'floor')}} %</span> <br>
                       <span class="text2"><small>Studio {{ studioVendu}}</small></span> 
                    </div>
                    <div class="col-md-3 text-center">
                       <span class="h5 text1">{{bureauPourcent|round(1, 'floor')}} %</span> <br>
                       <span class="text2"><small>Bureau {{ bureauVendu}}</small></span> 
                    </div>
                  </div>
                </div>
                <style>
                 .progress-circle {
                  position: relative;
                  display: inline-block;
                  width: 120px;
                  height: 120px;
                  border-radius: 50%;
                  background-color: #ebebeb;
                  }

                  .progress-circle:after {
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    -webkit-animation: colorload 2s;
                    animation: colorload 2s; 
                  }

                  .progress-circle span {
                    font-size: 1rem;
                    color: #8b8b8b;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    display: block;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    margin-left: -30px;
                    margin-top: -30px;
                    text-align: center;
                    border-radius: 50%;
                    background: #fff;
                    z-index: 1; 
                  }

                  .progress-circle span:after {
                    content: "%";
                    font-weight: 600;
                    color: #8b8b8b; 
                  }

                  {% set degMaison = (maisonPourcent * 360) / 100 %}
                  {% set degAppart = (appartPourcent * 360) / 100 %}
                  {% set degStudio = (studioPourcent * 360) / 100 %}
                  {% set degBureau = (bureauPourcent * 360) / 100 %}
                  {% set degVilla = (villaPourcent * 360) / 100 %}
                  .progress-circle.progress-1:after {
                    background-image: 
                    linear-gradient({{degVilla}}deg, #ebebeb 50%, transparent 50%, transparent), 
                    linear-gradient(360deg, #154854 50%, #ebebeb 50%, #ebebeb); 
                  }

                  {% set degAppart = (maisonPourcent * 360) / 100 %}
                  .progress-circle.progress-2:after {
                    background-image: 
                    linear-gradient({{degAppart}}deg, #ebebeb 50%, transparent 50%, transparent), 
                    linear-gradient(360deg, #739198 50%, #ebebeb 50%, #ebebeb); 
                  }
                  .progress-circle.progress-3:after {
                    background-image: 
                    linear-gradient({{degStudio}}deg, #ebebeb 50%, transparent 50%, transparent), 
                    linear-gradient(360deg, #B4CC83 50%, #ebebeb 50%, #ebebeb); 
                  }
                  .progress-circle.progress-4:after {
                    background-image: 
                    linear-gradient({{degBureau}}deg, #ebebeb 50%, transparent 50%, transparent), 
                    linear-gradient(360deg, #d1e0b4 50%, #ebebeb 50%, #ebebeb); 
                  }
                  .progress-circle.progress-5:after {
                    background-image: 
                    linear-gradient({{degMaison}}deg, #ebebeb 50%, transparent 50%, transparent), 
                    linear-gradient(360deg, #154854 50%, #ebebeb 50%, #ebebeb); 
                  }
                </style>
                {# ---- #}
                <div class="card shadow-sm radius10 bg-light mx-3 my-3 mt-4 p-3 text-dark">
                  <a class="text2 text-dark text-decoration-none text-uppercase"> 
                    <b><span class="badge bg_secondary radius10"><i class="bi bi-star text-light"></i></span>
                    Les biens les plus populaire </b> 
                  </a>
                  {# Biens Populaire #}
                    <div class="row mt-3">
                        <ul class="list-group w-100 pt-3 border-0">
                          <li class="bg-light list-group-item d-flex justify-content-between align-items-center border-0 border-bottom text_secondary">
                            <span href="#" class="text2 text-dark">Location Maison Antony 33 m² | 734€ HC | Proprio : Eric Thomas  </span>
                          </li>
                          <li class="bg-light list-group-item d-flex justify-content-between align-items-center border-0 border-bottom text_secondary">
                            <span href="#" class="text2 text-dark">Location Maison Antony 33 m² | 734€ HC | Proprio : Eric Thomas  </span>
                          </li>
                          <li class="bg-light list-group-item d-flex justify-content-between align-items-center border-0 border-bottom text_secondary">
                            <span href="#" class="text2 text-dark">Location Maison Antony 33 m² | 734€ HC | Proprio : Eric Thomas  </span>
                          </li>
                          <li class="bg-light list-group-item d-flex justify-content-between align-items-center border-0 border-bottom text_secondary">
                            <span href="#" class="text2 text-dark">Location Maison Antony 33 m² | 734€ HC | Proprio : Eric Thomas  </span>
                          </li>
                          <li class="bg-light list-group-item d-flex justify-content-between align-items-center border-0 border-bottom text_secondary">
                            <span href="#" class="text2 text-dark">Location Maison Antony 33 m² | 734€ HC | Proprio : Eric Thomas  </span>
                          </li>
                          <li class="bg-light list-group-item d-flex justify-content-between align-items-center border-0 border-bottom text_secondary">
                            <span href="#" class="text2 text-dark">Location Maison Antony 33 m² | 734€ HC | Proprio : Eric Thomas  </span>
                          </li>
                          <li class="bg-light list-group-item d-flex justify-content-between align-items-center border-0 border-bottom text_secondary">
                            <span href="#" class="text2 text-dark">Location Maison Antony 33 m² | 734€ HC | Proprio : Eric Thomas  </span>
                          </li>
						            </ul>
                    </div>
                </div>
              </div>

              {# Bloc Droite #}
              <div class="col-md-4">
                  <div class="card shadow-sm radius10 bg-light mx-3 my-3 p-3 text-dark">
                  <a class="text2 text-dark text-decoration-none text-uppercase"> <b>
                  <span class="badge bg_secondary radius10"><i class="bi bi-star-fill text-warning"></i></span>
                  
                  Statistique - Maison </b> </a>
                  {# row camembert#}
                  <div class="row mt-4 align-items-center">
                    <div class="col-md-12">
                      <div class="progress-circle m-auto d-block progress-5"><span>25</span></div>  
                    </div>
                  </div>
                  {# Progression bar #}
                  <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 25%;background-color:#154854" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  {# row label camembert#}

                  {% set maisonPourcent = ( maisonVendu * 100) / totalBiensVendus %}
                  <div class="row mt-4 align-items-center">
                    <div class="col-md-12 text-center">
                       <span class="h5 text1">{{maisonPourcent|round(1, 'floor')}} %</span> <br>
                       <span class="text2"><small>Maison {{ maisonVendu}}</small></span> 
                    </div>
                  </div>
                </div>
                {# ---- #}
                <div class="card shadow-sm radius10 bg-light mt-4 mx-3 my-3 p-3 text-dark">
                  <a class="text2 text-dark text-decoration-none text-uppercase"> <b>
                   <span class="badge bg_secondary radius10"><i class="bi bi-folder2-open text-light"></i></span>
                     Dossiers par statut</b> </a>
                  {# accepté #}
                  <div class="row mt-3 align-items-center">
                    <div class="col-md-3">
                      <span class="text1 float-right"><small>En attente</small></span>
                    </div>
                    <div class="col-md-7">
                        <div class="progress ">
                          <div class="progress-bar bg_secondary" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                      <span class="text1 float-right"><small>15%</small></span>
                    </div>
                  </div>
                  {# attente #}
                  <div class="row mt-2 align-items-center">
                    <div class="col-md-3">
                      <span class="text1 float-right"><small>Validés</small></span>
                    </div>
                    <div class="col-md-7">
                        <div class="progress ">
                          <div class="progress-bar bg_secondary" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                      <span class="text1 float-right"><small>60%</small></span>
                    </div>
                  </div>
                  {# Refus #}
                  <div class="row mt-2 align-items-center">
                    <div class="col-md-3">
                      <span class="text1 float-right"><small>Refusés</small></span>
                    </div>
                    <div class="col-md-7">
                        <div class="progress ">
                          <div class="progress-bar bg_secondary" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                      <span class="text1 float-right"><small>35%</small></span>
                    </div>
                  </div>
                </div>

                {# Visites #}
                <div class="row">
                  {# Etat des lieux #}
                  <div class="col-md-6">
                    <div class="card shadow-sm w-100 radius10 bg-light mx-3 my-3 mt-4 p-3 text-dark">
                      <a class="text2 text-dark text-decoration-none text-uppercase"> <b>
                        <span class="badge bg_secondary radius10">
                          <i class="bi bi-calendar-week-fill text-light"></i>
                        </span> Nombre d'état de lieux </b> 
                      </a>
                      <div class="row mt-3 align-items-center">
                        <div class="col-md-4">
                          <img src="{{ asset('build/images/ico_edl.png') }}" class="w-100">
                        </div>
                        <div class="col-md-8">
                          <span class="text2">Ce mois: 24 effectués</span><br>
                          <span class="text2">Total:  84 effectués</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  {# Visite #}
                  <div class="col-md-6">
                    <div class="card shadow-sm radius10 bg-light mx-3 my-3 mt-4 p-3 text-dark">
                      <a class="text2 text-dark text-decoration-none text-uppercase"> <b>
                        <span class="badge bg_secondary radius10">
                          <i class="bi bi-calendar-week-fill text-light"></i>
                        </span> Nombre de visite </b> 
                      </a>
                      <div class="row mt-3 align-items-center">
                        <div class="col-md-4">
                          <img src="{{ asset('build/images/ico_visite.png') }}" style="width:115%">
                        </div>
                        <div class="col-md-8">
                          <span class="text2">Ce mois: 24 visites</span><br>
                          <span class="text2">Total:  84 visites</span><br>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                {# Visites #}
                <div class="row">
                  {# Etat des lieux #}
                  <div class="col-md-6">
                    <div class="card shadow-sm w-100 radius10 bg-light mx-3 my-3 mt-4 p-3 text-dark">
                      <a class="text2 text-dark text-decoration-none text-uppercase"> <b>
                        <span class="badge bg_secondary radius10">
                          <i class="bi bi-calendar-week-fill text-light"></i>
                        </span> Nombre d'état de lieux </b> 
                      </a>
                      <div class="row mt-3 align-items-center">
                        <div class="col-md-4">
                          <img src="{{ asset('build/images/ico_edl.png') }}" class="w-100">
                        </div>
                        <div class="col-md-8">
                          <span class="text2">Ce mois: 24 effectués</span><br>
                          <span class="text2">Total:  84 effectués</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  {# Visite #}
                  <div class="col-md-6">
                    <div class="card shadow-sm radius10 bg-light mx-3 my-3 mt-4 p-3 text-dark">
                      <a class="text2 text-dark text-decoration-none text-uppercase"> <b>
                        <span class="badge bg_secondary radius10">
                          <i class="bi bi-calendar-week-fill text-light"></i>
                        </span> Nombre de visite </b> 
                      </a>
                      <div class="row mt-3 align-items-center">
                        <div class="col-md-4">
                          <img src="{{ asset('build/images/ico_visite.png') }}" style="width:115%">
                        </div>
                        <div class="col-md-8">
                          <span class="text2">Ce mois: 24 visites</span><br>
                          <span class="text2">Total:  84 visites</span><br>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
        </div>
  </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

        <script>
        </script>
{% endblock %}