<div id="navbar-wrapper">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid w-100">
            <div class="navbar-header w-100">
                <div class="row w-100 align-items-center">
                    {# Icones #}
                    <div class="col-md-3">
                        <a href="#" class="{#{{(agence.couleur1 != null) ? 'bg_primary' :}} #}bg_primary btn radius " id="sidebar-toggle" style="margin-right:10px;">
                            <i class="bi bi-arrow-left-circle-fill text_secondary" id="id_ico_left"></i>
                        </a>
                        <a href="{{path('creer_option_pro')}}" class="text-decoration-none">
                            <div class="social__content bg_primary btn radius"style="margin-right:10px;">
                                <i class="fa fa-bars text_secondary"></i>
                                <span class="social__tooltip social__tooltip-bottom text2">Options</span>
                            </div>
                        </a>
                        <a href="{{path('archives')}}" class="text-decoration-none">
                            <div class="social__content bg_primary btn radius" style="margin-right:10px;">
                                <i class="bi bi-archive-fill text_secondary"></i>
                                <span class="social__tooltip social__tooltip-bottom text2">Archives</span>
                            </div>
                        </a>{# archives : element supprimés groupé#}

                        <a href="#" class="text-decoration-none">
                            <div class="social__content bg_primary btn radius" style="margin-right:10px;">
                               <i class="bi bi-envelope-fill text_secondary"></i>
                                <span class="social__tooltip social__tooltip-bottom text2">Archives</span>
                            </div>
                        </a>
                        <a href="#" class="bg_primary btn radius position-relative" style="margin-right:10px;">
                            <i class="bi bi-bell-fill text_secondary"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    2
                                </span>
                        </a>

                    </div>
                    <div class="col-md-5">
                        <input class="form-control me-2 bg_grey_2 border-0 pb-2 pt-2" type="search" style="background-color:#F6F6F6!important" placeholder="Recherche rapide" aria-label="Search">
                    </div>
                    <div class="col-md-4">
                        <a href="{{path('home')}}" class="float_right text2 h6 text_normal">
                            <small>
                                <i class="bi bi-globe"></i> Accéder au site web </a>
                            </small>
                    </div>
            </div> 
        </div>
    </nav>
</div>