<div id="wrapper">
	<aside id="sidebar-wrapper">
		<div
			class=" bg_primary">
			{# sidebar-brand #}
			<a href="{{path('home_pro')}}"><img id="logo1" src="{{ asset('build/images/logo2_br.png') }}" class="img-fluid w-100 d-block"></a>
			<a href="{{path('home_pro')}}"><img id="logo2" src="{{ asset('build/images/logo_br.png') }}" class="img-fluid w-100 d-none pt-3 pb-3"></a>
			{# <h1 id="logo2" class="logo2 text1 text_secondary pt-3 pl-1 pb-3 d-none"><small>BR</small></h1> #}
		</div>
		<br><br>
		{# info user connecté #}
		<div id="infoUser" class="rounded w-75 text-center text-light pt-3 pb-3 text2 d-block" style="background-color:#7c989f;margin:auto; display:block;">
			<img src="https://images.pexels.com/photos/3756985/pexels-photo-3756985.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="..." class="rounded-circle w-50"><br>
			<span class="text-light font-weight-bold h6">
				<small>
					<b>
						{{app.user.prenom}}
						{{app.user.nom}}</b>
				</small>
			</span>
			<p>Agent Immobilier
				<br>
				<small>Fatima Immobilier Paris
				</small>
			</p>

			{# <a href="{{path('param_interface_pro', {'id':agence.id})}}" class="bg-light badge text-dark p-2 text_normal w-75"> Mon compte </a> #}
		</div>
		{# Menu app pro #}

		<style>
			.linkMenu {
				padding-left: 5px !important;
			}
			.top120 {
				top: 120px;
			}
		</style>
		<ul id="sidebar_nav" class="sidebar-nav">
			<li class="border">
				<a href="{{path('liste_produit_pro')}}" id="linkMenu2" class="text-light text2 text-uppercase pt-1 pb-1 {% if slug == 'liste_produit_pro'%}  bg_active  {% endif %}">
					<img src="{{ asset('build/images/housePro.png') }}" class="img-fluid" style="width:30px">
					<span id="aMenu2">Produits</span>
				</a>
			</li>
			<li class="border">
				<a href="{{path('client_liste')}}" id="linkMenu" class="text-light text2 text-uppercase pt-1 pb-1 {% if slug == 'client_liste'%}  bg_active  {% endif %}">
					<img src="{{ asset('build/images/userPro.png') }}" class="img-fluid" style="width:30px">
					<span id="aMenu">Clients</span>
				</a>

			</li>

			<li class="border">
				<a href="{{path('dossier_liste_pro')}}" id="linkMenu3" class="text-light text2 text-uppercase pt-1 pb-1 {% if slug == 'dossier_liste_pro'%}  bg_active  {% endif %}">
					<img src="{{ asset('build/images/folderPro.png') }}" class="img-fluid" style="width:30px">
					<span id="aMenu3">Dossiers</span>
				</a>
			</li>
			<li class="border">
				<a href="{{path('statistique')}}" id="linkMenu4" class="text-light text2 text-uppercase pt-1 pb-1{% if slug == 'statistique'%}  bg_active  {% endif %}">
					<img src="{{ asset('build/images/icoStatPro.png') }}" class="img-fluid" style="width:30px">
					<span id="aMenu4">Statistiques</span>
				</a>
			</li>
			<li class="border">
				<a href="{{path('info_agence')}}" id="linkMenu5" class="text-light text2 text-uppercase pt-1 pb-1{% if slug == 'info_agence'%}  bg_active  {% endif %}">
					<img src="{{ asset('build/images/icoAgencePro.png') }}" class="img-fluid" style="width:30px">
					<span id="aMenu5">Notre agence</span>
				</a>
			</li>
			<li class="border">
				<a href="{{path('fiche_vitrine_liste')}}" id="linkMenu6" class="text-light text2 text-uppercase pt-1 pb-1  {% if slug == 'fiche_vitrine_liste'%}  bg_active  {% endif %}">
					<img src="{{ asset('build/images/ficheVitrinePro.png') }}" class="img-fluid" style="width:30px">
					<span id="aMenu6">Fiches vitrine</span>
				</a>
			</li>
			<li class="border">
				<a href="{{path('fiche_vitrine_liste')}}" id="linkMenu6" class="text-light text2 text-uppercase pt-1 pb-1  {% if slug == 'fiche_vitrine_liste'%}  bg_active  {% endif %}">
					<img src="{{ asset('build/images/ficheVitrinePro.png') }}" class="img-fluid" style="width:30px">
					<span id="aMenu6">Nouveau dossier</span>
				</a>
			</li>
		</ul>
	</aside>
	{# Fin de la fin dans le fichier index.html.twig da l'app pro  #}
