<footer class="bg_grey p-5 pt-5 pl-5 pr-5 pb-0 mb-0">
    <div class="container">
        <div class="row text_normal text-light w-100 align-items-center">
            <div class="col-md-5">
                <p class="sous_titre h2 text_normal text-light" href="{{ path('home')}}">
					Fatima immobilier
				</p>
                <p class="w-75 mt-5">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="col-md-3 float-left" style="border-style:solid; border-weight:7px;border-color:#B4CC83;border-top:none; border-bottom:none">
				<p class="text_normal text-center m-5"> 70 rue Marius Aufan 92300<br> Levallois-Perret</p>
            </div>
			<div class="col-md-4 ">
				<div class="row m-5">
					<div class="col-md-6">
						<ul class="list-unstyled">
							<li>Mentions légales</li>
							<li>Accueil</li>
							<li>Vendre</li>
							<li>Louer</li>
						<ul>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled">
							<li>Déposer un dossier</li>
							<li>Acheter</li>
							<li>Contact</li>
							<li>Nous rejoindre</li>
						<ul>
					</div>
				</div>
			</div>
        </div>
    </div>
    <div class="footer-bottom bg-color-1 text-normal text-center text-light p-1 mt-5" style="margin-bottom: -43px;!important">
        <span>Buy and rent - Fatima immobilier| {{ "now"|date("Y") }}</span>
    </div>
</footer>