<div class="w-100 bg_primary h-25">
    <div class="">
		<div class="row w-100">
			<div class="col-md-6">
				{# <p class="mt-0 mb-0">&nbsp;&nbsp; FR / EN</p> #}
			</div>
			<div class="col-md-6 mt-1" >
				<h6 style="float:right!important;" >
					<a class="nav-link badge bg_secondary text_normal text-light text-weight-normal" href="{{path('connexion')}}" style="font-weight:1!important"> 
						<i class="bi bi-person-circle"></i>&nbsp; Identifiez-vous
					</a>
					<a class="nav-link badge bg_secondary text_normal text-light"  href="{{path('inscription')}}" style="font-weight:1!important"> 
						<i class="bi bi-person-plus-fill"></i>&nbsp; S'inscrire
					</a>
					<a class="nav-link badge bg_secondary text_normal text-light"  href="#" style="font-weight:1!important"> 
						FR 
					</a>
					<a class="nav-link badge bg_secondary text_normal text-light"  href="#" style="font-weight:1!important"> 
						EN
					</a>
				</h6>
			</div>s
		</div>
    </div>
</div>

{# Navbar with logo  #}
<div class="bg-light sticky-top">
	<nav class="container navbar navbar-expand-lg pt-3 pb-3">
		<div class="container-fluid">
			<div class="row align-items-center ">
				<div class="col-md-3">
					<a class="navbar-brand font-weight-bold radius10  bg_secondary text-light p-3 ml-0" href="#">B R</a> 
				</div>
				<div class="col-md-9 text-secondary">
					<h1 class="text-uppercase h6 text_secondary"> fatima immobilier</h1>
					<small class="text-uppercase"> agence immobilière</small>
				</div>
			</div>
				
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse bg_secondary radius55 p-2" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase">
					<li class="nav-item">
						<a class="nav-link active text-light {% if slug == 'home'%} btn_nav_active {% endif %}" aria-current="page" href="{{path('home')}}" >Accueil</a> {# chemin vers la page Acceuil pour cette exemple #}
					</li>
					<li class="nav-item">
						<a class="nav-link active text-light {% if slug == 'notre-agence'%} btn_nav_active {% endif %}" aria-current="page" href="{{path('notre-agence')}}">Notre agence</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active text-light {% if slug == 'list_bien_a_vendre'%} btn_nav_active {% endif %}" aria-current="page" href="{{path('bien_a_vendre')}}">Acheter</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active text-light {% if slug == 'list_bien_a_louer'%} btn_nav_active {% endif %}" aria-current="page" href="{{path('bien_a_louer')}}">Louer</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active text-light {% if slug == 'contact'%} btn_nav_active {% endif %}" aria-current="page" href="{{path('contact')}}">Contact</a> 
					</li>
					<li class="nav-item mt-2">
						&nbsp;
						<span class="text-light">
							<i class="fab fa-instagram text-light h4"></i>
						</span> 
					</li>
					<li class=" mt-2 ">
						&nbsp;
						<span class="text-light">
							<i class="fab fa-facebook-f text-light h5"></i>
						</span>
						&nbsp;
					</li>
				</ul>
			</div>
		</div>
		<a class="nav-link active radius55 bg_primary text_secondary p-3 text-uppercase shadowbtn" href="{{path('liste-dossiers')}}">dossier</a>

	</nav>

</div>