<div class="radius10 shadow card p-3">
                        <div class="row">
                            <div class="col-md-12 pl-4">
                               <span class="text1 text-center text_secondary text-uppercase font-weight-bold h6">Etape 2: Vérifiez que tous les champs soient bien remplis. </span><br><br>
                                <form>
                                <span class="text2">Référence du bien</span>
                                <input class="form-control radius10" id="" value="Ref: {{bien.referenceBien}}">
                                <div class="form-group mt-2">
                                    <span class="text2 ">Titre</span>
                                    <input type="email" class="form-control radius10" id="exampleFormControlInput1" value="{{bien.titre}}">
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <span class="text2 ">Type de transaction </span>
                                        <input type="email" class="form-control radius10" id="exampleFormControlInput1" value="{{bien.typeTransaction  == 0 ? 'Location': 'Vente'}}">
                                    </div>
                                    <div class="col-md-6">
                                        <span class="text2 ">Prix du bien</span>
                                        <input type="email" class="form-control radius10" id="exampleFormControlInput1" value="{{bien.prix}} €">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="text2 ">Description </span>
                                    <textarea class="form-control radius10" id="exampleFormControlTextarea1" rows="3">{{bien.description}}</textarea>
                                </div>
                               
                                </form>
                            </div><br> <br> 

                            {# <div class="col-md-4">
                                <img src="{{ asset('build/images/generateFiche.png') }}" class="img-fluid">
                            </div> #}
                        </div>

                     </div>
                  