{% extends 'appPro/layout.html.twig' %}

{% block title %}
	BuyAndRent App - Afficher un dossier
{% endblock %}

{% block description %}{% endblock %}
{% block content %}
<section class="pt-4" id="content-wrapper" style="width:100%!important;">
    <div class="container">
        <div class="row w-100 align-items-center">
            <div class="col-md-7">
                <p><span class="text1 text_secondary mt-3 font-weight-bold h6"><a href="{{path('liste_produit_pro')}}"  class="text_secondary text-decoration-none"><i class="bi bi-arrow-left-short"></i> DOSSIER</a> /  CLIENT ULRICH NELSON</span>           
            </div>
            <div class="col-md-5 float_right p-0 ">
            </div>
        </div>
        <div class="card shadow radius10 border-0 p-4 mt-5 " >
            <div class="row">
                <div class="col-md-6">
                    {# Information Client #}
                        <p class="text1 font-weight-bold h6 pt-2"> <b>Information client</b></p>
                        <span class="text2">Nom: Ulrich</span><br>
                        <span class="text2">Prénom: Nelson</span><br>
                        <span class="text2">Email: nelson@gmail.com</span><br>
                        <span class="text2">Téléphone: 01 23 45 67 89</span><br>
                </div>
                <div class="col-md-6 ">
                {# Information Client #}
                    <p class="text1 font-weight-bold h6 pt-2 "> <b>Information du bien souhaité </b></p>
                    <span class="text2 ">Référence: LIFYVUY875</span><br>
                    <span class="text2 ">Type de transaction: Location </span><br>
                    <span class="text2 ">Type de bien: Maison</span><br>
                    <span class="text2 ">Ville: Evry</span><br>
                </div>
            </div>
       
        </div >


        {# -----------------------------------------Proximités---------------------------------------- #}
        <div class="card shadow radius10 border-0 p-4 mt-5 " >
            <div class="row">
                {# GAUCHE  #}
                <div class="col-md-7">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <p class="text-uppercase text1 font-weight-bold h6"> <b>Documents téléversés</b> <br><small class="text2">Crée le 17 janvier 2022</small></p>
                        </div>
                        <div class="col-md-6">
                            {# <span class="float_right bg_primary radius10 px-2">Ref: SDRFZE986</span> #}
                        </div>
                    </div>
                    <br>
                    <table class="table table table-striped text2">
                        <tbody>
                            <tr>
                                <td> 1 -  carteIdentiteNationalUlrichNelson-Recto.pdf</td>
                                <td > <span class="float_right btn"><i class="bi bi-box-arrow-down"></i></td>
                                <td > <span class="float_right btn"><i class="bi bi-eye-fill"></i></td>
                            </tr>
                            <tr>
                                <td>{#<i class="bi bi-file-earmark-text-fill text_secondary"></i>#} 2 - carteIdentiteNationalUlrichNelson-Verso.pdf</td> 
                                <td > <span class="float_right btn "><i class="bi bi-box-arrow-down"></i></td>
                                <td > <span class="float_right btn"><i class="bi bi-eye-fill"></i></td>
                            </tr>
                            <tr>
                                <td>{#<i class="bi bi-file-earmark-text-fill text_secondary"></i>#} 3 - troisDerierBulletinsDeSalaireUlrichNelson-Verso.pdf</td> 
                                <td > <span class="float_right btn "><i class="bi bi-box-arrow-down"></i></td>
                                <td > <span class="float_right btn"><i class="bi bi-eye-fill"></i></td>
                            </tr>
                            <tr>
                                <td>{#<i class="bi bi-file-earmark-text-fill text_secondary"></i>#} 4 - contratDeTravailUlrichNelson-Verso.pdf</td> 
                                <td > <span class="float_right btn "><i class="bi bi-box-arrow-down"></i></td>
                                <td > <span class="float_right btn"><i class="bi bi-eye-fill"></i></td>
                            </tr>
                            <tr>
                                <td>{#<i class="bi bi-file-earmark-text-fill text_secondary"></i>#} 5 - quitanceDeLoyerUlrichNelson-Verso.pdf</td> 
                                <td > <span class="float_right btn "><i class="bi bi-box-arrow-down"></i></td>
                                <td > <span class="float_right btn"><i class="bi bi-eye-fill"></i></td>
                            </tr>
                            <tr>
                                <td>{#<i class="bi bi-file-earmark-text-fill text_secondary"></i>#} 6 - grantieUlrichNelson-Verso.pdf</td> 
                                <td > <span class="float_right btn "><i class="bi bi-box-arrow-down"></i></td>
                                <td > <span class="float_right btn"><i class="bi bi-eye-fill"></i></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                {# DROITE  #}
                <div class="col-md-5">
                   <h6 class="text-underline text-uppercase text1 text_secondary"><u><small><b>Validation du dossier client</b></small></u></h6>
                    <div class="form-group mt-4 mb-3">
                                <label for="exampleFormControlSelect1" class="text2">Statut du dossier </label>
                                <select class="form-control radius10">
                                    <option class="text2">En cours de traitement</option>
                                    <option class="text2">Dossier validé</option>
                                    <option class="text2">Dossier invalide</option>
                                </select>
                    </div><br>

                    {# Commentaire #}  
                        <div class="form-group mt-3">
                            <label for="exampleFormControlTextarea1" class="text2">Précisez le motif si dossier Invalide ou Incomplet</label>
                            <textarea placeholder="Exemple: Derniers avis d'imposition invalide (année incorrecte)" class="form-control radius10" id="exampleFormControlTextarea1" rows="7"></textarea>
                        </div>
                        <a class="btn float_right bg_primary text1 h5 text_secondary mt-3 mb-3 radius10 p-2"> Enregister et envoyer <i class="bi bi-envelope-fill"></i></a>

                </div>                
            </div>
        </div >
    </div>
</section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

        <script>
        </script>
{% endblock %}