{% extends 'appPro/layout.html.twig' %}

{% block title %}
	BuyAndRent App - Liste des dossier client 
{% endblock %}

{% block description %}{% endblock %}
{% block content %}
<section class="pt-4" id="content-wrapper" style="width:100%!important">
    <div class="container">
        <div class="row w-100 align-items-center">
            <div class="col-md-8">
                <span class="text1 text_secondary mt-3 font-weight-bold h6">DOSSIER / DEPOSER UN NOUVEAU DOSSIER<small>(63)</small></span><br><br>
            </div>
            <div class="col-md-4 float_right p-0">
            </div>
        </div>
        <div class="row">
                <div class="col-md-8">
                    <span class="badge bg_secondary text2 radius10 text-decoration-none h1 py-2">&nbsp; Vente 23&nbsp;</span>
                    <span class="badge bg_secondary text2 radius10 text-decoration-none h1 py-2">&nbsp; Location 40&nbsp;</span>
                </div>
                <div class="col-md-4 " >
                    <input class="form-control mr-sm-2 text2 radius10 h1 flaot_right " type="search" placeholder="Rechercher un dossier" aria-label="Search">
                </div>
        </div> 

    </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
        <script>
        </script>
{% endblock %}