{% extends 'appPro/layout.html.twig' %}

{% block title %}
	BuyAndRent App - Liste des dossier client 
{% endblock %}

{% block description %}{% endblock %}
{% block content %}
<section class="pt-4" id="content-wrapper" style="width:100%!important">
    <div class="container">
        <div class="row w-100 align-items-center">
            <div class="col-md-8">
                <span class="text1 text_secondary mt-3 font-weight-bold h6">DOSSIER / LISTE DES DOSSIER CLIENT <small>(63)</small></span><br><br>
            </div>
            <div class="col-md-4 float_right p-0">
            </div>
        </div>
        <div class="row">
                <div class="col-md-8">
                    <span class="badge bg_secondary text2 radius10 text-decoration-none h1 py-2">&nbsp; Vente 23&nbsp;</span>
                    <span class="badge bg_secondary text2 radius10 text-decoration-none h1 py-2">&nbsp; Location 40&nbsp;</span>
                </div>
                <div class="col-md-4 " >
                    <input class="form-control mr-sm-2 text2 radius10 h1 flaot_right " type="search" placeholder="Rechercher un dossier" aria-label="Search">
                </div>
        </div> 
        <div class="row mt-3">
            <div class="col-md-3">
                <a href="{{path('dossier_afficher_pro')}}" class="text-decoration-none text-dark">
                    <div class="m-3 p-3" style="background-image:url('{{ asset('build/images/dossier1.png') }}');background-size:cover"><br>
                        <span class="badge bg-danger radius10 float_right">Dossier invalide</span><br>
                        <p class="text2 mt-1"> 
                            ID dossier: 2 <br>
                            Client:  Ulrich Nelson <br>
                            Référence bien: EAT615<br>
                            Transaction: vente<br>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="{{path('dossier_afficher_pro')}}" class="text-decoration-none text-dark">
                    <div class="m-3 p-3" style="background-image:url('{{ asset('build/images/dossier1.png') }}');background-size:cover"><br>
                        <span class="badge bg-success radius10 float_right">Dossier valide</span><br>
                        <p class="text2 mt-1"> 
                            ID dossier: 2 <br>
                            Client:  Ulrich Nelson <br>
                            Référence bien: EAT615<br>
                            Transaction: vente<br>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="{{path('dossier_afficher_pro')}}" class="text-decoration-none text-dark">
                    <div class="m-3 p-3" style="background-image:url('{{ asset('build/images/dossier1.png') }}');background-size:cover"><br>
                        <span class="badge bg-success radius10 float_right">Dossier valide</span><br>
                        <p class="text2 mt-1"> 
                            ID dossier: 2 <br>
                            Client:  Ulrich Nelson <br>
                            Référence bien: EAT615<br>
                            Transaction: vente<br>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="{{path('dossier_afficher_pro')}}" class="text-decoration-none text-dark">
                    <div class="m-3 p-3" style="background-image:url('{{ asset('build/images/dossier1.png') }}');background-size:cover"><br>
                        <span class="badge bg-success radius10 float_right">Dossier valide</span><br>
                        <p class="text2 mt-1"> 
                            ID dossier: 2 <br>
                            Client:  Ulrich Nelson <br>
                            Référence bien: EAT615<br>
                            Transaction: vente<br>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="m-3 p-3" style="background-image:url('{{ asset('build/images/dossier1.png') }}');background-size:cover"><br>
                <span class="badge bg-danger radius10 float_right">Dossier invalide</span><br>
                    <p class="text2 mt-1"> 
                        ID dossier: 2 <br>
                        Client:  Ulrich Nelson <br>
                        Référence bien: EAT615<br>
                        Transaction: vente<br>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="m-3 p-3" style="background-image:url('{{ asset('build/images/dossier1.png') }}');background-size:cover"><br>
                <span class="badge bg-success radius10 float_right">Dossier valide</span><br>
                    <p class="text2 mt-1"> 
                        ID dossier: 2 <br>
                        Client:  Ulrich Nelson <br>
                        Référence bien: EAT615<br>
                        Transaction: vente<br>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="m-3 p-3" style="background-image:url('{{ asset('build/images/dossier1.png') }}');background-size:cover"><br>
                <span class="badge bg-success radius10 float_right">Dossier valide</span><br>
                    <p class="text2 mt-1"> 
                        ID dossier: 2 <br>
                        Client:  Ulrich Nelson <br>
                        Référence bien: EAT615<br>
                        Transaction: vente<br>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="m-3 p-3" style="background-image:url('{{ asset('build/images/dossier1.png') }}');background-size:cover"><br>
                <span class="badge bg-danger radius10 float_right">Dossier invalide</span><br>
                    <p class="text2 mt-1"> 
                        ID dossier: 2 <br>
                        Client:  Ulrich Nelson <br>
                        Référence bien: EAT615<br>
                        Transaction: vente<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="m-3 p-3" style="background-image:url('{{ asset('build/images/dossier1.png') }}');background-size:cover"><br>
                <span class="badge bg-success radius10 float_right">Dossier valide</span><br>
                    <p class="text2 mt-1"> 
                        ID dossier: 2 <br>
                        Client:  Ulrich Nelson <br>
                        Référence bien: EAT615<br>
                        Transaction: vente<br>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="m-3 p-3" style="background-image:url('{{ asset('build/images/dossier1.png') }}');background-size:cover"><br>
                <span class="badge bg-success radius10 float_right">Dossier valide</span><br>
                    <p class="text2 mt-1"> 
                        ID dossier: 2 <br>
                        Client:  Ulrich Nelson <br>
                        Référence bien: EAT615<br>
                        Transaction: vente<br>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="m-3 p-3" style="background-image:url('{{ asset('build/images/dossier1.png') }}');background-size:cover"><br>
                <span class="badge bg-danger radius10 float_right">Dossier invalide</span><br>
                    <p class="text2 mt-1"> 
                        ID dossier: 2 <br>
                        Client:  Ulrich Nelson <br>
                        Référence bien: EAT615<br>
                        Transaction: vente<br>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="m-3 p-3" style="background-image:url('{{ asset('build/images/dossier1.png') }}');background-size:cover"><br>
                <span class="badge bg-success radius10 float_right">Dossier valide</span><br>
                    <p class="text2 mt-1"> 
                        ID dossier: 2 <br>
                        Client:  Ulrich Nelson <br>
                        Référence bien: EAT615<br>
                        Transaction: vente<br>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

        <script>
           //-------------------------MODEL GRILLE LISTE PRODUITS --------------------------
            document.getElementById('btn_liste_produits').addEventListener('click',afficherListeProduit);
            function afficherListeProduit(){
                $("#table_grille_produits").hide();
                $("#table_liste_produits").show();
            }
            document.getElementById('btn_grille_produits').addEventListener('click',afficherGrilleProduit);
            function afficherGrilleProduit(){
                $("#table_liste_produits").hide();
                $("#table_grille_produits").show();

            }
        </script>
{% endblock %}