<style type="text/css">
	@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
	.font1{
		font-family: Impact, Charcoal, sans-serif;
	}
	.bg_1{
		background-color:red;
	}
	.bg_2{
		background-color:#e6eed6;
	}
	table {
		width: 100%;
		color: #717375;
		font-family: helvetica;
		line-height: 5mm;
	}
	.page{
	}
	.container{
		margin:-20px;
		padding:20px;
		border: 20px solid #e6eed6;
	}
	.description{
		text-decoration:justify;
	}
</style>

<page backtop="0mm" backleft="0mm" backright="0mm" backbottom="0mm" footer="page;" class="page">
	<page_footer>
		<hr/>
		<small>
			Facture générée automatiquement sur le site
		</small>
	</page_footer>
	<div class="container border1">
		<table>
			<tr>
				<td style="width:40%">
					<p class="description">{{bien.description}}Rerum et rerum et aperiam vel quod. Provident qui iste eos
						aut quaerat. Nobis quos sed numquam aut optio qui hic aut.
						Rerum et rerum et aperiam vel quod. Provident qui iste eos
						aut quaerat. Nobis quos sed numquam aut optio qui hic aut.
						Rerum et rerum et aperiam vel quod. Provident qui iste eos
						</p>
				</td>
				<td style="width:2%">
				</td>
				<td style="width:55%" class="bg_1"><br><br>
					<h1 class="font1" 
					style="text-align:center;color:#b4cc83;background-color:#230F58;font-size:50px; padding:40px; margin:10px ;font-family:Arial;">EXCLUSIVITE</h1><br><br><br>
				</td>
			</tr>
		</table><br>
		<table>
			<tr>
				<td class="bg_2" style="width:50%"><br><br><br>
					<b><h1  style="text-align:center;font-size:25px; font-weight:600;text-transform:uppercase;color:#222222;padding:5px;">
						{{bien.typeTransaction  == 0 ? 'Location': 'Vente'}}<br><br>
						{{bien.categorie.nom}}<br><br>
						{{bien.ville}}
					</h1></b>
				</td>
				<td style="width:2%">
					
				</td>
				<td style="width:50%" class="bg_1">
					<img src="https://images.pexels.com/photos/6775268/pexels-photo-6775268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:100%; height:250px;"><br>
				</td>
			</tr>
		</table><br>
		<table>
			<tr>
				<td style="width:40%" class="bg_1">
					<img src="https://images.pexels.com/photos/5875843/pexels-photo-5875843.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="width:100%; height:250px;"><br>
				</td>
				<td style="width:2%">
					
				</td>
				<td style="width:58%" class="bg_1">
					<img src="https://images.pexels.com/photos/6585764/pexels-photo-6585764.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="width:100%; height:250px;"><br>
				</td>
			</tr>
		</table><br><br>
		<table class="bg_2">
			<tr>
				<td style="width:20%" >
					
				</td>
				<td style="width:20%">
					
				</td>
				<td style="width:20%">
					
				</td>
				<td style="width:20%">
					
				</td>
				<td style="width:20%">
					
				</td>
			</tr>
		</table>
		<strong>{{bien.titre}}</strong><br/>
		<strong>{{bien.prix}}</strong><br/>
	
	</div>

</page>
