<style type="text/css">
	@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
	.font1{
		font-family: Impact, Charcoal, sans-serif;
	}
	table {
		width: 100%;
		color: #717375;
		font-family: helvetica;
		line-height: 5mm;
	}
	.page{
	}
	.container{
		background-color:#e6eed6;
	}
	.description{
		text-decoration:justify;
	}
</style>

<page backtop="0mm" backleft="0mm" backright="0mm" backbottom="0mm" footer="page;" class="page">
	<div class="container">
		<img src="https://images.pexels.com/photos/5563472/pexels-photo-5563472.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:35%;height:200px;">
		<img src="https://images.pexels.com/photos/5563472/pexels-photo-5563472.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:33%;height:500px;border:3px solid #e6eed6">
		<img src="https://images.pexels.com/photos/5563472/pexels-photo-5563472.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:35%;height:200px;border:10px solid #e6eed6!important">
		{# <table>
			<tr>
				<td style="width:40%">
					<p class="description">{{bien.description}}
						</p>
				</td>
				<td style="width:2%">
				</td>
				<td style="width:55%" class="bg_1"><br><br>
					<h1 class="font1" 
					style="text-align:center;color:#b4cc83;background-color:#230F58;font-size:50px; padding:40px; margin:10px ;font-family:Arial;">EXCLUSIVITE</h1><br><br><br>
				</td>
			</tr>
		</table> #}

		{# <strong>{{bien.titre}}</strong><br/>
		<strong>{{bien.prix}}</strong><br/> #}
		
	</div>

</page>
