<style type="text/css">
	@import url('https://fonts.googleapis.com/css2?family=Six+Caps &display=swap');
	.font1 {
		font-family: Impact, Charcoal, sans-serif;
	}
	table {
		width: 100%;
		color: #717375;
		font-family: helvetica;
		line-height: 5mm;
	}
	.page {}
	.container {
		background-color: #e6eed6;
	}
	.description {
		text-decoration: justify;
	}
</style>

{# <page backtop="0mm" backleft="0mm" backright="0mm" backbottom="0mm" footer="page;"> #}
<page>
	<page_footer>
		<div style="background-color:#b4cc83;color:black;padding:20px">
			<small>
				AGENCE
			</small>
		</div>
	</page_footer>
	<div>
		{# {% if bien.typeTransaction == 0 %}
					<img src="{{ asset('build/images/banner_vente.png') }}" style="width:50px!important; height:100px!important">
				{% else %}
					<img src="{{ asset('build/images/banner_location.png') }}" style="width:50px!important; height:100px!important">
				{% endif %} #}
		<img src="https://images.pexels.com/photos/5563472/pexels-photo-5563472.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:100%;height:450px;">

		<img src="https://images.pexels.com/photos/5563472/pexels-photo-5563472.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="margin-top:8px; width:32%;height:200px;">

		<img src="https://images.pexels.com/photos/5563472/pexels-photo-5563472.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:34%;height:200px;">

		<img src="https://images.pexels.com/photos/5563472/pexels-photo-5563472.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:32%;height:200px;">

		<table style="padding:15px;">
			<tr style="">
				<td style="width:70%;background-color:#e6eed6;padding:15px;">
					<h1 style="text-transform:uppercase; color:black">
						<span style="font-weight:bold!important;font-size: 2.75em!important">{{bien.titre}}
						</span>
						<span style="float:right!important">{{bien.prix}}€</span>
					</h1>
					<p class="description" style="text-align:justify">{{bien.description}}</p>
					<table style="width:100%">
						<tr>
							<td style="background-color:#b4cc83;padding:15px;width:20%">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<img src="https://img.icons8.com/ios-filled/50/000000/surface.png" style="width:25px;padding-left:65px!important;"/>
							</td>
							<td style="background-color:#b4cc83;margin:15px;padding:15px;width:20%">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<img src="https://img.icons8.com/ios-filled/50/000000/bed.png" style="width:25px"/>
							</td>
							<td style="background-color:#b4cc83;margin:15px;padding:15px;width:20%">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<img src="https://img.icons8.com/ios-filled/50/000000/floor-plan.png" style="width:25px"/>
							</td>
							<td style="background-color:#b4cc83;margin:15px;padding:15px;width:20%">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<img src="https://img.icons8.com/ios-filled/50/000000/heating.png" style="width:25px"/>
							</td>
							<td style="background-color:#b4cc83;margin:15px;padding:15px;width:20%">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<img src="https://img.icons8.com/ios-filled/50/000000/place-marker--v1.png" style="width:25px"/>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td style="text-align:center;color:black;">{{bien.surface}}
								m²</td>
							<td style="text-align:center;color:black;">{{bien.nbreChambre}}</td>
							<td style="text-align:center;color:black;">{{bien.nbrepiece}}</td>
							<td style="text-align:center;color:black;">{{bien.typeChauffage}}</td>
							<td style="text-align:center;color:black;">{{bien.ville}}</td>
						</tr>
					</table>
				</td>
				<td style="width:30%;padding:15px;margin-top:15px;">
					<img src="https://bbcairtest.fr/images/norme%20dpe.png" style="width:100%;height:300px"/>
				</td>
			</tr>
		</table><br>

		{# <strong>{{bien.titre}}</strong><br/>
				<strong>{{bien.prix}}</strong><br/> #}

	</div>

</page>
