//importer les pages ou les élements que l'on aura à customiser
@import "animate.css/source/_base.css";
@import "~animate.css/source/fading_entrances/fadeInRight.css";
@import "~animate.css/source/fading_entrances/fadeInDown.css";
@import "variables";
@import "navbar";
@import "btn";
@import "appPro/sidebar";
@import "appPro/content";
// Impot font google
@import url("https://fonts.googleapis.com/css2?family=Amiko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https:fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
@import url("https:fonts.googleapis.com/icon?family=Material+Icons");
//Importer le fichier flashy.scss pour gérer et customiser nos messages flash lors du traitement des informations
@import"./lib/flashy.scss";
@import '~select2/dist/css/select2.css';
@import "~bootstrap/scss/bootstrap";
@import "~sweetalert2/dist/sweetalert2.css";
body {
    text-transform: none;
    overflow-x: hidden;
}

//Donner une police Futura à toute l'application
// * {
//     font-family: "Futura Std Light";
// }
//------- Background
.bg_primary {
    background-color: $default-color-primary;
}

.bg_secondary {
    background-color: $default-color-secondary;
}

.bg_grey {
    background-color: $default-color-grey;
}

.bg_active {
    background-color: #62848c!important;
}

.bg_light {
    background-color: #d6dfe1!important;
}

.bg_medium {
    $default-color-grey3: #adaca3!important;
}

//--------Texte
.text_primary {
    color: $default-color-primary;
}

.text_secondary {
    color: $default-color-secondary !important;
}

.text_grey {
    color: $default-color-grey;
}

.text1 {
    font-family: "Amiko", sans-serif !important;
}

.text2 {
    font-family: "Quicksand", sans-serif !important;
}

.titre_accueil {
    text-transform: none;
    font-size: 6.2em;
    font-weight: bold;
}

.sous_titre {
    font-weight: bolder;
    text-transform: uppercase;
    color: $default-color-secondary;
}

.text_normal {
    text-transform: none;
    text-decoration: none;
}

.text_justify {
    text-align: justify;
}

.text_veticale {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
}

// radius
.radius10 {
    border-radius: 15px;
}

.radius55 {
    border-radius: 55px;
}

.radius35 {
    border-radius: 35px;
}

// all input form
.select2-container {
    width: 100%!important;
}

.select2-container--default .select2-selection--single {
    border-radius: 15px!important;
    padding-top: 18px!important;
    padding-bottom: 18px!important;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 15px!important;
    padding-top: 6px!important
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $default-color-secondary;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: -15px;
}

.ap-input-icon svg {
    top: 67%!important;
}

//pagination
.pagination a {
    margin: 0 4px!important;
    color: gray;
    border-radius: 20px;
}

.pagination .page-item.active .page-link {
    color: $default-color-secondary!important;
    border-radius: 20px!important;
}

.pagination .page-item.disabled .page-link {
    color: gray!important;
    border-radius: 20px!important;
}

.pagination .page-item:first-child .page-link {
    border-radius: 20px!important;
}

.page-item:first-child .page-link {
    border-radius: 20px!important;
}

.pagination .page-item:last-child .page-link {
    border-radius: 20px!important;
}

// icones
.icon1 {
    height: 20px;
}

// text rotation verticale
.parentRotate {
    display: table;
}

.text_rotation {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transform: rotate(270deg);
    margin-left: -40px;
    margin-top: 38px;
    text-decoration: none;
}

// float
.float_right {
    float: right;
}

.float_left {
    float: left;
}

// btn
.btn_primary {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    background-color: $default-color-primary;
}

.btn_nav_active {
    background-color: #62848c !important;
    border-radius: 20px;
    border-style: solid;
    border-color: #62848c;
}

.shadowbtn:hover {
    box-shadow: 0 2px 5px rgba(72, 78, 85, 0.6);
}

// height
.h-90 {
    height: 90%;
}

.w-90 {
    width: 90%;
}

.w-15 {
    width: 15%;
}

.w-35 {
    width: 35%;
}

.hover_primary:hover {
    background-color: $default-color-primary!important;
}

.hover_secondary:hover {
    background-color: $default-color-secondary!important;
}

//images
.image_border_left {
    border-style: solid;
    border-width: 4px;
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-color: $default-color-primary;
}

// HR separation
.hr_triangle {
    // width:;
    // height: 200px;
    border-bottom-width: 123px;
    margin-bottom: -1px;
    border-left: 1180px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 156px solid $default-color-primary;
    // -webkit-transform: rotate(360deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

//navbar
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.nav-link:hover {
    color: $default-color-primary !important;
    // font-weight:bold;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405d9d;
    color: #fff;
}

.btn-twitter {
    background-color: #42aeec;
    color: #fff;
}

//page d'inscription formulaire
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.container {
    padding: 2px 16px;
}


/* Scrollbar Styling */

::-webkit-scrollbar {
    width: 8px;
    height: 10%!important;
}

::-webkit-scrollbar-track {
    background-color: #a7b9bd;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #154854;
}

//Animated
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

//---Collapse Filtre produit
.toggle-label {
    cursor: pointer;
}

#cbToggleVisibility {
    position: absolute;
    left: -999999999px;
}

.target {
    display: none;
}

#cbToggleVisibility:checked~.target {
    display: block;
}

.pl_0 {
    padding-left: 0!important;
}

.pr_0 {
    padding-right: 0!important;
}

.mt_2 {
    padding-top: 5px!important;
}

.mr-1 {
    margin-right: 1px!important;
}

.radius15 {
    border-radius: 15px!important
}

@media (print),
(prefers-reduced-motion) {
    .animated {
        -webkit-animation: unset !important;
        animation: unset !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}