.btn_primary{
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    border-radius:30px;
    background-color:$default-color-primary;
}

.btn_nav_active{
    background-color:$blue2!important;
    border-radius:20px;
    border-style:solid;
    border-color:$blue2;
}

// pagination
.page-item.active .page-link{
    background-color: $default-color-primary!important;
    border-color: $default-color-primary!important ;
    color: $default-color-primary!important;
}
    