.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
//tooltips 
.social__tooltip{
    opacity: 0;
    position: absolute;
    padding: .5rem 1rem;
    background-color: $default-color-primary;
    color: var(--first-color-light);
    font-size: var(--normal-font-size);
    white-space: nowrap;
    font-weight: 700;
    border-radius: .5rem;
    pointer-events: none;
  }
  .social__tooltip::after{
    content: '';
    position: absolute;
    background-color: $default-color-primary;
    border-radius: 3px;
  }
  .social__content,
  .social__tooltip,
  .social__icon{
    transition: .3s;
  }
  .social__content:hover{
    background-color: $default-color-primary;
  }
  .social__content{
    position: relative;
    background-color: $default-color-primary;
    cursor: pointer;
  }
  /*========== Tooltip bottom ==========*/
  .social__tooltip-bottom{
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }
  .social__tooltip-bottom::after{
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 1px;
  }
  .social__content:hover .social__tooltip-bottom{
    opacity: 1;
    bottom: -1rem;
  }