
$default-color-primary : #B4CC83;
$default-color-secondary : #154854;
// $default-color-primary : #FF5733;
// $default-color-secondary : #581845;
$default-color-grey: #424040;
$default-color-grey2: #F6F6F6;
$default-color-grey3: #adaca3;
$blue2:#62848c;

// TAILLE
$break-large: 1200px;
$break-medium: 992px;
$break-small: 768px;