{% extends 'appPro/layout.html.twig' %} {% block title %} {% endblock %} {% block content %}
<section class="pt-4 h-100" id="content-wrapper" style="width:100%!important;height:1000px!important">
    <div class="container">
    {# coucou les amis #}
        <div class="row w-100 align-items-center"> 
            <div class="col-md-8">
                {% if agence.imageAgence %}
                    <img src="{{ vich_uploader_asset(agence, 'imageFile') | imagine_filter('thumb') }}" width="100" alt="" class="float-right"> 
                {% else %}
                    <img src="{{ asset('build/images/banner.jpg') | imagine_filter('thumb')  }}" width="100" alt=""> 
                {% endif %} <span class="text1 text_secondary mt-3 font-weight-bold h6">AGENCE / MODIFIER LES INFORMATIONS DE L'AGENCE </span>
            </div>
            <div class="col-md-4 float_right p-0">
                
            </div>
        </div>
        <div class="radius10 shadow card p-3 mt-5">
            <div class="row mt-3">
                <div class="col-md-4 mx-auto">
                    {{form_start(form, {'attr': {novalidate: 'novalidate'}})}} 
                    {{ form_row(form.telephone,{'attr': {'class': 'radius10 text2'}}) }}
                </div>
                <div class="col-md-4 mx-auto">
                    {{ form_row(form.adresse,{'attr': {'class': 'radius10 text2'}}) }}
                </div>
                <div class="col-md-4 mx-auto">
                    {{ form_row(form.codePostal,{'attr': {'class': 'radius10 text2'}}) }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-4">
                    {{ form_row(form.email,{'attr': {'class': 'radius10 text2'}}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.ville,{'attr': {'class': 'radius10'}}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.denomination,{'attr': {'class': 'radius10'}}) }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-8">
                    {{ form_row(form.description,{'attr': {'class': 'radius10'}}) }}
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.imageFile,{'attr': {'class': 'border-0 bg_secondary text-light p-3'}}) }}
                        </div>
                        <div class="col-md-6">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-8"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    {{form_rest(form)}}
                    {% if agence is defined %}
                        <button type="submit" class="btn bg_primary text-dark radius10 text1 text-uppercase"> ENREGISTRER</button>
                    {% else %}
                        <button type="submit" class="btn bg_primary text-light radius10"> Créer l'agence</button> 
                    {% endif %} {{ form_end(form)}}
                </div>
            </div>
        </div>
        

    </div>

</section>
{% endblock %}