{% extends 'appPro/layout.html.twig' %} 
{% block title %} Tous les détails sur l'agence {% endblock %} 
{% block content %}

<section class="pt-4" id="content-wrapper" style="width:100%!important">

   <div class="container">

    <div class="row w-100 align-items-center">

            <div class="col-md-8">
                <span class="text1 text_secondary mt-3 font-weight-bold h6">AGENCE / INFORMATION</span>
            </div>
            <div class="col-md-4 float_right p-0">
                <a href="{{path('edit_agence', {id: agence.id}) }}">
                    <span class="radius10  float_right bg_secondary text-center text-light p-2 text2 text-decoration-none">&nbsp; Mettre à jours &nbsp; <i class="fa fa-edit"></i></span>
                </a>
          
            </div>
        </div>
        <div class="card shadow radius10 border-0 p-4 mt-5" >
                <h1 class="font-weight-bold text2">Agence {{agence.denomination}}</h1><br>

            <div class="row">
                <div class="col-md-5">
                {% if agence.imageAgence %}
                        <img src="{{ vich_uploader_asset(agence, 'imageFile') | imagine_filter('thumb') }}" class="w-100 radius10 img-fluid" style="height:450px"> {% else %}
                        <img src="https://images.pexels.com/photos/1115804/pexels-photo-1115804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 | imagine_filter('thumb')" class="w-100 radius10 img-fluid" style="height:450px"> 
                    {% endif %}
                   
                </div>
                <div class="col-md-7">
                     <ul class="list-group list-group-flush text2">
                             <li class="list-group-item">
                            <span class="badge badge-secondary bg_secondary"><i class="bi bi-calendar-date text-light h4"></i></span> Créé le : {{agence.createdAt | date('d/m/y')}}
                        </li>
                        <li class="list-group-item"><span class="badge badge-secondary bg_secondary"><i class="bi bi-geo-fill text-light h4"></i></span> {{ agence.adresse}} {{ agence.ville}} {{ agence.codePostal}}</li>
                    </ul>
                    

                    <div class="col-md-12">
                        <h5 class="text-underline mt-2 text_secondary"><u>Contact</u></h5>
                        <table class="table table-striped">
                            <tr  class="text-justify text2">
                                <td>Email</td>
                                <td>{{agence.email}}</td>
                            </tr>
                            <tr  class="text-justify text2">
                                <td>Téléphone</td>
                                <td>{{agence.telephone}}</td>
                            </tr>
                        </table>
                    </div>
                    <h5 class="text-underline mt-3 text_secondary"><u>Descritpion de l'agence</u></h5>

                    <p class="text1 text-justify text2">{{agence.description | nl2br }}</p>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}