<!DOCTYPE html>
<html>
    <head> 
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>{% block title %}Agence Immobilière{% endblock %}</title>
		<meta name="description" content="{% block description %}{% endblock %}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
        {% endblock %}
    </head>
    <body>
        {# {{render(controller('App\\Controller\\appPro\\ParamettreController::detailAgence',{}))}}      #}
        {# {{dump(controller('App\\Controller\\appPro\\ParamettreController'))}}  #}
            
        {# {{ dump(path('admin_detail_agence')) }} #}
        {% set flashbag_messages = app.session.flashbag.all() %}
        {% for type, messages in flashbag_messages %}
			{% for message in messages %}
				<div class="message fadeInRight animated w-25" id="success-alert" style="right:0px!important;float: right!important;position: absolute;z-index: 999;top: 20px;">
                    {% if type == "success" %}
                        <div class="border-0 shadow  alert  bg_primary " role="alert" style="border-top-left-radius:20px!important;border-bottom-left-radius:20px!important;" >
						<p class="text-dark font-weight-bold"><i class="bi bi-check-circle-fill"></i> {{ message|raw }}</p>
					</div>
                    {% elseif type == "warning" %}
                        <div class="border-0 shadow alert " role="alert" style="border-top-left-radius:20px!important;border-bottom-left-radius:20px!important;background-color:#FFB133;" >
						    <p class="text-dark font-weight-bold"> <i class="bi bi-info-circle-fill"></i> {{ message|raw }}</p>
					    </div>
                    {% elseif type == "danger" %}
                        <div class="border-0 shadow alert" role="alert" style="border-top-left-radius:20px!important;border-bottom-left-radius:20px!important;background-color:#C53A3A!important;" >
						    <p class="text-light font-weight-bold text-light"> <i class="bi bi-exclamation-triangle-fill"></i> {{ message|raw }}</p>
					    </div>
                    {% else  %}
                        <div class="border-0 shadow flash-{{ type }} alert " role="alert" style="border-top-left-radius:20px!important;border-bottom-left-radius:20px!important;background-color:#a7b9bd" >
                            <div class="row align-items-center">
                                <div class="col-md-10">
                                    <p class="text-dark font-weight-bold mt-2">{{ message|raw }}</p>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="close btn float-right" data-dismiss="alert" aria-label="Close" >
                                        <span class="text-light" aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                                    </button><br>
                                </div>
                             </div>
                        </div>
                    {% endif %}
				</div>
			{% endfor %}
		{% endfor %}
		{% block body %}
			{% block sidebar %}{% endblock %}
			{% block navbar %}{% endblock %}
			{% block content %}{% endblock %}
			{% block footer %}{% endblock %}
		{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
             <script src="//code.jquery.com/jquery.js"></script>
             <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        {% endblock %}
        {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    </body>
</html>
