{% extends 'appPro/layout.html.twig' %}

{% block title %}
	BuyAndRent App - Créer une option
{% endblock %}

{% block description %}{% endblock %}
{% block content %}
<section class="pt-4 h-100" id="content-wrapper" style="width:100%!important;height:1000px!important">
    <div class="container ">
        <div class="row w-100 align-items-center">
            <div class="col-md-8">
                <span class="text1 text_secondary mt-3 font-weight-bold h6">OPTIONS / AJOUTER UNE OPTION</span>
            </div>
            <div class="col-md-4 float_right p-0">
            </div>
        </div>
        {{form_start(form, {'attr': {novalidate: 'novalidate'}})}}
        <div class="row pt-4">
            <div class="col-md-9">
                {{form_rest(form,{ attr: { 'class': 'radius10' }})}}
            </div>
            <div class="col-md-3">
                <button class="btn bg_secondary text2 w-100 radius10 text-light text-decoration-none h1 px-4 ">{{ button|default('AJOUTER') }}</button>
            </div>
        </div>
        {{form_end(form)}}
        </div>

        <hr>
        <div class="container">
            <table class="table container shadow table-striped table-hover table_liste_produits" >
            <thead >
                <tr class="text2 text_secondary bg_primary">
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col" class="float_right">Actions <i class="bi bi-three-dots-vertical"></i></th>
                </tr>
            </thead>
            <tbody class="text2">
            {% for option in options %}
                <tr>
                    <td>{{ option.id}}</td>
                    <td>{{ option.nom}}</td>
                    <td>
                        <a href="{{path('supprimer_option_pro', {id: option.id}) }}" class="btn btn_action badge bg-danger text2 float_right radius10" onclick="return confirm('Voulez-vous vraiment supprimer cette option ?')"><i class="bi bi-trash "></i></a>

                        <a href="{{ path('editer_option_pro', {'id': option.id}) }}"  class="btn btn_action badge bg_primary text2 float_right radius10"><i class="bi bi-vector-pen text-dark"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        
	</div>
</section>
{% endblock %}
