{% extends 'appPro/layout.html.twig' %}

{% block title %}
BuyAndRent App - Editer une option
{% endblock %}

{% block content %}
<section class="pt-4 h-100" id="content-wrapper" style="width:100%!important;height:1000px!important">
    <div class="container ">
        <div class="row w-100 align-items-center">
            <div class="col-md-8">
                <span class="text1 text_secondary mt-3 font-weight-bold h6">
                <a href="{{path('creer_option_pro')}}"  class="text_secondary text-decoration-none"><i class="bi bi-arrow-left-short"></i> OPTIONS </a> / MODIFIER</span> 
            </div>
            <div class="col-md-4 float_right p-0">
            </div>
        </div>
        <hr>
       <p class="text-center h5 text2 mt-4">Modification de l'option <b>{{option.nom}}</b></p> 
		<div class="row  card m-auto d-block w-75 p-5 mt-5">
            <div class="col-md-12">
                {{form_start(form, {'attr': {novalidate: 'novalidate w-100'}})}}
                {{form_rest(form)}}
                <button class="btn bg_secondary text2 w-100 radius10 text-light text-decoration-none h1 px-4 mt-3">{{ button|default('ENREGISTRER') }}</button>
            </div>
        </div>
        {{form_end(form)}}

	</div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
        <script>
           
        </script>
{% endblock %}

