{% extends 'appPro/layout.html.twig' %}

{% block title %}
	BuyAndRent App - Liste des fiches vitrines
{% endblock %}

{% block description %}{% endblock %}
{% block content %}
<style>
    .imgHoverFV{
        transition: 0.3s!important;
    }
     .imgHoverFV:hover{
        /* height:20px!important; */
        border: 4px solid #5c8483;
        background-color:#5c8483;
        opacity: 0.5;
    }
</style>
<section class="pt-4 h-100" id="content-wrapper" style="width:100%!important;height:1000px!important">
    <div class="container">
        <div class="row w-100 align-items-center">
            <div class="col-md-8">
                <span class="text1 text_secondary mt-3 font-weight-bold h6">FICHE VITRINES / CREER </span>
            </div>
            <div class="col-md-4 float_right p-0">
                <span class="badge bg_secondary text1 radius10 text-decoration-none text-uppercase font-weight-bold h1 py-2">&nbsp; Générer une fiche vitrine pour: {{bien.titre}} &nbsp;</span>
            </div>
        </div>
        <div class="mt-4">
            <div class="row align-items-center">
                <div class="col-md-3  p-4" style="background-color:#e6eed6">
                <div class="row  align-items-center">
                    <span class="text1 text-center text_secondary text-uppercase font-weight-bold h6">Etape 1: choisir un model</span><br><br>
                        <div class="col-md-6">
                            <a class="" href="{{path('fiche_vitrine_creer_m1', {'id': bien.id})}}"> <img src="{{ asset('build/images/modelFiche2_.png') }}" class="img-fluid imgHoverFV img-responsive rounded shadow" style="border: 4px solid #5c8483;"></a>
                                <p class="text-center text-muted"><small>Model 3 photos</small></p>
                        </div>
                        <div class="col-md-6">
                            <a href="{{path('fiche_vitrine_creer_m2', {'id': bien.id})}}"><img src="{{ asset('build/images/modelFiche4_.png') }}" class="img-fluid imgHoverFV img-responsive rounded shadow"></a>
                                <p class="text-center text-muted"><small>Model 6 photos</small></p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                       
                        <div class="col-md-6">
                            <div>
                                <a href="{{path('fiche_vitrine_creer_m3', {'id': bien.id})}}"> <img src="{{ asset('build/images/modelFiche1.jpg') }}" class="img-fluid imgHoverFV img-responsive rounded shadow imgFiche1"></a>
                            </div>
                            <p class="text-center text-muted"><small>Model 4 photos</small></p>
                        </div>
                        <div class="col-md-6">
                            <a href="{{path('fiche_vitrine_creer_m4', {'id': bien.id})}}"><img src="{{ asset('build/images/modelFiche2.jpg') }}" class="img-fluid imgHoverFV img-responsive rounded shadow "></a>
                                <p class="text-center text-muted "><small>Model 6 photos</small></p>
                        </div>
                    </div> 
                    
                        <a class='btn bg_primary text-decoration-none w-100 text-dark pt-2 radius10  text-center px-2' href="{{absolute_url('/uploads/pdf/fiche_vitrine' ~ bien.id ~'.pdf' )}}" target="_blank" title="Téléchager la fiche vitrine" ><i class="fas fa-download text-dark font1"></i> Téléchager la fiche vitrine</a>
                </div>
                <div class="col-md-1">
                    <center><i class="bi bi-arrow-right h3   text_secondary"></i><center>
                </div>
                <div class="col-md-8">
                    {% include "appPro/fiche-vitrine/block/form_fiche_vitrine.html.twig" %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}