{% extends 'appPro/layout.html.twig' %}

{% block title %}
	BuyAndRent App - Liste des fiches vitrines
{% endblock %}

{% block description %}{% endblock %}
{% block content %}
<section class="pt-4 h-100" id="content-wrapper" style="width:100%!important;height:1000px!important">
    <div class="container">
        <div class="row w-100 align-items-center">
            <div class="col-md-8">
                <span class="text1 text_secondary mt-3 font-weight-bold h6">FICHE VITRINES / LISTE DES FICHES <small>(2)</small></span>
            </div>
            <div class="col-md-4 float_right p-0">
                {# <a href="#">
                    <span class="float_right badge bg_secondary text2 radius10 text-decoration-none h1 py-2">&nbsp; Générer une fiche &nbsp; <i class="bi bi-file-earmark-richtext-fill"></i></span>
                </a> #}
            </div>
        </div>
        <style>
                .btn_creer_fiche_hover{display: none;} 
                .imgFiche1:hover ~ .btn_creer_fiche_hover {
                    display: block!important;
                }
        </style>
        <div class="mt-4">
            <div class="row align-items-center">
                    <div class="col-md-2">
                        <div>
                            <center> <a href="{{path('ajouter_produit_pro')}}" target="_blank" class="text-center badge bg_secondary text2 radius10  btn text-decoration-none h1 py-2 btn_creer_fiche_hover text-center btn_creer_fiche_hover" style="margin-top:-150px!important;z-index: 999;position:relative">
                            <span class="">&nbsp; Créer &nbsp; <i class="bi bi-plus-circle-fill"></i></span>
                            </a></center>
                            <img src="{{ asset('build/images/modelFiche1.jpg') }}" class="img-fluid img-responsive rounded shadow imgFiche1">
                        </div>
                        <p class="text-center text-muted"><small>Model 4 photos</small></p>
                    </div>
                    <div class="col-md-2">
                        <a><img src="{{ asset('build/images/modelFiche2.jpg') }}" class="img-fluid img-responsive rounded shadow"></a>
                            <p class="text-center text-muted"><small>Model 6 photos</small></p>
                    </div>
                    <div class="col-md-2">
                        <a> <img src="{{ asset('build/images/modelFiche2_.png') }}" class="img-fluid img-responsive rounded shadow"></a>
                            <p class="text-center text-muted"><small>Model 3 photos</small></p>
                    </div>
                    <div class="col-md-2">
                        <a><img src="{{ asset('build/images/modelFiche4_.png') }}" class="img-fluid img-responsive rounded shadow"></a>
                            <p class="text-center text-muted"><small>Model 6 photos</small></p>
                    </div>
                    <div class="col-md-2">
                        <a><img src="{{ asset('build/images/ajouterModel.png') }}" class="img-fluid img-responsive rounded shadow"></a>
                        <p class="text-center text-muted"><small>Sur mesure</small></p>
                    </div>
                </div> 
            </div>
        </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

        <script>
           //-------------------------MODEL GRILLE LISTE PRODUITS --------------------------
            document.getElementById('btn_liste_produits').addEventListener('click',afficherListeProduit);
            function afficherListeProduit(){
                $("#table_grille_produits").hide();
                $("#table_liste_produits").show();
            }
            document.getElementById('btn_grille_produits').addEventListener('click',afficherGrilleProduit);
            function afficherGrilleProduit(){
                $("#table_liste_produits").hide();
                $("#table_grille_produits").show();

            }
        </script>
{% endblock %}